[2016-12-07 17:43] ngbusca opened #1 "more cpu results in performance degradation"
Testing the cf code with 24 cores is slower than with 12 cores on a mac pro.

[2016-12-08 22:57] ngbusca commented on #1
It seems that the explanation is that the 24 cores in the mac pro are actually 12 "hyperthreaded" cpus, which might explain the results.

I tried on a different computer with 24 actual cores:
* when running on 12 cores I get the same performance on both computers
* when running on 24 cores there's no gain on the mac pro, and almost a factor of two on the second computer

[2016-12-08 22:57] #1 closed

[2017-01-23 08:20] londumas opened #2 "Add "add pyLyA/py/ to your PYTHONPATH" in README"
In the README,
add a line saying:
"add pyLyA/py/ to your PYTHONPATH"

[2017-01-23 08:32] londumas opened #3 "pyLyA/py/pylya/io.py, should read "Z" instead of "Z_VI""
In  pyLyA/py/pylya/io.py,

We should first try to read "Z", then "Z_VI", then "Z_PIPE", then "Z_PCA".

In DR12 there is no problem but in DR14, the best redshift is in "Z"

[2017-01-23 13:54] londumas opened #4 "bug in reading the data"
I tested with a small number of spectra.

I get:

`
hdumasde@hdumasde:~/Documents/Documents/Thèse/Code/Igm_hub/pyLyA$ python bin/do_deltas.py --in-dir /home/hdumasde/Documents/Documents/Thèse/Data/SpectraV5_10_0/ --drq ../../../Data/DR14Q_v1_1.fits --out-dir ../../../Data/Deltas --mode spec --zqso-min -10.0 --zqso-max 10.0

BAL_FLAG_VI not found, ignoring BAL

446140

determining nside

nside = 16

[2017-01-23 13:56] londumas opened #5 "indentation is hard"
This is an open question:

The indentation you make seems to be with 4-spaces.

It makes a painfull work when multiple indentation are to be used.

Why not using the "indent key" ? There is then no counting.

[2017-01-23 14:02] londumas commented on #5
Currently the indentation is a mixe of spaces and indent.
This makes strange to see.

See picture bellow with a mix of different indentation.
![indentation](https://cloud.githubusercontent.com/assets/3166436/22206819/04fc0f9e-e17d-11e6-9185-5e5343f2a751.png)

[2017-01-23 14:05] londumas commented on #5
On another editor, it makes sense.
![indentation_2](https://cloud.githubusercontent.com/assets/3166436/22206935/5dbad070-e17d-11e6-8717-30f700b24706.png)

[2017-01-23 14:06] londumas commented on #5
It isn't very nice to have different behaviour with different editor.

[2017-01-23 14:07] andreufont commented on #5
Helion, it is important to use always either one or the other, you don't want to mix tabs with spaces. Python style guide recommends to use 4 spaces for indentation
https://www.python.org/dev/peps/pep-0008/#tabs-or-spaces
and what I do is setup my editor to print 4 spaces when I hit the tab key.

[2017-01-23 14:09] londumas commented on #5
Yes I agree that we should use one or the other, not both.

This is the current state of the code.

[2017-01-23 14:28] londumas opened #6 "py/pylya/io.py : read_drq and RA==DEC==0."
We should remove RA==DEC==0. quasars from the catalog.

They are obviously bugged.

[2017-01-23 14:33] londumas commented on #6
They have ThingID==0, so we can forget

[2017-01-23 14:33] #6 closed

[2017-01-24 09:12] ngbusca commented on #4
scipy version 0.17.0 or higher is required

[2017-01-24 09:12] #4 closed

[2017-01-24 09:12] ngbusca commented on #5
Many things in life are hard...

[2017-01-24 09:30] ngbusca commented on #5
In the head I've replaced all tabs by 4 spaces... It should be ok now...

[2017-01-24 09:30] #5 closed

[2017-01-24 09:33] ngbusca commented on #3
fixed in the head

[2017-01-24 09:33] #3 closed

[2017-01-24 09:34] ngbusca commented on #2
Fixed in the head

[2017-01-24 09:34] #2 closed

[2017-01-25 09:51] londumas opened #7 "add the automatic redshift range in cross-correlation"
In do_xcf.py,
There could be an option to find automatically the range of redshift for the objects
according to the line_RF and to the rp_min and rp_max.
It is a simple calculation that just need the assumed cosmology.

[2017-01-25 09:55] londumas opened #8 "cross-correlation calculation misses pairs"
The calculation of angmax:

xcf.angmax = sp.arcsin(xcf.rt_max/cosmo.r_comoving(constants.boss_lambda_min/args.lambda_abs-1))

should take into account the xcf.rp_min (i.e. most of the time -200 Mpc.h-1) in the calculation.

For now it misses pairs.

[2017-01-25 09:59] londumas commented on #8
So it should be:
`
cosmo.r_comoving(constants.boss_lambda_min/args.lambda_abs-1)+xcf.rp_min
`

[2017-01-25 10:01] ngbusca commented on #8
Do you want to branch, make the modif and merge request?

[2017-01-25 10:02] londumas commented on #8
For now,
I am just putting the issue on gitHub so I don't forget them.
I will take care of correcting them after, I can't now.

[2017-01-25 12:06] londumas opened #9 "What to store ?"
In the cross-correlation measurement, the code doesn't store:
the number of pairs in each bin, the simple error (w1*w2*d1*d1), and z_eff = <z> for z in [80,120].

I would argue to keep all these values.
- The simple error gives a good indication of the variance without a complicated algorythm (Wick, bootstraps, ...)
- z_eff, is well defined like so.

What more should we store ?

[2017-01-25 12:09] londumas opened #10 "Adding "0" for spec-files"
In Python, there is the simple method "zfill()"
https://www.tutorialspoint.com/python/string_zfill.htm
to replace the more painful:

            if f<10:
                fid='0'+fid
            if f<100:
                fid = '0'+fid
            if f<1000:
                 fid = '0'+fid

[2017-01-25 12:13] londumas opened #11 "What level of verbose"
Should the code be more verbose when doing some cuts, for example:
in read_drq(), tell how many objects, then how many cutted, ...

This could be helpfull to trace some loss.
What do you think ?

[2017-01-25 12:35] londumas opened #12 "All possible correlations"
Here is a list of all the possible correlation that can be
calculated in the context of pixels and objects.
Please complete the list if something has been forgotten and tell if already codded

1D Auto-correlation:
    - 1D forest auto-correlation  (Done)
1D Cross-correlation:
    - 1D forest_1 - forest_2 cross-correlation
    - 1D forest_1 - object_from_same_forest cross-correlation
3D Auto-correl

[2017-01-25 12:50] londumas opened #13 "Name and values of transitions"
In order to agree on names and transition values of the IGM component,
we could copy the array of metal lines from pyLya_the_fitter here (fit/py/utils.py)
into the constants file.

This would help us agree on the values and names.
For example : 'SiII(1193)'  : 1193.2897
Previously we use to call it SiII a,b or c. This is too misleading.

[2017-01-25 15:22] londumas opened #14 "mean continuum has fixed nb_bins"
in py/pylya/prep_del.py,
the mc() (and other histos) has a constant number of bins,
this produces problems when looking at a wide range in lambda_rf (for example the overall quasar spectrum).

We could find a way to get this controlled by the user.

[2017-01-25 15:27] londumas opened #15 "degeneraci between mean continuum and stack"
There is currently a degeneracy between the mean continuum (flux vs. l_RF) and the stack (flux vs l_obs).
This degeneracy could be broken by constraining the continuum to be 1 at some wavelength,
for example l_rf = 1280

This changes nothing to the calculation of delta but allows the different stack and continuum to be compared between forests.

[2017-01-25 15:30] ngbusca commented on #15
I disagree, the mean continuum is normalized to 1, which breaks the degeneracy.

[2017-01-25 15:39] londumas commented on #15
Yes, it breaks the degeneracy.
But then if one look at the continuum in one range and the other one in an other range,
then we can't compare them. Even if one range is inside the other.

[2017-01-25 15:43] londumas commented on #15
With this definition then the stack is a fluctuation around 1 (like figure 4 of the auto-correlation paper) and the mean-continuum as a fixed value in 1280, always the same one.

How does your stack and your mean-continuum look like ?

[2017-01-25 16:04] londumas opened #16 "veto skylines"
Add the possibility to veto skylines given a file.
For example
line_name     lambda_min (A)    lambda_max (A)

skyLines__ = [ (3932,3937),(3966,3972),(4357,4362),(5573,5585),
                (5885,5902),(6296,6311),(6320,6334),(9336,9344),
                (9369,9383),(9435,9449),(9460,9465),(9695,9705)]

[2017-01-25 16:25] londumas opened #17 "continuum fitting fails with complex numbers"
Sometime for some low S/N spectrum I get:

/home/gpfs/manip/mnt0607/bao/hdumasde/Program/Igm_hub/pyLyA/py/pylya/data.py:145: ComplexWarning: Casting complex values to real discards the imaginary part
  mig.migrad()

To investigate, but seems to be linked to the quasar continuum going negative, zero or from negative to positive.

I get that with:
/home/gpfs/manip/mnt0607/bao/hdumasde/Program/Igm_hu

[2017-01-25 16:27] londumas commented on #17
Seems to be linked also to unmasked skylines

[2017-01-25 16:47] londumas opened #18 "Correct for flux calibration"
The pipeline has some mistakes due to calibration stars and skylines
(see figure 4 of auto-correlation paper: Bautista et al.).
A nice way to correct for this is to estimate it in the red side of the forest.

Do we want to have the possibility to correct the flux of forests by this effect.
Maybe by giving an asci or .fits file with:
lambda_obs correction err_correction
and correcting the flux and

[2017-01-25 17:04] ngbusca commented on #18
This functionality is in the current baseline analysis but hasn't yet been ported to pyLyA (it's in the to-do list)

[2017-01-25 17:05] ngbusca commented on #17
You are pushing the code into realms were it wasn't built to work... I'm not sure I wan't to fix this

[2017-01-25 17:07] londumas commented on #18
ok, how do you see such a correction ?
Maybe feeding the code with another "iter.fits.gz" file.
This make more sense.

[2017-01-25 17:09] andreufont commented on #17
Now that you are looking at it, Hélion, it would be quite interesting to
look at what fraction of spectra do not get a valid continuum from the
code, as a function of quasar redshift and magnitude (r).

Andreu

On 25 January 2017 at 17:05, Nicolas Busca <notifications@github.com> wrote:

[2017-01-25 17:15] londumas commented on #17
I kind of disagree Nicolas,
We want the code to perform everywhere, not only in the Lyman-alpha forest region.
So we should track such fails, see the reason why and remove them from our forest list.

Maybe we should add a self.fit_is_correct bool in the forest to see if the fit is good, at least test the "is_valid" value of iminiut.

[2017-01-25 17:27] ngbusca commented on #17
Sorry, but these flags:

--lambda-rest-min 0.001 --lambda-rest-max 10000.0

don't make sense.

@andreufont the continuum fit doesn't fail on any spectrum.

[2017-01-25 17:29] andreufont commented on #17
Wow! That's impressive. I thought you had a minimum SNR for which you were
able to get a good continuum fit. Are there no quasars in DR12Q that are
pathological, or that have all pixels in the forest masked?

Andreu

On 25 January 2017 at 17:27, Nicolas Busca <notifications@github.com> wrote:

[2017-01-25 17:34] londumas commented on #17
@ngbusca
I don't say that the continuum only fails when taking
--lambda-rest-min 0.001 --lambda-rest-max 10000.0
I just put the command to keep track,
what quasars does that is yet to understand and find.

The only things I know now is that it happens for some cases.

[2017-01-25 17:46] ngbusca commented on #17
@andreufont I preselect spectra with 50 or more unmasked pixels

[2017-01-25 17:46] ngbusca commented on #17
@londumas then please give an example of more standard choices that result in the same problem

[2017-01-26 08:06] londumas commented on #17
This happens with "forest.var_lss" giving negative numbers through interpolation.
Then the code takes sp.log(we), where we=iv/(iv*var_lss*m**2+1).
Apparently the log value of a negative number is a complex.

This happens when the "var_lss" is not well measured or extrapolated way out if its range.

For example at the blue of the lyman-alpha forest, I don't know if there are other cases, maybe we c

[2017-01-26 08:08] londumas commented on #17
An easiy fix is to add
`
var_lss[(var_lss<0.)] = 0.
`
after
`
var_lss = forest.var_lss(self.ll)
`

[2017-01-26 08:22] londumas opened #19 "Set continuum parameter to previous iteration results"
In  pyLyA/py/pylya/data.py/ cont_fit(self),

The code could do the following to gain some time, although I don't know if much.

`
if self.p0 is None:
    self.p0 = self.p1 = (self.fl*self.iv).sum()/self.iv.sum()

mig = iminuit.Minuit(chi2,p0=self.p0,p1=self.p1,error_p0=abs(self.p0/2.),error_p1=abs(self.p1/2.),errordef=1.,print_level=0)
`

[2017-01-26 09:27] #15 closed

[2017-01-26 09:43] londumas commented on #13
fixed in fix_issue_13

[2017-01-26 09:43] #13 closed

[2017-01-26 09:52] londumas commented on #8
fixed in fix_issue_8

[2017-01-26 09:52] #8 closed

[2017-01-26 09:55] londumas commented on #10
no fix needed

[2017-01-26 09:55] #10 closed

[2017-01-26 09:56] londumas commented on #19
the code is fast enough

[2017-01-26 09:56] #19 closed

[2017-01-26 10:42] londumas commented on #7
fixed in fix_issue_7

[2017-01-26 10:42] #7 closed

[2017-01-27 09:13] londumas opened #23 "compare angles vs. compare cos(angle)"
In  pyLyA/py/pylya/xcf.py / def fill_neighs(pix)
you compare the angles:

`
ang = d^neighs

w = ang<angmax
`

this makes you use the "sp.arccos(cos)", which is very time consuming.

Why not comparing the cos(angle), then there is no need to call this function.

[2017-01-27 09:43] ngbusca commented on #23
The angle is needed in other places of the code...

[2017-01-27 09:47] londumas commented on #23
I know that.
but there can be room for faster code,
important when doing the MGII-galaxy correlations where there are a lot
of objects.

The angle could be easily calculated for only the good forest-object
pairs with
another operator. Currently it is calculated twice for each pair.

What do you think ?

Le 27/01/2017 à 10:43, Nicolas Busca a écrit :

--

**************************
Hélion du Mas de

[2017-01-27 10:10] ngbusca commented on #23
The code doesn't have a bottleneck at the calculation of angles.

[2017-01-27 10:21] andreufont commented on #23
Helion, there are several profiling tools for python that would help you
identify the slowest parts of the code. I've never tried them (I've only
used them in c++), but a quick google search pointed me to this.
https://docs.python.org/2/library/profile.html

Best,
Andreu

On 27 January 2017 at 10:10, Nicolas Busca <notifications@github.com> wrote:

[2017-01-30 07:49] londumas opened #24 "do cross-correlation only for a given number of forest"
do cross-correlation only for a given number of forest,

adding the option: nspec as in do_deltas.py

[2017-01-30 07:51] londumas commented on #24
already exists

[2017-01-30 07:51] #24 closed

[2017-01-30 08:53] londumas commented on #18
It would take the field loglam and stack from a given file and correct with it.

Here what it looks like from the CIV forest
![correction_flux](https://cloud.githubusercontent.com/assets/3166436/22416974/f5e2c20a-e6d1-11e6-9d6b-3100cb896007.png)

[2017-01-30 09:13] ngbusca commented on #18
The correction should be read from the iter.fits.gz file that the user previously generated by running do_deltas on civ with the same choice of lambda-obs-min and lambda-obs-max, so as to have the same binning.

Then, as fluxes are read from the files, they should be divided by the correction. Note that this only corrects for multiplicative residuals.

[2017-01-30 09:20] londumas commented on #18
Agreed,
We could add a method to "forest", similar to "cont_fit".
i.e. using a interp1d to correct the flux and the invers variance (fl and iv) if the option is there.

What do you say ?

[2017-01-30 09:23] ngbusca commented on #18
In the __init__ of the class forest I'd add a keyword with the correction vector (None by default). If this vector is not None, then divide the flux by it (and multiply iv by this squared).

No interpolation, assume that the wavelength grids are the same (interpolating still leaves residuals).

[2017-01-30 09:28] londumas commented on #18
ok.
Is the grid for the stack the same as for the data ?
If yes then no problem, we just have to do a test on the  "iter.fits.gz" of calibration to see if it is on the same grid, with the same range of lambda_obs.

[2017-01-30 17:32] #23 closed

[2017-01-30 17:35] londumas opened #25 "Cross-correlation:: Don't look when quasar are too far from first or last pixel"
It is possible to fast the code by not looking
when quasars are too far from first or last pixel.

With a simple time and checking the output is the same, we have:

### 1000 forests, no cut
real	2m39.522s
user	4m25.268s
sys	0m15.972s

### 1000 forests, with cut
real	1m57.189s
user	3m22.204s
sys	0m2.720s

[2017-01-30 17:41] londumas commented on #25
fixed in fix_issue_25

[2017-01-30 17:41] #25 closed

[2017-01-30 18:20] londumas commented on #25
for 10000,

### 10000, no cuts
real	22m40.997s
user	39m3.276s
sys	5m10.960s

### 10000, with cuts
real	15m11.999s
user	29m10.548s
sys	0m18.256s

[2017-01-31 08:18] londumas commented on #9
fixed in fix_issue_9

[2017-01-31 08:18] #9 closed

[2017-01-31 08:38] londumas opened #28 "cross-correlation:: number of pairs is not integer"

[2017-01-31 08:40] londumas commented on #28
fixed in fix_issue_28

[2017-01-31 08:40] #28 closed

[2017-01-31 09:07] londumas opened #30 "cross-correlation:: code crash when forest has no quasar around"
code crash when forest has no quasar around,
the solution is simple:

add:
 if (d.neighs.size != 0):

[2017-01-31 09:10] londumas commented on #30
fixed in fix_issue_30

[2017-01-31 09:10] #30 closed

[2017-01-31 10:27] londumas opened #32 "cross-correlation:: code crash if some empty pixels"
code crash if some empty pixels,
the solution is simple:

    cut      = (wes.sum(axis=0)>0.)
    rp       = (rps*wes).sum(axis=0)
    rp[cut] /= wes.sum(axis=0)[cut]
    rt       = (rts*wes).sum(axis=0)
    rt[cut] /= wes.sum(axis=0)[cut]
    z        = (zs*wes).sum(axis=0)
    z[cut]  /= wes.sum(axis=0)[cut]

[2017-01-31 10:33] londumas commented on #32
fixed in fix_issue_32

[2017-01-31 10:33] #32 closed

[2017-02-01 10:59] londumas opened #34 "automatic redshift range in do_delta"
In do_deltas.py, if zqso-min or zqso-max
are not given they could be calculated automatically from
lambda-*  and lambda-rest-*

What do you think?

[2017-02-01 11:17] ngbusca commented on #34
Yes, it's a good idea

[2017-02-01 13:24] londumas commented on #34
fixed in fix_issue_34

[2017-02-01 13:24] #34 closed

[2017-02-01 20:56] londumas opened #36 "choose number of proc in do_deltas"
Add the option to choose the number of procs in do_deltas.py

[2017-02-01 20:57] londumas commented on #36
fixed in fix_issue_36

[2017-02-01 20:57] #36 closed

[2017-02-02 08:21] #11 closed

[2017-02-02 08:24] londumas commented on #14
The physics of lines is naturally described in a grid constant in lambda_RF.
The grid could be then constant in delta_RF, with a step given by the user
or something like every 1A.

[2017-02-03 15:51] londumas commented on #16
Would you think a list of lines should be given in some files ?
Or no need ?

[2017-02-03 15:53] londumas commented on #16
Here is a simple list for test:
line_0  3932 3937
line_1  3966 3972
line_2  4357 4362
line_3  5573 5585
line_4  5885 5902
line_5  6296 6311
line_6  6320 6334
line_7  9336 9344
line_8  9369 9383
line_9  9435 9449
line_10 9460 9465
line_11 9695 9705

[2017-02-03 15:54] londumas opened #38 "Code tracks "~" file"
The code tracks files with "~", xould you be ok to add an exception in .gitignore?

[hdumasde@iclust pyLyA]$ git commit
On branch fix_issue_16
Changes not staged for commit:
	modified:   bin/do_deltas.py
	modified:   py/pylya/data.py

Untracked files:
	bin/do_deltas.py~
	bin/do_xcf.py~
	py/pylya/constants.py~
	py/pylya/data.py~
	py/pylya/io.py~
	py/pylya/xcf.py~

[2017-02-03 15:56] londumas commented on #16
fixed in fix_issue_16

[2017-02-03 16:12] londumas commented on #38
fixed in fix_issue_38

[2017-02-03 16:12] #38 closed

[2017-02-03 16:17] londumas commented on #18
We can also just add a correct_flux(self,correction) method to the class forest.
Where correction is the vector.

What do you prefer ?

[2017-02-05 09:03] ngbusca commented on #17
can I close this issue?

[2017-02-05 09:06] ngbusca commented on #14
I prefer the loglam grid because it's the spacing is same in rest and lab frame. We could determine the number of bins from lambda-rest-min, lambda-rest-max and the bin size (given by rebin * 1e-4)

[2017-02-06 07:52] londumas commented on #17
won't fix since seems to append with unrealistic configuration

[2017-02-06 07:52] #17 closed

[2017-02-06 07:52] londumas commented on #14
ok, I leave you do that.

[2017-02-06 08:44] #16 closed

[2017-02-06 08:50] londumas opened #41 "remove empty bin in interp1d"
At some place in the code, there are definitions of interpolation function.
empty bins should be removed before definitions.

In:
   - do_deltas.py
   - do_dmat.py
   - do_wick
   - do_xdmat

[2017-02-06 09:04] londumas commented on #41
for do_wick, we need to put the number of bins or/and the sum of weights when saving
do_cf1d.py, is that good for you ?

[2017-02-06 09:05] ngbusca commented on #41
let's put both...

[2017-02-06 10:17] londumas commented on #41
fixed in fix_issue_41

[2017-02-06 10:17] #41 closed

[2017-02-06 13:19] londumas commented on #18
fixed in fix_issue_18

[2017-02-06 13:19] #18 closed

[2017-02-08 08:14] londumas opened #44 "Remove pixels too far from the first or last object"
Remove pixels too far from the first or last object.

For example, in the CIV forest, correlating with LRG_CMASS.
some pixels are too far from the last galaxy
(see plot with blue pixels and green galaxy)
Removing them before calculation would speed-up the code.

![distribution_object](https://cloud.githubusercontent.com/assets/3166436/22728564/ec2bb5a0-edde-11e6-83a6-cb036bf1d2b5.png)

[2017-02-08 11:18] londumas opened #45 "definitions of angmax are wrong"
There is a small difference, that must be negligible.

for auto-correlation, it should be:
`
cf.angmax = 2.*sp.arcsin(cf.rt_max/(2.*cosmo.r_comoving(z_pix_min))
`

for the cross-correlation, it should be
`
xcf.angmax = 2.*sp.arcsin(xcf.rt_max/(2.*cosmo.r_comoving(z_pix_min)+xcf.rp_min)
`

[2017-02-08 11:22] londumas commented on #45
or better for cross correlation:

`
xcf.angmax = 2.*sp.arcsin(xcf.rt_max/(cosmo.r_comoving(z_pix_min)+cosmo.r_comoving(z_qso_min))
`

since we can already remove too far qsos with
`
    ### Find the redshift range
`

[2017-02-09 17:30] ngbusca opened #46 "Add mask for lines in the DLA rest frame"
We might want to mask dla metal lines, this requires a mask in the DLA rest.

[2017-02-09 18:03] londumas commented on #46
Or we could correct for them the same way we do for DLA,
i.e. with a correction to the flux.

[2017-02-15 08:51] londumas opened #47 "and_mask cut is hard coded and fixed to 0"
In  pyLyA/py/pylya/data.py,
the code cuts all pixels with "AND_MASK!=0",
this can change from analysis to analysis.
It could be put as an argument in the parser of  pyLyA/bin/do_deltas.py.

In the current cross analysis, I remove only AND_MASK>2^16.

[2017-02-15 09:08] londumas commented on #47
Looking on the first 10,000 quasar spectra, we have:

The first plot gives the distribution of LAMBDA_OBS for all the pixels with a AND_MASK not zero.
![distibution_lambdaobs_notzeroandmaskpixel](https://cloud.githubusercontent.com/assets/3166436/22967344/64e82fd2-f366-11e6-8bc4-daa3156271f5.png)

The second plot gives the percent of pixels with a given AND_MASK value,
the point of abscisse 0, is

[2017-02-15 09:21] ngbusca commented on #47
A mask says that something was wrong in the extraction. It's dangerous to leave crap in the analysis.

[2017-02-15 09:31] londumas commented on #47
It is a good point,
and any way the second figure shows that we loose only a few.

In the SDSS wiki, they say, the folowing.
But we don't see any "AND_MASK=2^24" any way

https://www.sdss3.org/dr9/algorithms/bitmask_sppixmask.php

[2017-02-15 09:37] #47 closed

[2017-02-15 09:49] londumas commented on #47
To keep track,
this SDSS page describe the AND_MASK

https://www.sdss3.org/dr9/algorithms/bitmask_sppixmask.php

[2017-02-15 09:50] andreufont commented on #47
Helion, your plot shows a peak on and_mask = 2^24, isn't it?
Andreu

On 15 Feb 2017 09:37, "londumas" <notifications@github.com> wrote:

[2017-02-15 09:53] londumas commented on #47
@andreufont ,
Sorry there was a mistake in the last version of the plot.
The point is at "and_mask = 2^23" (i.e. BRIGHTSKY).
That is why a lot of these pixels have lambda_obs > 7000 A

[2017-02-15 09:56] andreufont commented on #47
It makes sense. Thanks!
Andreu

On 15 Feb 2017 09:53, "londumas" <notifications@github.com> wrote:

[2017-02-16 08:03] londumas commented on #46
It might be also important to do it not only for metals but also for Lyb

[2017-02-16 09:05] londumas commented on #46
Figure 7 and 8 of Mas-Ribas et al. could be useful.
https://arxiv.org/abs/1610.02711

[2017-02-16 09:26] ngbusca commented on #46
we masked dla metals and lybeta in Delubac et al. but not for the later analyses. It didn't make a difference but it's cleaner to do it.

[2017-02-16 09:28] londumas commented on #46
But do we want to mask Lyb and metals or correct them the same way we do for the DLA(Lya) ?
I would tend to correct them.

[2017-02-16 09:58] londumas commented on #46
In my cross analysis I also only take into account the DLA(Lya) line.
I have tested with corrections of metal lines, and although it is nicer, it gives no much differences.
Maybe only in the strength of the metals in the cross and auto correlation.

I tried something like that, where the strength of the metals where from the stack of DLA.
In practice it should ba a function of the strenth of the D

[2017-02-16 10:06] londumas commented on #46
Where each metal is given as a gaussian (eq. 9 of Mas-Ribas et al.) of constant "a".
The strength should be given by the figure 11.

I don't know if we want to go that far,
but it is something I tried to see the effect some time ago.

[2017-02-16 10:44] londumas commented on #46
Parameters  pyLyA/py/pylya/dla.py are hard codded.
Where does these parameters come from ?

[2017-02-16 10:45] ngbusca commented on #46
From Pasquier

[2017-02-16 10:45] londumas commented on #46
but a paper or himself ?

[2017-02-16 10:47] ngbusca commented on #46
I use the exact same parameters that define his dla profile. He gave me his code that I translated into python, I took them from there

[2017-02-16 10:49] londumas commented on #46
Ok, I see.
That is why for example "c = 3e8".
Because then we have the result of the best fit.
OK.

[2017-02-16 14:53] londumas opened #48 "\overline{F} missing in weight definition"
In pyLyA/py/pylya/data.py,

the definition of the weight in "def from_forest(cls,f,st,var_lss,eta):"
at lines:

[code]

The f.st(), i.e. the mean transmitted flux fraction seems to be forgotten.

[2017-02-16 15:24] londumas commented on #48
same in :  pyLyA/py/pylya/prep_del.py

[2017-02-16 17:35] londumas opened #49 "convergence criterion"
In Bautista el al. we say:

maybe the code could get this difference between the different iterations, or maybe
the result of C, F, sigma, eta for each iteration.

[2017-02-16 17:37] londumas commented on #49
But I doubt that the difference is a good criterion,
I would think that the variance of the difference would be a better test.

[2017-02-17 08:34] ngbusca commented on #48
Indeed, I'll fix it. Note though that st=1 to better than 1%.

[2017-02-17 08:35] londumas commented on #48
Yes it is true.

[2017-02-17 08:36] londumas commented on #48
Or actually, it is no more than 4%, as in the plot of
https://github.com/igmhub/pyLyA/issues/18

[2017-02-17 09:04] londumas opened #50 "Add folder for resour files"
It would be nice to have a folder to put resource files in it.
For exemple a file ready to use to veto sky lines.
Or sky calibration already calculated

The folder could be called "Resources" or "Sources"

[2017-02-17 10:03] londumas opened #51 "definition of eta is inverse of papers"
The definition of "eta" in the code is the inverse of the definition in the papers

"eta" is given as a function of z in https://arxiv.org/pdf/1211.2616.pdf, figure 6.

In the code it gives the blue line of the following plot
![capture du 2017-02-17 11-02-34](https://cloud.githubusercontent.com/assets/3166436/23061094/c46dd114-f500-11e6-8c3a-cd35b977fa1c.png)

[2017-02-17 10:11] ngbusca commented on #51
yes, it's the inverse

[2017-02-18 08:56] londumas commented on #51
fixed in fix_issue_51

[2017-02-18 08:56] #51 closed

[2017-02-18 09:01] londumas opened #53 "range limit of sigma 2 LSS is too low"
The range "limit_vlss=(0.0,0.3)" is too low in the Lya forest and the Lyb forest.

![capture du 2017-02-18 10-00-10](https://cloud.githubusercontent.com/assets/3166436/23091946/3281232a-f5c1-11e6-8916-3f2fd216d637.png)

[2017-02-18 09:43] londumas commented on #53
would a new limit of (0.0,1.) work for you ?

[2017-02-18 10:27] ngbusca commented on #53
That's ok, although I'd be very careful with using data from the red spectrograph, since there are many many skylines in the red.

[2017-02-18 10:28] londumas commented on #53
ok, I will do the merge request

[2017-03-03 17:00] londumas opened #54 "Spead of light value"
In constants, cosmo:  https://github.com/igmhub/pyLyA/blob/master/py/pylya/constants.py

The value of c is 299792.4583
Where does the last "3" comes from ?

It isn't in the definition I have
https://fr.wikipedia.org/wiki/Vitesse_de_la_lumi%C3%A8re

Anyway, it doesn't change much

[2017-03-03 17:40] londumas opened #55 "D_A vs. D_M"
In https://github.com/igmhub/pyLyA/blob/master/py/pylya/constants.py,

for Ok=0, the code gives
self.da = interpolate.interp1d(z,chi)
which seems to be "dm" actually.

[2017-03-06 05:36] ngbusca commented on #54
No clue, I just fixed it in master

[2017-03-06 05:47] ngbusca commented on #55
Yes, da is the "comoving" angular diameter distance, also for Ok != 0. I don't think the notation "dm" is standard. In any case, I've added a comment in the code to make it clear.

[2017-03-06 07:34] #54 closed

[2017-03-06 07:34] #55 closed

[2017-03-06 07:36] londumas opened #56 "if ok!=0, self.da no longer a function"
ig Ok<0 or Ok>0, delf.da is a scipy array.

We should have:
`

        if 0k==0.:

            self.da = chi

        elif Ok<0:

            self.da = sp.sin(H0*sp.sqrt(-Ok)/c*chi)/(H0*sp.sqrt(-Ok)/c)

        elif Ok>0:

             self.da = sp.sinh(H0*sp.sqrt(Ok)/c*chi)/(H0*sp.sqrt(Ok)/c)

        self.da = interpolate.interp1d(z,self.da)
`

[2017-03-06 09:05] ngbusca commented on #56
Indeed. It should be now fixed in master, can you take a look?

[2017-03-06 09:06] londumas commented on #56
fixed.

[2017-03-06 09:06] #56 closed

[2017-03-07 08:09] londumas opened #57 "Add storing number of pairs in all output"
Storing nb of pairs is missing in some output.
Like do_cf.py

[2017-03-10 08:08] londumas commented on #45
Tested for do_cf.py and do_xcf.py
by comparing the sum of weight with the new code and with the new code multiplying the angle by 1.5

[2017-03-10 08:08] londumas commented on #45
fixed in fix_issue_45

[2017-03-10 08:08] #45 closed

[2017-03-10 08:13] londumas commented on #57
only do_cf.py is missing them

[2017-03-10 08:18] londumas opened #59 "Keeping z per healpy pixel"
The code stores only:
[code]

If we were storing these measures as we are for 'WE' and 'DA' we could
easily get the subsampling error for z for example.
This is useful to get the z_eff and its error.

[2017-03-10 08:35] londumas commented on #59
fixed in fix_issue_59

[2017-03-10 08:39] londumas commented on #50
fixed in fix_issue_50

[2017-03-10 08:39] #50 closed

[2017-03-10 08:42] londumas commented on #59
I would keep all 'RP','RT','Z','NB','WE','DA'
as they are (i.e. one result per healpy pixel)
and then add a general code like prepare_for_fit.py to change this into a .data, .cov, .grid, .dmat
for the fitter.

[2017-03-10 08:54] ngbusca commented on #59
The output is fitter ready. Do you mean to baofit format? I have a py to baofit exporter, I can include it in pylya if you think it's useful

[2017-03-10 08:59] londumas commented on #59
I don't think it is fitter ready, there is not the distortion matrix and the covariance matrix:
https://gitlab.in2p3.fr/ngbusca/pyLyA/blob/master/fit/py/data.py

I don't mean for baofit.
I just mean that it could be useful to keep all the information of  'RP','RT','Z','NB','WE','DA',
for example for the error on z_eff.
but if we do then we have to convert this file for the fitter.

[2017-03-10 08:59] londumas commented on #59
obviously I don't say it is esential to have the error of z_eff, but it can be useful

[2017-03-10 09:00] ngbusca commented on #59
The export script calculates the covariance and produces a files with the data, the distorsion, etc. that can be fed to the fitter.

N

[2017-03-10 09:04] londumas commented on #59
ok. for that.
but do you agree that we can't get the error on the z_eff ?
We could save both "zs" and "z" and then it is ok.

[2017-03-10 09:07] ngbusca commented on #59
You have the error on z_eff from the histogram already. In any case, not that z_eff is not a well defined number, so it's not very meaningful to try to assign it a very precise error (it will be easier to discuss this offline)

[2017-03-10 09:08] londumas commented on #59
ok for offline

[2017-03-16 07:48] ngbusca commented on #46
Yes, that's a good idea

[2017-03-16 08:10] londumas opened #61 "Get metal grid for cross correlation"
Add calculating the grid according to a metal line for the cross-correlation

[2017-03-16 09:14] londumas commented on #61
fixed in fix_issue_61

[2017-03-16 09:14] #61 closed

[2017-03-16 10:14] londumas commented on #46
fixed in fix_issue_46

[2017-03-16 10:14] #46 closed

[2017-03-16 11:02] londumas opened #64 "DLA correction for all the Lyman serie"
We could not only correct for the Lya line but also for the Lyb for the DLA.

Pasquier answered my question and said (in French):

(ref : https://arxiv.org/pdf/1409.6321.pdf , page 6 )

[2017-03-16 13:16] londumas commented on #14
fixed in fix_issue_14

[2017-03-16 13:16] #14 closed

[2017-03-16 16:39] londumas commented on #44
fixed in fix_issue_44

[2017-03-16 16:39] #44 closed

[2017-03-16 18:08] londumas opened #67 "Code is loosing SDSS-I and SDSS-II QSO"
When doing the cross-correlation,
we loose all the SDSS-I and SDSS-II QSO with the cut THING_ID <= 0.

This can be solved by transforming the DR14Q catalogue by replacing all the Thing_ID by some arbitrary values not taken by other qsos. Except for sure for RA==DEC==0 qso.

Or it can be solved in the code itself.
What do you think ?

I would vote for no change of the code and a homemade change of

[2017-03-17 08:19] londumas commented on #53
corrected and tested in fix_issue_53

[2017-03-17 08:19] #53 closed

[2017-03-17 08:30] londumas commented on #64
Here are articles to start with:
    - eq 1.1 from Irsic et al. 2013 (https://arxiv.org/pdf/1307.3403.pdf) gives the oscillator strength
for all the series
    - other info here: https://arxiv.org/pdf/1306.0181.pdf

[2017-03-17 08:31] londumas opened #69 "projection flag doesn't apply to cross-correlation metal grid"

[2017-03-17 08:37] londumas commented on #69
fixed in fix_issue_69

[2017-03-17 08:37] #69 closed

[2017-03-17 08:39] londumas opened #71 "devide by zero in do_xdmat.py"
RuntimeWarning: invalid value encountered in divide
  dm/=wdm

[2017-03-17 09:16] londumas opened #72 "error in readme"
The README says:

distorsion matrix

python bin/do_dmat.py --in-dir deltas/ --out dmat.fits.gz --rej 0.95

    --rej is 1-fraction of pairs used for the calculation

Which is wrong, it is the fraction rejected.
0 is all pixels taken, 1 is no pixels taken

[2017-03-17 09:16] londumas commented on #72
sory, I understand it is & minos fraction

[2017-03-17 09:16] #72 closed

[2017-03-17 09:57] londumas commented on #64
Maybe more info in Morton 2003 (http://iopscience.iop.org/article/10.1086/377639/pdf)
in table 2.

[2017-03-17 10:00] londumas commented on #64
and in table 2 of another Morton et al 2003
(http://cdsads.u-strasbg.fr/cgi-bin/nph-iarticle_query?1991ApJS...77..119M&amp;data_type=PDF_HIGH&amp;whole_paper=YES&amp;type=PRINTER&amp;filetype=.pdf)

[2017-03-17 10:02] ngbusca commented on #64
I think here we need input from people doing the lyman-beta analysis @vserret @julienguy

[2017-03-17 10:05] londumas commented on #64
Already start doing so, second comment is from an answer from @vserret .

[2017-03-17 10:57] londumas opened #73 "add export_xMetalGrid.py"
Add exporting the result of the cross-correlation metal grid to the format for the fitter.

[2017-03-17 13:36] londumas commented on #73
fixed in fix_issue_73

[2017-03-17 13:36] #73 closed

[2017-03-17 15:22] londumas commented on #71
I can't correct that the simple way (i.e. dm[wdm>0.] /= wdm[wdm>0.]), I get
ValueError: operands could not be broadcast together with shapes (4319,5000) (4319,) (4319,5000)
dm is a 5000*5000 2D scipy array and wdm is a 5000 1D scipy array

I don't understand what is happening. @ngbusca, do you have an idea ?

[2017-03-17 15:26] ngbusca commented on #71
The dm[wdm>0] changes the sape of the arrays in a way that they can't be broadcasted. You have to do w = wdm>0, dm[:,w]=d[:,w]/wdm[w]

[2017-03-17 15:50] londumas commented on #71
thanks for the answer.
fixed in fix_issue_71

[2017-03-17 15:50] #71 closed

[2017-03-17 16:30] londumas opened #76 "do_deltas.py doesn't allow to control the nside from command line"
For now nside of healpy is hardcoded, why not putting it to
a command line or setting giving the information in pix_*.fits file.

[2017-03-17 17:23] londumas opened #77 "io.py doesn't work with new pix format"
The new pix files are different:
nside=8 and

  file: /home/gpfs/manip/mnt0607/bao/Spectra/Spectra_from_forest_Fusion/pixs/pix_30.fits
  extension: 0
  type: IMAGE_HDU
  extname: THING_ID_MAP
  image info:
    data type: i4
    dims: [425]

  file: /home/gpfs/manip/mnt0607/bao/Spectra/Spectra_from_forest_Fusion/pixs/pix_30.fits
  extension: 1
  type: IMAGE_HDU
  extname: LOGLAM_MAP
  image info:

[2017-03-17 17:23] londumas commented on #76
won't fixed sine linked to issue_77

[2017-03-17 17:23] #76 closed

[2017-03-17 17:49] ngbusca commented on #77
@slosar is working on this

[2017-03-18 07:57] londumas commented on #77
- @slosar how can all the spectrum have the same loglam_map ? This is not the case in spec files.
Did you rebin ?
   - @ngbusca do you want to kee the logic for the previous pix version ?

[2017-03-18 07:58] ngbusca commented on #77
Yes, there's a rebinning to a common lambda grid. What do you mean the logic?

[2017-03-18 08:01] londumas commented on #77
I mean, do you want the code to work for the previous version of pixels ?

[2017-03-18 08:02] ngbusca commented on #77
No, I don't think that's necessary.

[2017-03-18 09:01] londumas commented on #77
fixed in fix_issue_77

[2017-03-19 10:00] slosar commented on #77
I've looked at this, looks good. In fact, I think for the time being, it is pretty efficient so having a full reading library inside ffusion is not a priority. But getting coadds is...
Who is londumas, Hélion? :)

[2017-03-19 10:01] slosar commented on #77
In fact, quickly reopening this. NSIDE is stored in the header of master file, so you should read it from there -- should be one line fixer.

[2017-03-19 21:41] londumas commented on #77
indeed, londumas is Hélion.
I will do this fix

[2017-03-20 08:13] londumas commented on #77
@slosar is it ok if the code assumes that the master.fits file is in the same folder as the pixs file ?
It would be easier to code and simpler to structure.

[2017-03-20 08:18] londumas commented on #77
if you don't like it we would have to add a command line giving the path to the master file, which doesn't seem necessary.

[2017-03-20 08:37] londumas opened #79 "auto correlation with same wavelength"
In the auto correlation you keep the correlation between two pixels with exactly the same lambda_obs.
I think I remember that you told me we shouldn't since this is where there is a lot of systematics from the pipeline with object from the same plate
Am I wrong ?
It is here  https://github.com/igmhub/pyLyA/blob/master/py/pylya/cf.py in fast_cf

[2017-03-20 09:08] ngbusca commented on #79
They are masked if they are in the same half plate.

[2017-03-20 09:09] ngbusca commented on #79
see lines 89 to 92 of cf.py

[2017-03-20 09:15] londumas commented on #79
indeed, sory.

[2017-03-20 09:15] #79 closed

[2017-03-20 10:01] slosar commented on #77
Actually, that is a good point. We can go with master files the same dir as it is not that many files.

[2017-03-20 12:50] londumas commented on #77
https://github.com/igmhub/pyLyA/pull/78

fixed in fix_issue_77

[2017-03-20 12:50] #77 closed

[2017-03-21 08:34] londumas opened #80 "For a given lambda_obs, eta is different for different data samples"
The results for eta should be the same across forests since it only depends on the error of precision
calibration at a given wavelength.
In other words, eta is a function of lambdaOBS not of lambdaRF.

It is very stable between the MGII, SIIV and CIV forests. (first plot)

It is getting different for the Lya and the Lyb forests. (first plot)

Maybe this is linked to issue 48 (https://github.com/ig

[2017-03-21 08:48] andreufont commented on #80
Eta is a way of describing extra variance as a correction of the noise variance, right?

If so, you could have extra variance in the spectra coming from other things, and you think you need to correct the noise variance when may be the noise was ok.

For instance, think about continuum errors. If your model don't take these into account, you will measure some extra large variance, and you will hid

[2017-03-21 09:15] ngbusca commented on #80
I disagree, eta is (intended to be) a correction for the noise miscalibration which is a function of lambda_obs. In your plot there's a very good match up to ~5500. I can't say there's a disagreement above since there are no errorbars.

[2017-03-21 09:21] londumas commented on #80
@andreufont I disagree with you, this effect should reflect more on sigma_pow2_LSS.

@ngbusca I agree with you, to see if what I see is significant, we should plot the error.
For now, the code doesn't give any, I will think on a cleaver way to get it and store it

[2017-03-21 09:21] andreufont commented on #80
May be I wasn't clear: I was not suggesting that the noise correction should depend on rest frame wavelength, this wouldn't make sense. I was suggesting that *if* there was a dependence of eta on the rest-frame range used, it could be explained by extra variance not present in your model, like for instance variance in the continuum.

[2017-03-21 09:40] ngbusca commented on #80
I agree with @andreufont , but note that a dependence of eta vs lambda_rf is expected since not all bins in lambda_rf correspond to the same mean lambda_obs. So one should look for an evolution with lambda_rf beyond what's expected from the known evolution with lambda_obs.

[2017-03-22 07:56] londumas opened #81 "args.nspec acts on healpix pixels and not on spec"
In the code, args.nspec acts on each pixels and not on each spectrum.
So, when args.nspec is low,  the number of spectrum is basically given by:
nb_of_spectrum_in_first_pix

Now that we have nside=8, there is a lot of spectra in pixels and thus args.nspec is kind of bypased

[2017-03-22 08:09] ngbusca commented on #81
When you set nspec then the input stops whenever you read more than nspec. So if you had only one input healpix file it will read everything. I don't think it's a problem since nspec is mostly for debugging.

[2017-03-22 08:11] londumas commented on #81
It is not a big problem, obviously
indeed nspec is for debuging, so it need to be fast.

[2017-03-22 08:12] londumas commented on #81
and for example for do_cf or do_xdmat, the number of nspec is important for the debugging.

[2017-03-23 08:40] londumas opened #83 "io.py looks for a missing key in dic is no spectrum"
The new logic for the pixel is crashing if a spectrum is missing:
The line:
idx = thid2idx[t]
is looking then for an unknown key in a dic

[2017-03-23 08:41] ngbusca commented on #83
I'll take a look

[2017-03-23 08:43] ngbusca commented on #83
When a thing_id is not found in the pixel file the code will report it in the log file. Can you check if this has been logged correctly?

[2017-03-23 08:55] ngbusca commented on #83
Yes, the thing_id in DR12 are different from DR14

[2017-03-23 08:55] ngbusca commented on #83
I've added handling to master for when thing ids are not found in the pixel files

[2017-03-23 08:56] londumas commented on #83
fixed in bug_in_io

[2017-03-23 08:56] #83 closed

[2017-03-24 08:36] londumas opened #85 "add storing zeff and err_zeff in export.py"
In export.py we could and should add calculating zeff and its error
and storing them in the header of the output file.

[2017-03-24 08:54] ngbusca commented on #85
I'm not sure I agree. The user has zeff per bin and the weight per bin so she can compute it according to her application (e.g., the zeff of bao might be different from the zeff at low separations). Some day we might find that's better to define zeff between 90 and 110 Mpc/h instead of 80 and 120 Mpc/h, we dont' want to rerun export.py to change that.

[2017-03-24 09:00] londumas commented on #85
indeed, but we could add a command "argparse" for r_min_for_zeff and r_min_for_zeff set to 80,120 by default. But it complicates the simple export.py.

I don't know exactly what we should do but I don't really like the fact that the output results in pyLya_fitter
are given at the near unphysical zref and not at the really physical zeff (whatever its definition).

We could simply add a zeff paramet

[2017-03-24 09:01] vserret commented on #64
I can deal with that

[2017-03-24 09:07] londumas commented on #85
this is linked to issue https://gitlab.in2p3.fr/ngbusca/pyLyA/issues/110

[2017-03-24 09:09] ngbusca commented on #85
Is this a matter of principle? Could you describe the specific problem you are encountering?

[2017-03-24 09:12] londumas commented on #85
our measure is at z~zeff not at the zref of the input power spectrum.
Thus we shouldn't give the result in the save.pars and in the papers at zref.

[2017-03-24 09:12] londumas commented on #85
even if we can easily convert them.

[2017-03-24 09:14] ngbusca commented on #85
This is up to the user. Nothing prevents the user from generating an input at zeff.

[2017-03-24 09:18] londumas commented on #85
not totally true, because the user would have to write a code to do the peak sideband decomposition.

But indeed, you are right, when this code will be somewhere in IgmHub (in Python or free to use software) the user will do whatever he wants.

For now we are kind of stuck with using z=2.25 or z=2.40 produced for me by Michael

[2017-03-24 09:19] ngbusca commented on #85
That's right. We should ask Michael to make this code available (might be already part of baofit?)

[2017-03-24 11:23] londumas commented on #85
the code is currently in mathematica (140€)
here https://github.com/deepzot/mathpkg

[2017-03-28 12:21] londumas opened #88 "remove mean_delta vs. lambda_obs"
Since by definition the mean delta vs. lambda_obs is not zero, the cross-correlation function doesn't go to zero depending on the quasar distribution.
Also the projection of delta amplifies the effect.
 The solution is to remove the mean_delta by bins of lambda_obs before calculating the cross-correlation function.

Mean delta vs. lambda_obs for the LYA forest with a veto of sky emission lines and

[2017-03-28 12:24] londumas commented on #88
It could be done the same way as it is done for the projection : i.e. with a command line like "--no-project" and using stack in prep_del.py

[2017-03-28 12:41] ngbusca commented on #88
I'm not convinced that this is a problem and if it is, that that's the best solution. We should discuss this in person...

[2017-03-28 12:58] londumas commented on #88
Ok, let's talk about that face to face.
I put some plots to show the problem when going to the Lyb+lya forest

the mean delta vs lambda_obs
![capture du 2017-03-28 14-53-01](https://cloud.githubusercontent.com/assets/3166436/24405740/42126ab0-13c6-11e7-8bdf-e7c04909bdec.png)

the wedge comparing the LYAxQSO and the LYBandLYAxQSO:
![capture du 2017-03-28 14-57-47](https://cloud.githubusercontent.co

[2017-03-28 14:44] londumas commented on #88
In the code, looking at the stack of delta after the procjection, we get for the LYBandLYA forest:

![capture du 2017-03-28 16-41-54](https://cloud.githubusercontent.com/assets/3166436/24411227/ab5da598-13d5-11e7-941a-53967b500b64.png)

[2017-03-28 14:45] ngbusca commented on #88
Could you do this plot for the 100 mocks?

[2017-03-28 15:11] londumas commented on #88
@ngbusca Good idea, it must be smaller for the LYA only forest.
The previous was for the LYA+LYB to exaggerate the effect.

[2017-03-28 15:38] londumas commented on #88
Here is the comparison between the cross correlation QSO x LYBandLYA forest for two cases:
     - projection of delta only (blue)
     - projection of delta then removing the mean delta per lambda_obs bins. (red)

Obviously the second case correct the effect.

![capture du 2017-03-28 17-36-01](https://cloud.githubusercontent.com/assets/3166436/24413941/37ef0964-13dd-11e7-9a4b-2ec23fef1158.png)
![c

[2017-03-28 16:04] ngbusca commented on #88
Do you have the same plots for lyman-alpha forest only?

[2017-03-28 16:08] londumas commented on #88
yes, for the stack of mean delta we get the following, way smaller than for the LYBadnLYA.
![capture du 2017-03-28 17-03-42](https://cloud.githubusercontent.com/assets/3166436/24415327/6b626aa8-13e1-11e7-87c1-7fb0bc913db0.png)

I will get the LYA only and post it when I get it.

[2017-03-28 16:10] ngbusca commented on #88
To me, these plots suggest that we should calculate the lyman alpha and lyman beta forests independently...

[2017-03-28 16:18] londumas commented on #88
I disagree, this shows that this effect has to be present in the LYAalone x QSO, but weaker.

Here is the plot comparing the LYA x QSO and the LYAinLYBonly x QSO, we can see that even when dealing with the lybForest alone, we get this effect.

![capture du 2017-03-28 18-15-57](https://cloud.githubusercontent.com/assets/3166436/24415770/dd473698-13e2-11e7-88a7-b23bf7034f71.png)

[2017-03-28 16:19] andreufont commented on #88
I'm not sure if I'm adding noise here, but what I would do is create a model that has all the components, and fit them in iteration. Something like:

flux = continuum * mean_flux_alpha * (1+delta_alpha) * mean_flux_beta * (1+delta_beta) * calibration_correction + noise

where calibration_correction would model things like Balmer lines or galactic absorption lines. It would be equal to one if there

[2017-03-28 16:29] andreufont commented on #88
And even when doing this, after the iterative process has converged, you still have stacks of delta_alpha(obs) or delta_beta(obs) that are not consistent with zero?

[2017-03-28 16:31] ngbusca commented on #88
@londumas I don't really expect that fitting the entire lyman-alpha + lyman-beta interval works, you show that it doesn't. Then you show that with the lyman-alpha forest only data then no subtraction is needed.

What I would do is to look at mocks with both ways of treating the data and look at the differences on the stack of 100 mocks. I don't see any other way to decide what's better.

[2017-03-28 16:31] londumas commented on #88
yes, but I am not sure we have an donne this exactly :

[2017-03-28 16:32] ngbusca commented on #88
@andreufont Of course it's perfectly flat by construction. The problem is when you apply the projection operator and look at the stack of projected deltas.

[2017-03-28 16:35] londumas commented on #88
I have not showed that, I said that the correction is smaller (compare the two plots giving the stack of delta)

But I still need to post the wedges of cross comparing with and without subtraction the meanDelta.

[2017-03-28 16:35] andreufont commented on #88
@ngbusca I see. I haven't thought much about continuum fitting + projection. I will shut up, sorry for adding noise :-)

[2017-03-29 06:44] londumas commented on #88
Here is a comparison for the mean projected delta versus lambda_obs:
    - blue: gives one simulation
    - green gives the mean over the 100 simulations
    - red gives for the data: LYA only in DR12

The simulations are closer to 0 than the data, but they are very similar.

![capture du 2017-03-29 08-43-37](https://cloud.githubusercontent.com/assets/3166436/24441873/d1373500-145b-11e7-91b3-2da80

[2017-03-29 07:12] londumas commented on #88
Here is the comparison for the cross-correlation DR14: LYA x QSO:
    - in blue, no removing the mean delta
    - in red, removing the mean delta

The differences are small, and nearly limitted at mu~0

![capture du 2017-03-29 09-09-59](https://cloud.githubusercontent.com/assets/3166436/24442736/cac33918-145f-11e7-9f15-a9c91fce0a89.png)
![capture du 2017-03-29 09-09-42](https://cloud.githubusercon

[2017-03-29 07:15] andreufont commented on #88
Helion, can you show the BAO errors that you get in both cases, and the
overall chi^2?

On 29 March 2017 at 08:12, londumas <notifications@github.com> wrote:

[2017-03-29 07:19] londumas commented on #88
no removing:
ap  = 1.077 \pm 0.033
at   = 0.929 \pm 0.040
chi2 = 2498.41 / (2504-15), p=0.44

removing:
ap = 1.077  \pm 0.033
at  = 0.923  \pm 0.039
chi2 = 2461.83 / (2504-15), p=0.65

[2017-03-29 07:20] londumas commented on #88
so doesn't really affect the alpha_*

[2017-03-29 08:15] ngbusca commented on #88
@londumas it would be great to see all these plots for the analysis with exact continuum

[2017-03-29 10:05] londumas commented on #67
To fix this issue, I set the thingid of all these quasars to some unused values in DR14Q:

def add_artificial_thingId_in_DR14():

	cat_path = '/home/gpfs/manip/mnt0607/bao/hdumasde/Data/Catalogue/DR14Q_v2_0__addingTHINGIDtoSDSSII.fits'

	cat = pyfits.open(cat_path, memmap=True)[1].data
	print cat.size
	keep = (cat['Z']>0.)
	print cat[keep].size
	keep = keep & (cat['RA']!=0.)
	print cat[keep].size

[2017-03-29 10:05] #67 closed

[2017-03-30 08:12] #85 closed

[2017-04-02 08:16] londumas commented on #88
fixed in fix_issue_88

[2017-04-10 09:20] londumas opened #97 "remove empty bins when exporting for fits"
In some -obviously- rare case some bins are empty, they should be removed from the correlation function
in the export.py script.
For now we produce nan:
mda = (da*we).sum(axis=0)/we.sum(axis=0) in utils.py
da = (da*we).sum(axis=0)/we.sum(axis=0) in export.py

a simple cut on the sum of weight should be sufficient

[2017-04-10 09:22] londumas commented on #48
@ngbusca could you take care of that ?

[2017-04-10 09:24] londumas opened #98 "Add a dot to all float"
We have seen the bug with the wavelength, we should add a dot to all float values like "1." instead of "1".
Going to Python3 will solve the problem, but it is not tomorrow.

[2017-04-10 13:19] ngbusca commented on #88
I'm reopening this issue to make sure we apply the following fix:

* modify the stack function to use only the "we" field
* compute the we field for the forest and delta before calling the stack
* add a few lines of code to calculate the mean forest and divide each forest by the mean
* add a few lines of code to calculate the mean delta and subtract the mean

[2017-04-10 13:32] londumas commented on #88
ok, I will take care of this.

[2017-04-12 07:04] londumas commented on #57
fixed in https://github.com/igmhub/pyLyA/pull/99

[2017-04-12 07:04] #57 closed

[2017-04-12 07:17] londumas opened #100 "add cross-correlation forest_1 forest_2"
I would like to look at adding the cross-correlation forest_1 forest_2.
I think I should create two new files one do_xcf_forest.py and one xcf_forest.py.
What do you think @ngbusca ?

[2017-04-12 12:25] ngbusca commented on #100
I thought @vserret was working on this since it's directly related to lyb x lya...

[2017-04-12 12:31] londumas commented on #100
I didn't know, @vserret , can you confirm ?

[2017-04-12 14:27] vserret commented on #100
I am working on it with my code in cpp, but I can do it in python

[2017-04-12 15:48] londumas commented on #100
@vserret it would be super usefull in Python. You would just have to adapt the code for the auto-correlation

[2017-04-12 18:00] vserret commented on #100
I try to do it before the end of the next week

[2017-05-11 13:41] londumas opened #101 "Same sub-sample deffinition for all 3D correlation"
It would be nice, if possible, to have the same sub-sample definition
across all calculation of the different 3D cross-correlation.
I don't really complettly understand how the division is made currently,
but maybe if the sub-sample division was based
on the position on the sky of the mean of the pair, this could work.

We should think if there is a simple way and computing time inexpensive way to

[2017-05-11 14:30] ngbusca commented on #101
I don't see an obvious way to do this, do you have any ideas?

[2017-05-11 14:34] londumas commented on #101
sadly not yet, but we could think about it and thus see if there is one simple way.

[2017-05-19 07:01] jmarclegoff opened #103 "small bug in parser for do_xcf.py"
There is a mismatch ("-" vs "_" ) between
line 86
    parser.add_argument('--no-remove-mean-lambda-obs', action="store_true", required=False,
and line 142
    if not args.no_remove_mean_lambda_obs:

[2017-05-19 07:04] londumas commented on #103
The mismatch ("-" vs "_" ) is normal. That is how argparse works.
Do you see some problems because of this mismatch ?

[2017-05-19 07:51] jmarclegoff commented on #103
No problem indeed.
Sorry

[2017-05-19 07:51] #103 closed

[2017-05-19 10:04] jmarclegoff opened #104 "operands could not be broadcast together in prep_del.py, line 120"
do_xcf.py fails in prep_del.py while do_cf.py works on the same --in-dir delta/

/Users/legoff/ana/pyLyA<5>python bin/do_xcf.py --in-dir delta/ --no-project --out cf.fits --drq delta/../QSO1024.new.fits
read 0 of 1 0
Traceback (most recent call last):
  File "bin/do_xcf.py", line 146, in <module>
    ll,st, wst   = prep_del.stack(xcf.dels,delta=True)
  File "/Users/legoff/ana/pyLyA/py/pylya/prep_d

[2017-05-19 10:08] londumas commented on #104
@jmarclegoff could you check that in the auto and in the cross the different attributes have the same values ?
All attributes used in  def stack(data,delta=False).
For example:
d.ll,
forest.lmin,
forest.dll

[2017-05-19 10:10] ngbusca commented on #104
@londumas There's a problem when calculating the stack, most likely there's a check that the bins don't go over the size of the array that holds the stack.

[2017-05-19 10:10] ngbusca commented on #104
I meant that the check is missing

[2017-05-19 10:11] londumas commented on #104
I agree that there must be a bin overflow. Before the check, we need to understand why it happens.

[2017-05-19 12:19] ngbusca commented on #104
@jmarclegoff can you confirm that your deltas are all on a common grid uniform in log-lambda?

[2017-05-19 14:33] jmarclegoff commented on #104
The grid that is uniform in Mpc/h and not in log-lambda

[2017-05-19 14:35] ngbusca commented on #104
pylya assumes a grid that is uniform in loglam and the same for all lines of sight (they don't need to start and end at the same bin though)

[2017-05-19 14:37] londumas commented on #104
I am not sure this is true @ngbusca. Where do you see such supposition in the correlations calculations ?

[2017-05-19 14:38] ngbusca commented on #104
in do_xcf you use this assumption to get forest.dll, forest.lmin, etc. that are required in stack()

[2017-05-19 14:39] ngbusca commented on #104
You could run do_xcf without a uniform grid in loglam, but then they stack function doesn't work...

[2017-05-19 14:41] jmarclegoff commented on #104
@ngbusca : This is what I did when I run with  --no-remove-mean-lambda-obs

[2017-05-19 14:42] londumas commented on #104
I am not sure of that:
z_min_pix = sp.amin( sp.append([z_min_pix],z) )
z_max_pix = sp.amax( sp.append([z_max_pix],z) )
 bin_size_ll = sp.amin( sp.append([bin_size_ll],[d.ll[ii]-d.ll[ii-1] for ii in range(1,d.ll.size)]) )

and
forest.lmin  = sp.log10( (z_min_pix+1.)*args.lambda_abs )
forest.lmax  = sp.log10( (z_max_pix+1.)*args.lambda_abs )
forest.dll = bin_size_ll

[2017-05-19 14:43] ngbusca commented on #104
in the stack function:

bins=((d.ll-forest.lmin)/forest.dll+0.5).astype(int)

so you assume that the bins are uniform in loglam

[2017-05-19 17:05] londumas commented on #104
No, I don't think so. Or I am missing something obvious.
I just get the index of the bin of the grid the stack is defined on.

[2017-05-19 19:04] ngbusca opened #105 "change resources to etc"
@londumas any objections to changing the name of the "resources" directory to the more standard and shorter "etc"?

[2017-05-19 21:04] londumas commented on #105
no, go ahead

[2017-05-19 21:24] londumas commented on #105
By the way, I prefer that repositories start with an upper case and files with a lower.
But if you don't want to change, no problem. It isn't important.

[2017-05-20 05:17] ngbusca commented on #105
do you mean like PyLyA instead of pyLyA, etc?

[2017-05-20 07:07] londumas commented on #105
yes and like "Bin" instead of "bin"

[2017-05-20 07:09] ngbusca commented on #105
Oh, so not the repositories, but the directories. This is really really really not standard, take a look at any other directory in any other repository (and I'd argue not even aesthetic, but that's not very objective).

[2017-05-20 07:10] londumas commented on #105
Anyway, this is not important, let's forget about that.
It will not have an impact on the position of the BAO peak :)

[2017-05-20 09:26] londumas commented on #104
@jmarclegoff , if you don't find the problem, I can try to solve it.
You would just have to give me the two files and the command line you use.

[2017-05-22 08:54] londumas commented on #104
@jmarclegoff It could simply be caused by a rounding problem.
I take the min of redshift of pixels, not of lambda_obs.

[2017-05-22 16:33] jmarclegoff commented on #104
I put prints in prep_del.py to investigate why it crashes in stack().
I have  lmin= 3.5070671055 lmax = 3.74613098232 dll = 0.00111861556251
which makes
nstack = int((forest.lmax-forest.lmin)/forest.dll)+1		= int(213.7) + 1 = 214
since    st = sp.zeros(nstack)	we have     len(st) = 214
since  bins=((d.ll-forest.lmin)/forest.dll+0.5).astype(int)
   when d.ll reaches forest.lmax  bins is  int(213.7

[2017-05-23 10:13] londumas commented on #104
fixed in fix_issue_104

[2017-05-23 10:13] #104 closed

[2017-05-31 14:57] ngbusca commented on #105
fixed

[2017-05-31 14:57] #105 closed

[2017-05-31 14:58] ngbusca commented on #88
@londumas is this done now?

[2017-05-31 15:05] londumas commented on #88
For now, we have something that works.
But you requested some changes not made I think.

[2017-06-22 09:08] mubecks opened #119 "ValueError"
Hello I am a new user of pyLyA code.
When I tried to run do_deltas.py with mode spec, I got this value error message.
I reinstalled numpy and scipy with conda but still same error.

iteration:  0
done
/home/sjc2/.local/lib/python2.7/site-packages/pyLyA-0.9-py2.7.egg/pylya/prep_del.py:25: RuntimeWarning: invalid value encountered in divide
Traceback (most recent call last):
  File "bin/do_deltas.py

[2017-06-22 11:31] ngbusca commented on #119
Could you post the exact command you are trying to run and attach a text file with your list of spec files?

[2017-06-23 04:39] mubecks commented on #119
I used this command with my path
python bin/do_deltas.py --in-dir data/ --drq ../DR14Q_v1_1.fits --out-dir deltas/ --mode spec

and spec files are about 50,000
spec-(plate)-(mjd)-(fiberid).fits

[2017-06-23 04:41] ngbusca commented on #119
Could you attach a text file with your list of spec files?

[2017-06-23 17:13] londumas opened #123 "install from hackDay"
- Give instruction of install
   - all print should be the same

[2017-06-23 18:05] londumas commented on #123
reject is 1 by default

[2017-06-26 02:24] mubecks commented on #119
I don't know how to attach a file here so just write down here.
spec-3586-55181-0038.fits
spec-3586-55181-0098.fits
spec-3586-55181-0158.fits
...
spec-3586-55181-0958.fits
,
spec-3587-55182-0100.fits
spec-3587-55182-0108.fits
spec-3587-55182-0140.fits
...
spec-3587-55182-0945.fits

and so on.

[2017-06-28 07:28] ngbusca commented on #123
* agreed for instructions!

* We should replace all print statements by sys.stderr.write or sys.stdout.write depending on whether we want things to be printed immediately (stderr) or we can accept latence (stdout).

* we could set rej=0 by default, but with rej=1 the code finishes immediately and the user is forced to think about it, while with rej=0 the code takes infinity to run.

[2017-06-28 07:36] ngbusca commented on #119
it looks like you code is rejecting all the input quasars. To confirm, can you do

[code]

can you give me the full path from where you obtained the spec files?

[2017-06-28 09:58] mubecks commented on #119
I did 'grep accepted input.log' then nothing is printed on terminal.

Do you mean the path where spec files are downloaded on my computer?

[2017-06-28 10:29] ngbusca commented on #119
Ok, this means that the code is rejecting all quasars, we need to understand why. One possibility is that you have spec files from DR12 and are using the DR14Q vac, so there is an inconsistency in the THING_ID. To know if this is the case I need to know from where you got your spec files. You can also try using DR12Q instead of DR14Q.

[2017-06-29 04:47] mubecks commented on #119
Okay I understood, but I used spec files of DR14 quasar and also used  quasar catalog of DR14.

[2017-06-29 07:02] ngbusca commented on #119
Can you please attach the input.log file?

[2017-06-29 07:08] mubecks commented on #119
Okay, Here I attatch the zip file of input.log.
[input.log.gz](https://github.com/igmhub/pyLyA/files/1111127/input.log.gz)

[2017-06-29 07:22] ngbusca commented on #119
Could you please post the exact website from where you've downloaded your spec files?

[2017-06-29 07:25] mubecks commented on #119
data.sdss.org/sas/ebosswork/eboss/spectro/redux/v5_10_0/spectra/full/

I think this is the website of my files.

[2017-06-29 09:43] ngbusca commented on #119
I've finally managed to reproduce your problem. It was indeed a bug, can you update your master branch and try again?

[2017-06-29 10:24] mubecks commented on #119
Wow, do_deltas.py worked!
Now I am trying do_cf.py.
I appreciate so much!!

[2017-06-29 10:30] #119 closed

[2017-06-29 10:30] ngbusca commented on #119
fixed on master

[2017-06-30 14:22] londumas commented on #100
@vserret is it done in the latest comits ?
Can we close it ?

[2017-06-30 14:27] londumas opened #133 "rename "bias_lya*(1+beta_lya)""
The parenthesis of this parameter are painfull when sending a job with it in arguments.
We could rename this parameter to:
    * bias_lya_combined_beta_lya
    * bias_lya_1_beta_lya
    * (your idea here)

[2017-06-30 14:34] andreufont commented on #133
my idea: bias_sum_lya

Assuming f ~ 1,  you have
  beta = bias_eta / bias_delta
and therefore
bias_delta * (1+beta) = bias_delta + bias_eta = bias_sum

[2017-06-30 14:36] ngbusca commented on #133
I disagree. Just add \( and \) to your script.

[2017-06-30 14:37] ngbusca commented on #133
I mean \\(

[2017-06-30 14:37] londumas commented on #133
"\(" only work in interactif mode, not when sending a job

[2017-06-30 14:38] ngbusca commented on #133
I don't know what you mean by "when sending a job". At the Utah cluster I don't have a problem with the metal names which have parenthesis as well.

[2017-06-30 14:40] londumas commented on #133
In CEA I have. I use a command called clubatch, given by the package.
Anyway, what does the standard python say ? I will have a look.

[2017-06-30 14:43] ngbusca commented on #133
Did you try escaping the ( with a slash?

[2017-07-03 07:02] vserret commented on #100
It is done.
There is an opton in 'do_cf.py', if you want to compute a forest cross-correlation you have to add a (-lambda-abs2)second directory with the data ( --in-dir2) and (if you want to ), an absorption wavelength (--lambda-abs2).

[2017-07-03 07:02] #100 closed

[2017-07-05 20:49] mblomqvist opened #135 "installation runtime error"
Trying to install pyLya on a Macbook Pro laptop with OSX El Capitan, anaconda python 3.5 with a separate environment set up for python 2.7. All listed dependencies have been installed (numba 0.33.0 is included in anaconda) Using 'python setup.py install', the installation downloads and processes llvmlite 0.18.0 but stops with the runtime error:

RuntimeError: llvm-config failed executing, please p

[2017-07-05 21:39] mblomqvist commented on #135
It seems that numba was included in anaconda for python 3.5 but not applicable to the separate python 2.7 environment. A simple 'conda install numba' installed it along with llvmlite. The pyLya installation now finishes without errors.

[2017-07-06 05:23] ngbusca opened #136 "What's the point of setup.py?"
@slosar You recently introduced the python setup.py install scheme which seems to me a just fancy way of editing appropriately PATH and PYTHONPATH, only that:

* it doesn't do that but rather creates a bunch of files un difficult to track locations, which
* makes it hard to uninstall (there is no python setup.py uninstall!!), and
* you have to remember to do python setup.py install again every tim

[2017-07-06 08:51] slosar commented on #136
True, there is no uninstall and I also hate that (but there are plenty of recipes on the internet). However:

 * Eventually, you hope you will get sufficient users that will use pylya as stable module, like numpy
 * Once you have setup script, it is easy to get into pip, etc, so that people can just do `pip install pylya`
 * You don't actually need that and can continue using `PYTHONPATH` if you w

[2017-07-06 09:11] ngbusca commented on #136
Ok, that makes sense...

[2017-07-06 09:11] #136 closed

[2017-07-07 07:46] londumas opened #137 "Add number of sigma in output name of minos"
It is usefull to add the number of sigma in the output name of the minos file.
It allows to run for 1, 2, 3, ... sigma without destroying the previous files

[2017-07-07 07:53] londumas opened #138 "growth_factor_qso has the wrong name"
will change the name "growth_factor_qso" to "growth_rate"

[2017-07-07 07:54] londumas opened #139 "kappa0 has the wrong name"
will change to "lambda_oUV"

[2017-07-07 08:16] londumas opened #142 "error is not explicit when trying to fix or free a non existing parameter"
when the parameter "alpha" was changed to "alpha_lya", using the outdated fit.config file I saw this error:
`Traceback (most recent call last):
  File "/home/gpfs/manip/mnt0607/bao/hdumasde/Program/Igm_hub/pyLyA/bin/do_fit", line 107, in <module>
    for i in kw:
RuntimeError: dictionary changed size during iteration`

I want to change that to be easier to understand

[2017-07-07 08:20] mubecks opened #143 "TypeError"
Hello again!

I updated files of pyLyA using git clone, then I re-run do_deltas.py but here is some error.
I used same commands, mode, data files and catalog as before I submitted error issue.

determining nside
nside = 8 -- mean #obj per pixel = 927
0 read from pix 18, 0 242 in 0.463008880615 secs per spectrum
0 read from pix 29, 1 242 in 0.196218490601 secs per spectrum
0 read from pix 30, 2 242

[2017-07-07 08:24] ngbusca commented on #143
did you rerun python setup.py install?

[2017-07-07 08:28] mubecks commented on #143
Yes, after I reran python setup.py install --user, I did do_deltas.py

[2017-07-07 08:29] ngbusca commented on #143
git clone doesn't update the code, you need to do

[code]

[2017-07-07 08:32] mubecks commented on #143
Ah, I didn't know that.
But before git clone the pyLyA, first I deleted before version of pyLyA (actually not delete completely but in trashcan folder).
Can it be make any error like I have?

[2017-07-07 08:36] mubecks commented on #143
Just now, I recovered before version and did

git pull, rerun setup.py install

but still have same TypeError: init() takes exactly 12 arguments (11 given)

[2017-07-07 08:42] ngbusca commented on #143
can you rerun

[code]

then

[code]
and try again?

[2017-07-07 08:47] mubecks commented on #143
Still doesn't work...

[2017-07-07 08:49] ngbusca commented on #143
can you erase your current version of the code and reinstall from scratch?

[2017-07-07 08:49] londumas commented on #142
It was simply because we were doing "any(i in el ...)" instead of "any(i==el)"

[2017-07-07 08:58] londumas commented on #138
fixed

[2017-07-07 08:58] #138 closed

[2017-07-07 08:58] londumas commented on #142
fixed

[2017-07-07 08:58] #142 closed

[2017-07-07 08:58] mubecks commented on #143
I tried from the beginning but not work.

[2017-07-07 08:59] londumas commented on #139
In the code we have for the UV background:
kappa0 = pars["kappa0"]
W = sp.arctan(k*kappa0)/(k*kappa0)
this is the wrong name, it is really lambda_0 from arXiv:1404.7425 https://arxiv.org/pdf/1404.7425.pdf

[2017-07-07 08:59] ngbusca commented on #143
do you still get the same error?

[2017-07-07 09:00] mubecks commented on #143
Yes still get the same error.

[2017-07-07 09:02] ngbusca commented on #143
I don't think you have really cleaned your system from the old installation. Please follow the instructions from here: https://stackoverflow.com/questions/1550226/python-setup-py-uninstall

Then redo
[code]

[2017-07-07 09:18] londumas commented on #139
fixed

[2017-07-07 09:18] #139 closed

[2017-07-07 09:20] mubecks commented on #143
It is working now.
I think you are right. It didn't clean the old installation so your latest fixing didn't apply.

[2017-07-07 09:21] #143 closed

[2017-07-07 12:56] londumas commented on #137
It is not a problem now.
A simple way to fix that for now is to change the output file

[2017-07-11 07:17] londumas opened #150 "add picca name in README"
self explanatory

[2017-07-11 07:18] ngbusca commented on #150
Yes, please update the README, I forgot to do it...

[2017-07-11 10:32] mblomqvist commented on #135
The installation created the new directories build/, dist/ and py/pyLyA.egg-info/ which git labels as 'untracked files’. Additional dependencies scipy and configargparse had to be installed for the python 2.7 environment using 'conda install'.

[2017-07-11 10:32] #135 closed

[2017-07-11 11:12] ngbusca commented on #135
anaconda installs scipy by default... maybe there's something colliding between your 2.7 and 3.5 installations. I'll add configargparse to the setup.py install to have it installed by default.

[2017-07-11 12:18] mblomqvist commented on #135
Anaconda for python 3.5 is installed and includes some of the dependencies. Rather than installing Anaconda again for python 2.7, a separate environment for python 2.7 can be created following the instructions here

https://stackoverflow.com/questions/24405561/how-to-install-2-anacondas-python-2-7-and-3-4-on-mac-os-10-9

This scenario is probably quite common for modern Python users who work in py

[2017-07-11 12:21] ngbusca commented on #135
I'm not sure that python 3.5 packages will work in python 2.7... I'm sure people might want to have several versions of python in their computers, but it's up to them to handle correctly the dependencies. picca is written for python 2.7...

[2017-07-12 07:50] londumas opened #152 ""print prior" not affected by verbose bool"
Even when verbose=False, we print information on the prior at each loop

[2017-07-12 08:31] londumas opened #153 "buffer size in fastMC and chi2Scan"
The fastMC take a long time to run and the buffer size is too big.
Do we want to change the default duffer size ?
Do we want to have an option giving the buffer size ?

https://stackoverflow.com/questions/3167494/how-often-does-python-flush-to-a-file

[2017-07-12 08:33] ngbusca commented on #153
I agree that you should write to disk right after each realization

[2017-07-12 08:33] ngbusca commented on #153
Either change the buffer size or flush...

[2017-07-12 09:41] londumas commented on #152
fixed in fix_issue_152

[2017-07-12 09:41] #152 closed

[2017-07-12 09:41] londumas commented on #153
fixed in fix_issue_153

[2017-07-12 09:41] #153 closed

[2017-07-12 10:12] #150 closed

[2017-07-12 10:12] londumas commented on #150
fixed

[2017-07-12 10:13] londumas opened #156 "change cross metal grid to cross metal matrix"

[2017-07-12 15:19] londumas opened #157 "Tell dimension of parameters in their description"
For example the following line should say 'in Angstrom' :

    parser.add_argument('--lambda-abs', type = float, default = constants.lya, required=False,
                        help = 'wavelength of absorption')

[2017-07-12 15:32] londumas commented on #157
As far as I can see the only parameters with dimensions are :
   - rp_min, rt_min, rp_max, rt_max
   - lambda-abs, lambda-abs-metal, lambda-abs2, lambda-min, lambda-max, lambda-rest-min, lambda-rest-max
   - mask-file

[2017-07-12 15:36] londumas opened #158 "still some constants.lya"
There are still some constants.lya.
Need to replace by
constants.absorber_IGM['LYA']

[2017-07-12 15:38] londumas commented on #158
fixed by "fixed residual constants.lya"

[2017-07-12 15:38] #158 closed

[2017-07-12 15:57] londumas commented on #157
fixed in fix_issue_157

[2017-07-12 16:11] londumas commented on #157
Add also for Constants

[2017-07-12 16:15] londumas commented on #157
fixed in fix_issue_157_b

[2017-07-12 16:15] #157 closed

[2017-07-12 16:38] londumas commented on #133
We add to add ' and ' at the begining of the command and at the end.
For example (where clubatch is a command in CEA to send jobs):
`clubatch ' time echo "(hello)" '`

[2017-07-12 16:38] #133 closed

[2017-07-12 18:00] ngbusca commented on #133
I think you mean:

[2017-07-13 09:13] londumas commented on #98
fixed in fix_issue_98, only for files in bin/

[2017-07-13 09:13] #98 closed

[2017-07-13 09:19] londumas commented on #64
@vserret , were are you on that ?
Is it done ?

[2017-07-13 09:27] londumas opened #162 "Clean cosmology in constants.py"
Some minor estetics clean for cosmo

[2017-07-13 09:45] londumas commented on #162
Doesn't change the output but changes the presentation.
Tested on the cross.
fixed in fix_issue_162

[2017-07-13 09:45] #162 closed

[2017-07-13 09:55] londumas opened #164 "remove dependency to configargparse"
The current way to use command lines is through "configargparse" for the fitter.
We should change it to the default one "argparse"

Such a change will make a lot of people angry, since they will have to change some of their input files.

[2017-07-13 12:10] vserret commented on #64
This is done

[2017-07-13 12:10] #64 closed

[2017-07-13 13:40] mblomqvist opened #166 "print statements mention "pyLyA""
Several print statements in the code mention the former name "pyLyA". For example, in picca/py/picca/fitter/parameters.py:

print '  pyLyA::py::parameters.py::  No model file.'

[2017-07-13 13:42] londumas commented on #166
@mblomqvist , thanks for the funding.
Could you do a grep and corect all of these ?

[2017-07-13 13:55] londumas commented on #166
Let me take care of this

[2017-07-13 14:13] londumas commented on #166
fixed in fix_issue_166

[2017-07-13 14:13] #166 closed

[2017-07-14 09:05] ngbusca opened #168 "Bad rest-frame stack"
The stack of CIV deltas in the quasar rest-frame is quite far from flat.

![image](https://user-images.githubusercontent.com/4727509/28205894-487bdfb8-6884-11e7-853c-9d467fdba9b6.png)

[2017-07-14 09:12] ngbusca commented on #168
I found the problem. The weights in the calculation of the mean continuum in prep_del were wrong.

![image](https://user-images.githubusercontent.com/4727509/28206206-52fd2338-6885-11e7-8cde-e9bfe4992f80.png)

[2017-07-14 09:17] ngbusca commented on #168
fixed in master

[2017-07-14 10:31] londumas commented on #168
Hi Nicolas, what was wrong ?

[2017-07-14 10:47] ngbusca commented on #168
@londumas you can fit diff to see the changes.

[2017-07-14 10:48] ngbusca commented on #168
I mean

[code]

[2017-07-14 10:48] #168 closed

[2017-07-15 05:42] londumas commented on #48
can have a similar effect as issue_168.
Could you fix it @ngbusca  ?

[2017-07-16 17:50] ngbusca commented on #48
I agree we need to fix this, but this can't have an effect like issue_168. Here we are just being slightly suboptimal by using weights ~1% wrong. #168 was due to using inconsistent weights, which is quite different.

[2017-07-18 08:26] londumas opened #171 "adding DLA is not verbose"
adding DLA doesn't give any information.
It would be nice to print some in order to see if everything goes well.

[2017-07-18 08:27] ngbusca commented on #171
Do you mean log the fact that there's a DLA catalog?

[2017-07-18 08:28] londumas commented on #171
no, I mean log something like:
"found a DLA in forest ...."

[2017-07-18 08:28] londumas commented on #171
I am trying to reproduce the DR12 cross result and had a bug linked to using the DR12_dla_catalog instead of the DR14

[2017-07-18 08:28] ngbusca commented on #171
sure, why not

[2017-07-18 08:29] londumas commented on #171
And it didn't tell me no DLA found, or something of the kind

[2017-07-18 08:29] ngbusca commented on #171
That's because the thing_ids in DR14 are different from those in DR12, so you won't find the DLAs

[2017-07-18 08:29] ngbusca commented on #171
It's not a bug ;^)

[2017-07-18 08:30] londumas commented on #171
I remeber that now.
I just wanted the code to say to me that no DLA were found

[2017-07-18 08:33] ngbusca commented on #171
Ok, that's a more general thing. E.g., one could use DR14Q and DR12Q for the delta field, or the DR12 vac, etc. We should find a way to issue a warning when different vacs are used (it might be on purpose).

[2017-07-18 08:33] ngbusca commented on #171
I meant DR14Q for the cross correlation and DR12Q for the delta field

[2017-07-18 08:58] londumas commented on #171
In the DLA catalog, some objects have a negative ThingId. Did you know that ?
Example:
['-00000001', '57006-07868-0875', '9.64039', '+0.6804', '2.584', '0', '0', '-1', '2.3', '2.3021', '20.27', '0.617', '-3.67', '0.36', '0.324', '0.246', '0.262', '0.603', '1.161', '01', '0.00', '0.00', '0.81', '-1.00', '0.95', '-1.00', '1.29', '-1.00', '1.48', '-1.00', '1.26', '-1.00', '1.31', '-1.00', '1.14', '-1

[2017-07-18 08:59] ngbusca commented on #171
yes, that's life

[2017-07-18 09:00] londumas commented on #171
I find 24 of them. Did Pasquier told you what they are ?

[2017-07-18 09:04] ngbusca commented on #171
These are objects that have a spectrum (so you can decide whether there's a DLA or not) but that, for some reason, are lost after changes in the photometric extraction algorithms. So they "don't exist" anymore, so they don't have a RA, DEC.

[2017-07-18 09:05] londumas commented on #171
They do have a RA and dec:
'9.64039', '+0.6804' and they have a plate, mjd, fiberId

[2017-07-18 09:06] ngbusca commented on #171
They are probably "inherited" from a previous photometric extraction (or are they sdss objects?)

[2017-07-18 09:14] londumas commented on #171
fixed in fix_issue_171

[2017-07-18 09:14] #171 closed

[2017-07-18 10:00] londumas commented on #48
In py/picca/data.py::  from_forest, we should have:
`
iv = f.iv/eta(f.ll)*f.co**2 *st(f.ll))**2

we = iv/(iv*var_lss(f.ll)+1
`

[2017-07-18 10:12] ngbusca commented on #48
The iv here is the inverse variance, so I'm reluctant to change that line. It only needs to be corrected by eta.

We should have:
[code]

[2017-07-18 10:26] londumas commented on #48
Agreed.
However, do you think it is the only place where we should apply a change ?
I really would like the code to be bug (even small) free and tested before putting the paper on arXiv.
How could we test if everything is correct ?

[2017-07-18 13:28] londumas opened #173 "Stack of delta in rest frame is not zero"
When running the DR14 lya forest on the first 10,000 forests, the stack is really not
compatible with zero in rest frame. However it is very compatible with zero in observed wavelength.
The two following plot are before projection

[code]

![lya_forest_stack_rf](https://user-images.githubusercontent.com/3166436/28319185-7ac5f3fe-6bcd-11e7-9b69-e762aa25d469.png)

![lya_forest_stack_obs](https://use

[2017-07-18 13:38] ngbusca commented on #173
There must be something wrong with your calculation of the stack. This is what I get for DR12 (I'm checking for DR14, but it can't be very different).

![image](https://user-images.githubusercontent.com/4727509/28319758-149e54a2-6bcf-11e7-815d-844c36d7b083.png)

[2017-07-18 13:40] londumas commented on #173
Here is what I do:

[code]

[2017-07-18 13:44] londumas commented on #173
@ngbusca  is that wrong ?

[2017-07-18 13:44] ngbusca commented on #173
you are dividing by (almost) zero when you divide by mcont.mean()

[2017-07-18 13:45] ngbusca commented on #173
Here's for DR14:

![image](https://user-images.githubusercontent.com/4727509/28320140-17a010fe-6bd0-11e7-92bf-5964d22408a4.png)

[2017-07-18 13:49] londumas commented on #173
indeed, I copied the code without thinking.
Here is the new stack on the first 10,000 forests

![capture du 2017-07-18 15-49-07](https://user-images.githubusercontent.com/3166436/28320362-b2aa24b8-6bd0-11e7-9824-8444ef82e295.png)

[2017-07-18 13:50] londumas commented on #173
Still incompatible with zero but way closer.

[2017-07-18 13:50] #173 closed

[2017-07-19 09:25] mblomqvist opened #174 "strange code indentations"
Some codes (for example cosmo.py) have strange indentations that mix tabs and spaces. Standard should be four spaces.

[2017-07-19 09:27] londumas commented on #174
indeed, could you fix that with a simple ctrl+F or a grep ?

[2017-07-19 09:29] ngbusca commented on #174
Unfortunately it's not that simple since there's a mixture of tabs and spaces...

[2017-07-19 09:34] londumas commented on #174
grep -P '\t' py/picca/*

[2017-07-19 09:36] ngbusca commented on #174
@londumas I don't think there's a simple solution, but if you think there's one, then it's all yours!

[2017-07-19 11:19] londumas commented on #174
fixed in fix_issue_174

[2017-07-19 11:19] #174 closed

[2017-07-19 13:07] londumas opened #176 "clone statment should have username in it"
To clone the repository, the best is to do:
[code]

[2017-07-19 13:10] ngbusca commented on #176
This is not how github recommends to clone, see:
https://help.github.com/articles/cloning-a-repository/

[2017-07-19 13:13] ngbusca commented on #176
Here's more info: https://help.github.com/articles/which-remote-url-should-i-use/

[2017-07-19 13:16] londumas commented on #176
The first link you give is when cloning a repository you own.

[2017-07-19 13:17] londumas commented on #176
If I do `https://github.com/igmhub/picca.git` then I will not be able to do `git push` since I am not 'igmhub' but 'londumas'

[2017-07-19 13:17] ngbusca commented on #176
@londumas they use your own repo as an example, but it applies to anything. What's the problem with the current recomendation from the readme?

[2017-07-19 13:18] ngbusca commented on #176
that is not true, when you push you will be asked for your username and password

[2017-07-19 13:18] ngbusca commented on #176
igmhub is not a user

[2017-07-19 13:22] londumas commented on #176
Indeed, this work.
I had a problem few days ago but it works now.

[2017-07-19 13:22] #176 closed

[2017-07-19 16:00] mblomqvist opened #178 "add fit parameter for at/ap ratio"
Add a new option in the fitter to fit for the ratio at/ap, i.e. the Alcock-Paczynski parameter (from BAO). It's a minor update, but a nice extra feature. The fit parameters would be ap and at/ap. Any suggestions for the parameter name?

[2017-07-19 16:58] ngbusca commented on #178
This sounds like an aiso/1+epsilon rotation of the alphas (see https://arxiv.org/pdf/1206.6732.pdf) Why not change the current fit_aiso option to aiso and 1+epsilon. Then if we want to do the current aiso we just fix 1+epsilon.

[2017-07-19 17:01] ngbusca commented on #178
It also economizes fitting options by recycling the current aiso

[2017-07-19 17:30] mblomqvist commented on #178
Yes, that seems reasonable, with the downside being the slight confusion that the "isotropic" fit actually isn't unless a second parameter is fixed to unity.

[2017-07-20 07:12] ngbusca opened #179 "negative continua"
negative continua don't currently have any special treatment. Should we:
1) continue ignoring this fact
2) force the continuum fit to give a positive continuum
3) reject objects with a negative continuum

If 3), we should leave the possibility that an object rejected with a negative continuum in a given iteration is accepted in a subsequent iteration if the continuum gets positive.

[2017-07-20 07:19] mblomqvist commented on #179
Do you mean that some or all pixels are negative? How many quasars are affected?

[2017-07-20 08:07] ngbusca commented on #179
For the DR12 auto sample there are ~1500 forests where a continuum has at least one pixel where it's negative. Note that for Bautista et al. I used strategy 3) above, but it's not currently implemented in picca.

[2017-07-20 09:09] mblomqvist commented on #179
Option 3) sounds reasonable. I discarded the bulk of such noisy spectra already in an earlier step of my analysis by requiring that the median S/N > 0.

[2017-07-20 09:17] mblomqvist commented on #178
One more note: the mapping from 1+epsilon to F_AP = D_A / D_H is non-linear. Are there any practical consequences of that (e.g., connecting confidence levels with chi-squared differences)?

[2017-07-20 09:21] ngbusca commented on #178
The model is already non-linear in the alphas, which means that we can't straight-fowardly connect confidence levels to delta-chi2. So whatever we do wee need to check with, e.g., the fast MC.

[2017-07-20 09:24] ngbusca commented on #178
by the way, we can always call it 1+epsilon and define 1+epsilon = at/ap (or the inverse). I wouldn't necessarily take the cubic root.

[2017-07-20 09:26] mblomqvist commented on #178
Yes, but the fastMC is run for 1+epsilon, not F_AP. Doesn't it make the post-processing to get F_AP a bit extra complicated?

[2017-07-20 09:32] ngbusca commented on #178
I don't think so, you end up with a mapping dchi2 <==> probability. Then you plot dchi2 vs F_AP and get the intervals.

But you are right, you could also directly use F_AP instead of 1+epsilon. I would still do a 2-parameters shift of the peak using aiso (where the name would stem from the fact that it's an isotropic dilation for F_AP=1).

[2017-07-21 06:18] londumas commented on #179
I am in favour of nb3. In my own code I would remove all spectra if even one pixel of the continuum was negative.

[2017-07-21 09:15] ngbusca commented on #179
@mblomqvist has a point in that a fourth option would be to do a preselection. This is a nice alternative since it decouples the data cuts from the continuum fitting.

@mblomqvist : after your s/n selection you never find negative continua (i.e. where at least a pixel is negative)?

[2017-07-21 09:25] mblomqvist commented on #179
The S/N requirement doesn't eliminate all of them, unfortunately, so one still has to impose some cut after the continuum fitting step. I removed ~200 spectra by requiring that the median continuum > 0, and left the rest of them in the sample. Clearly, that may not be optimal.

[2017-07-21 09:38] ngbusca commented on #179
I don't think we should allow negative continua in the sample since that would invert the delta field in those lines of sight. I'll implement option 3)

[2017-07-30 17:00] ngbusca opened #181 "DLA catalog format changed between DR12 and DR14"
The columns with the absorption redshifts and column density changed between DR12 and DR14. These columns are currently hard-coded in picca. I'll change them in master to read the DR14 format, but we need a better long-term solution.

@mblomqvist @londumas @vserret

[2017-07-30 17:04] ngbusca commented on #181
ideally we would have a fits file where we can just select using the name of the column. Should we write a parser from ascii to fits for the DLA catalog?

[2017-07-30 17:15] mblomqvist commented on #181
Did they? I'm comparing the DLA ascii files for DR12 and DR14 (v2) and the z_abs and NHI columns haven't changed.

[2017-07-30 17:18] ngbusca commented on #181
Hm... you are right... I was confused by the description it says that col6 is the absorption redshift while it's col10.

Still, I'll push a fix which uses the line with the column names. This is safer and less "hardcoded"

[2017-07-30 17:44] ngbusca commented on #181
This is now fixed in master

[2017-07-30 17:44] #181 closed

[2017-08-03 08:15] londumas opened #183 "add data and chi2 scan of DR12+cross paper"

[2017-08-03 08:31] londumas commented on #183
fixed in fix_issue_183

[2017-08-03 08:34] londumas commented on #183
The correlations are too large, we can't put them on picca

[code]

[2017-08-03 08:50] londumas commented on #183
the files are really to heavy.
I don't have time right now to find a solution.

[2017-08-23 09:30] mblomqvist commented on #178
Enhancement merged in master.

[2017-08-23 09:30] #178 closed

[2017-09-11 09:05] londumas opened #190 "add "configargparse" in readme"

[2017-09-11 09:12] #190 closed

[2017-09-13 02:38] ngbusca opened #192 "fitter is not multithreadable"
The current do_mcmc fit, based on emcee, allows the user to set the number of threads. I've noticed important differences between using 1 or more than one threads.

[2017-09-15 22:41] Cyeche opened #196 "Different results with Mac and Linux for the computation of continuum"
I run do_deltas over 209 QSOs (plates 5400 and 5401) with MacOS and Linux. both are using anaconda and minuit 1.2. The results obtained for the continuum are significantly different, see below:

MacOS
zqso_min = 2.0
zqso_max = 4.28846153846
mode: spec
start               : nb object in cat = 267
and thid>0          : nb object in cat = 267
and ra!=dec         : nb object in cat = 267
and ra!=0.

[2017-09-16 04:25] ngbusca commented on #196
@Cyeche this should be fixed in branch linux_vs_mac, can you check?

[2017-09-16 04:26] ngbusca commented on #196
@Cyeche see pull request #194

[2017-09-16 13:54] Cyeche commented on #196
I check against the branch linux_vs_mac and I got exactly the same results for Mac and Linux. Is-it possible to mege the fix to our Dev_Pk1D branch?

Thanks, Christophe.

[2017-09-16 19:55] ngbusca commented on #196
I've fixed the bug in master, thanks for reporting.
To get the changes into your branch do

'''
git checkout Dev_Pk1D
git merge master
'''

[2017-09-18 08:03] ngbusca commented on #196
fixed and merged to master

[2017-09-18 08:03] #196 closed

[2017-09-22 16:19] mblomqvist opened #197 "Implement alternative non-linear correction model"
It would be good to add an option to the fitter to apply the Lya non-linear correction model of Arinyo et al 2015, even if the differences with the model of McDonald 2003 are relatively small.

[2017-10-03 15:58] mblomqvist opened #200 "Redshift cuts in correlation analyses"
Add optional cuts on pair redshift z_min and z_max to allow for data splits in correlation analyses.

[2017-10-05 01:46] ngbusca commented on #123
@londumas can we close this issue?

[2017-10-05 01:47] ngbusca commented on #183
@londumas is this a picca issue?

[2017-10-05 01:49] ngbusca commented on #97
fixed in master

[2017-10-05 01:49] #97 closed

[2017-10-05 07:16] londumas commented on #183
We should put the scan into the SDSS website and give the url in picca within Data/

[2017-10-05 07:17] londumas commented on #123
@ngbusca. Are all "print"  replaced by sys.stderr.write or sys.stdout.write ?
If not we can open a new issue

[2017-10-05 20:45] Cyeche opened #202 "Order of fit in do_deltas"
The order of the continuum fit is not used in do_deltas (in io.read_data), I fixed it in Dev_Pk1D. Do not forget to propagate it at the time of the merging of the branches.

[2017-10-06 14:31] mblomqvist opened #205 "Save errors on eta and vlss"
Extract the errors on the parameters eta and vlss (mig.errors) and save to the output fits file.

[2017-10-06 17:19] mblomqvist commented on #197
Merged in master. Closed.

[2017-10-06 17:20] #197 closed

[2017-10-10 10:56] mblomqvist commented on #179
Fixed in master.

[2017-10-10 10:56] #179 closed

[2017-10-20 15:20] ngbusca commented on #80
@londumas Looking back at this issue, I don't understand what the problem is. eta was always a function of lambda_obs, no ?

[2017-10-20 15:22] ngbusca commented on #59
@londumas can we close this issue?

[2017-10-20 15:36] londumas commented on #80
yes, but it shouldn't be of lambda_RF

[2017-10-20 15:38] ngbusca commented on #80
@londumas I agree... was it ever under discussion?

[2017-10-20 15:39] londumas commented on #59
Why not keep z per healpy pixel? It would help get the error correctly.

[2017-10-20 15:39] londumas commented on #80
@ngbusca , what do you mean ?

[2017-10-20 15:41] ngbusca commented on #80
@londumas the title of the issue is "eta is a function of lambdaRF". Eta was always a function of lambda_obs, and we all agree that's the way it should be. So what is this issue about?

[2017-10-20 17:16] londumas commented on #80
The title talks about "lambdaRF" not lambda_obs

[2017-10-20 17:18] ngbusca commented on #80
right, why does it talk about lambdaRF?

[2017-10-20 17:20] londumas commented on #80
do we agree that if eta takes care of errors of the pipeline it should only be a function of lambda_Obs ?
Not a function of lambda_RF ?
But the first plot shows that it is a function of lambda_RF since the blue and green and other curves are different.

[2017-10-20 17:33] ngbusca commented on #80
I disagree, they show that there's something we don't fully understand.

[2017-10-20 17:34] ngbusca commented on #80
for example, that the noise is more complicated than our simple model

[2017-10-20 17:35] londumas commented on #80
ok, so we agree. Our simple model is good but not good enough.
You think this isn't the place to try to solve this issue ?

[2017-10-20 17:38] ngbusca commented on #80
Let's keep it open, but I'll change the title to something that makes more sense.

[2017-10-30 11:10] mblomqvist opened #211 "do_deltas crash"
A crash of do_deltas was encountered when running the analysis on the SiIV forest. During the iteration procedure, there is a warning
ComplexWarning: Casting complex values to real discards the imaginary part
  fmin,_ = mig.migrad()
which is followed by
RuntimeWarning: fcn returns Nan
and later stops with
ValueError: The first argument of bincount must be non-negative

[2017-10-31 15:38] mblomqvist commented on #211
Fixed in master

[2017-10-31 15:38] #211 closed

[2017-11-01 23:01] londumas opened #213 "Add telling scipy version 0.17.0 or latter"
because of the extrapolation "extrapolate" in do_deltas, we should have scipy 0.17.0 or latter
Add telling in README.md

[2017-11-01 23:41] londumas commented on #213
fixed in https://github.com/igmhub/picca/issues/213

[2017-11-01 23:41] #213 closed

[2017-11-03 16:20] londumas commented on #80
After the addition of the "fudge" term, the eta obtained in different forest are very similar.
The only difference seems to be a normalization for the MGII forest.
It would be interesting to know why.

![eta_lambdaobs](https://user-images.githubusercontent.com/3166436/32384376-59557d7c-c080-11e7-9170-285feedca170.png)

![sigma2lss_lambdaobs](https://user-images.githubusercontent.com/3166436/323843

[2017-11-06 18:42] londumas opened #216 "missing storing rp_min in header in do_xcf"
head['RPMAX']=xcf.rp_min

[2017-11-06 20:57] londumas commented on #216
missing also in do_cf,

[2017-11-06 21:02] londumas commented on #216
fixed in https://github.com/igmhub/picca/issues/216

[2017-11-06 21:02] #216 closed

[2017-11-06 22:58] mblomqvist opened #218 "do_cf1d.py error"
The code do_cf1d.py stops with the error:
Traceback (most recent call last):
  File "picca/bin/do_cf1d.py", line 157, in <module>
    cfs = cfs.reshape(n1d,n1d)
ValueError: can only specify one unknown dimension

[2017-11-06 23:00] londumas commented on #218
what is the dimension of n1d ?

[2017-11-06 23:01] ngbusca commented on #218
Can you add enough info to reproduce this? If n1d =-1 you would get an error like this. It might be an inconsistency in the input parameters.

[2017-11-06 23:03] mblomqvist commented on #218
Default values for lambda-min and dll, but lambda-max = 6840

[2017-11-06 23:07] mblomqvist commented on #218
There is a bug in the code:
forest.lmax = sp.log10(args.lambda_min)
forest.lmin = sp.log10(args.lambda_max)

[2017-11-06 23:08] londumas commented on #218
my fault apparently... sorry

[2017-11-06 23:08] londumas commented on #218
let me fix that

[2017-11-06 23:12] londumas commented on #218
fixed in https://github.com/igmhub/picca/pull/219.
Can you see if it is ok @mblomqvist  ?

[2017-11-06 23:17] mblomqvist commented on #218
Rerunning it now.

[2017-11-06 23:35] mblomqvist commented on #218
Runs smoothly and the result looks good.
![civ_corr1d](https://user-images.githubusercontent.com/2251656/32469541-8345e5ec-c353-11e7-901a-f23b40694a03.png)

[2017-11-06 23:36] londumas commented on #218
fixed

[2017-11-06 23:36] #218 closed

[2017-11-06 23:51] londumas opened #220 "replace "print" by sys.stderr.write or sys.stdout.write or print()"
print has changed in Python3, should be replaced to either sys.stderr.write or sys.stdout.write or print()

[2017-11-06 23:51] londumas commented on #123
changed to https://github.com/igmhub/picca/issues/220

[2017-11-06 23:51] #123 closed

[2017-11-06 23:56] londumas commented on #205
can we close this @mblomqvist  ?

[2017-11-06 23:57] londumas commented on #202
can you fix this @vserret ?

[2017-11-07 00:16] londumas commented on #48
fixed in https://github.com/igmhub/picca/tree/fix_issue_48

[2017-11-07 01:22] londumas commented on #101
@ngbusca, don't we have already a division on the same number of healpix ?
The only problem is in witch pixel should we put a pair when the two line of sights don't belong to the same pixel.

[2017-11-07 10:28] #205 closed

[2017-11-07 10:53] mblomqvist commented on #220
Can you elaborate on the problem? Python 2 is forward-compatible with the print parenthesis used in Python 3. Error reporting should be done with sys.stderr.write.

[2017-11-07 11:51] londumas commented on #220
there are print without parenthesis, those are not forward-compatible

[2017-11-07 11:53] mblomqvist commented on #220
I know, so that could be added instead of moving away from using print (when appropriate)

[2017-11-07 11:57] londumas commented on #220
@mblomqvist, you are right.

[2017-11-07 13:07] ngbusca commented on #220
I'm not too worried about compatibility with python3 (for now), but we could one day systematically do
`
from __future__ import print_function
`
and use parenthesis. This is very very very *very* low priority

[2017-11-07 17:02] mblomqvist commented on #202
Wasn't this fixed in #203?

[2017-11-07 17:13] londumas commented on #202
@mblomqvist, doesn't seem to be since in /bin/do_deltas.py, "order" isn't used.

[2017-11-07 17:17] mblomqvist commented on #202
Update #203 added the passing of order from do_deltas to io.read_data, which was missing before

[2017-11-07 17:23] londumas commented on #202
You are right. It is in the very long line 161.

[2017-11-07 17:23] #202 closed

[2017-11-07 18:32] londumas opened #223 "add all the 2d matrix of do_cf1d()"
only the diagonal terms and the mean off diagonal terms are kept,
it would be useful to keep everything

[2017-11-07 19:18] londumas commented on #223
Here is what it looks like for the Lya forest for the first 2 off diagonal, with 10000 forests
![diagonal_lya](https://user-images.githubusercontent.com/3166436/32512933-cd93ba9a-c3b5-11e7-9061-24331dbbd296.png)

[2017-11-07 19:20] londumas commented on #223
fixed in https://github.com/igmhub/picca/pull/224

[2017-11-08 00:45] londumas opened #225 "allow to run on one file instead of all"
The correlation I try to compute is very long and takes a lot of memory.
A solution is to compute it individually on each delta-100.fits.gz and then combine the results.
For that I would need to replace
[code]
by
[code]

would that be ok @ngbusca ? The current behavior wouldn't change by this commit.

[2017-11-08 15:44] londumas commented on #223
fixed

[2017-11-08 15:44] #223 closed

[2017-11-08 15:46] londumas commented on #48
fixed

[2017-11-08 15:46] #48 closed

[2017-11-08 17:40] londumas opened #227 "do_cf1d is computing twice"
it seems to me that the code is run twice on line 134 (or 135) and on line 138
[code]

[2017-11-08 17:47] londumas opened #228 "cross correlation in do_cf1d doesn't work"
The cross correlation of two forests from the same quasar doesn't work.
It gives the 1d auto correlation of the first file.

[2017-11-08 20:57] ngbusca commented on #227
Indeed. Also, why is the multiprocessing commented out ?

⁣Sent from BlueMail ​

On Nov 8, 2017, 18:42, at 18:42, londumas <notifications@github.com> wrote:

[2017-11-08 21:00] londumas commented on #227
I don't know, it was there when I arrived :)
What should we put back ?

[2017-11-08 22:10] londumas commented on #227
fixed

[2017-11-08 22:10] #227 closed

[2017-11-08 22:10] londumas commented on #228
fixed

[2017-11-08 22:10] #228 closed

[2017-11-08 22:12] londumas commented on #80
a way to investigate this would be to use the same quasars for the CIV forest and the MGII forest.

[2017-11-10 16:08] londumas opened #230 "add arxiv id to data/readme.md"
add arxiv id to data/readme.md

[2017-11-10 16:10] londumas commented on #230
fixed in fix_issue_230

[2017-11-10 16:19] mblomqvist commented on #230
Humble request: We should keep issues open until the pull request has been approved and merged. This particular issue is non-controversial, but the general case need not be. Thanks!

[2017-11-10 16:20] londumas commented on #230
ok, works for me

[2017-11-10 16:46] londumas commented on #80
The last eta plot was wrong. The difference of eta from the different forests was only because I did no rebinning for the LYA, CIV, SiIV forests but rebin 2 in the MGII forest. Using the same rebining gives the basically the same results for eta across all forests.
The only difference are for Lya and Lyb. It might be linked to degeneracies between sigma_LSS and eta

![eta_lambdaobs_samebinning](ht

[2017-11-10 21:30] londumas opened #232 "add iminuit errors for eta, var_lss and fudge"
add iminuit errors for eta, var_lss and fudge.
It is useful to be able to get rid of invalid results in presenting the different results.
Also it will be useful for comparing with the sub-samplig errors if we need to.

[2017-11-10 21:40] londumas commented on #232
fixed is fix_issue_232

[2017-11-10 21:43] londumas opened #234 "Correct var_pipeline before running do_delta"
The idea is to do something similar as we do for flux calibration:
use another forest to correct for the errors in the definition of the var_pipeline.

[2017-11-10 22:07] londumas opened #235 "fudge is not in py/picca/data.py/from_forest"
At the end of do_delta.py, the delta are given by from_forest(),
"fudge" is missing from the definition of the data

[code]

[2017-11-10 22:15] londumas commented on #235
The definition should use:
[code]

[2017-11-10 22:29] londumas commented on #234
Here is the correction from the MgII forest (see defintion at the end)

![eta_correction_from_mgii](https://user-images.githubusercontent.com/3166436/32681287-0052e4b0-c62c-11e7-83b8-e2f50d678565.png)

[code]

[2017-11-10 23:03] londumas commented on #235
[code]

[2017-11-10 23:09] londumas commented on #234
Here is the result for the SiIV forest:

![eta_corrected_from_mgii_to_siiv](https://user-images.githubusercontent.com/3166436/32682377-8599742c-c631-11e7-8b0e-3ac24f32fc63.png)

[2017-11-10 23:26] londumas commented on #234
fixed in fix_issue_234

[2017-11-10 23:28] #59 closed

[2017-11-11 00:36] londumas commented on #235
fixed in fix_issue_235

[2017-11-13 14:27] #235 closed

[2017-11-13 14:49] #230 closed

[2017-11-14 04:19] ngbusca commented on #80
@londumas I can't confirm this last plot. I find good agreement between lya and lyb at low lambda_obs. Can you double check?

![image](https://user-images.githubusercontent.com/4727509/32762735-69356030-c8fb-11e7-920d-754302ac42f4.png)

[2017-11-14 04:31] londumas commented on #80
It is just a defintion of Lyb, what is yours ? Mine is:
[code]

[2017-11-14 04:38] ngbusca commented on #80
I use

`--lambda-max 4590`
`--lambda-rest-min 973`
`--zqso-max 3.5`

I wouldn't go below lambda-rest-min 973 because then you have the lyman-gamma and other forests mixed.

[2017-11-14 04:40] londumas commented on #80
I totally agree. I just did that to test.
Do you need me to compute it again ?

[2017-11-14 04:41] ngbusca commented on #80
it's not high priority, but if you confirm that there's no problem then we close the issue.

[2017-11-14 04:42] londumas commented on #80
even your plot has a problem, just look at eta for lambda>4500

[2017-11-14 04:43] ngbusca commented on #80
The last few bins contain very little statistics, I don't think that's a problem.

[2017-11-14 06:11] londumas commented on #80
Here is what I get reducing to lambdaRF = 973:
![capture d ecran de 2017-11-13 23-11-19](https://user-images.githubusercontent.com/3166436/32765507-fbed1afa-c8c7-11e7-96f0-a58705d32ae5.png)

[2017-11-14 06:13] londumas commented on #80
I agree that there seems to be no bugs anymore in picca.
But the differences between DR12Q and DR14Q for the eta(l) and var_lss(l) plots show that there are bugs in DR14Q

[2017-11-14 06:17] ngbusca commented on #80
@londumas you  are including qsos with z>3.5. We know those have a large contamination with lowz quasars in DR14Q. Is this what you are talking about?

[2017-11-14 14:36] londumas commented on #80
yes, it seems to be this.

[2017-11-15 15:52] londumas opened #238 "add reading from spFrame"
add reading from spFrame

[2017-11-15 17:55] londumas opened #239 "parser for spFrame and spCFrame files"
Because of `sp.unique` the "ll" array can have a different dimension as the other arrays in py/picca/data/__init__().
An example is with spFrame:
/uufs/chpc.utah.edu/common/home/sdss02/ebosswork/eboss/spectro/redux/v5_9_0//6825/spFrame-b2-00176029.fits.gz
and only with rebin=1.
I give here the data (bug.txt) and a code to reproduce the bug, this seems to be corrected by replacing `sp.unique(bins)`

[2017-11-15 18:21] londumas commented on #239
It also appears that the first `w=civ>0` is useless in:
[code]

[2017-11-15 18:52] ngbusca commented on #239
@londumas this bug corresponds to the branch read_spframe? If yes, please feel free to change the code as you see fit, not much need of having a discussion if there are obvious problems.

Of course, I'm happy to discuss possible implementations of different features.

Funaly, note that the files you want to use are the spCFrame, which are the calibrated spectra, not the spFrames which are not cali

[2017-11-15 18:55] londumas commented on #239
@ngbusca, the bug is in py/picca/data/init()

[2017-11-15 18:56] londumas commented on #239
I encontered using spcframe, but it isn't linked to spcframe

[2017-11-15 18:57] ngbusca commented on #239
picca is not supposed to work on spFrames (yet!)

[2017-11-15 18:59] ngbusca commented on #239
can you provide an example of this but with the standard input files? i.e. spec- or pix?

[2017-11-15 19:01] londumas commented on #239
No I never encotered it before.
This arise I think from having pixels on uneven grids.
Do you have an idea of what to do ?
It is linked to `sp.unique(bins)` and my `sp.arange()` doesn't work in all cases.

[2017-11-15 19:02] ngbusca commented on #239
if it ain't broken, don't fix it!

[2017-11-15 19:04] londumas commented on #239
in the first post you have an example of some data

[2017-11-15 19:06] ngbusca commented on #239
can you give the full command line that gives rise to this error?

[2017-11-15 19:09] londumas commented on #239
`if it ain't broken, don't fix it!` it is broken for spframe and spcframe.
You need the update of the branch, I created a new one
Here is an example:
[code]

[2017-11-15 19:11] londumas commented on #239
you have the branch here https://github.com/igmhub/picca/tree/fix_issue_238

[2017-11-15 19:12] londumas commented on #239
it isn't finished

[2017-11-15 19:12] ngbusca commented on #239
This can't be a problem in the master branch, since it doesn't read spframes or spcframes. You seem to be reporting a problem with the read_spframe branch. Is this the case?

[2017-11-15 19:12] londumas commented on #239
sory, you should have rebin=1

[2017-11-15 19:14] londumas commented on #239
yes, it isn't a bug of the master

[2017-11-15 19:18] ngbusca commented on #239
can you post the screen output, if it's not too long?

[2017-11-15 19:19] londumas commented on #239
![capture d ecran de 2017-11-15 12-19-17](https://user-images.githubusercontent.com/3166436/32855547-3eb75a2a-c9ff-11e7-8623-4764999d34cc.png)

[2017-11-15 19:26] ngbusca commented on #239
What we want is a parser for spFrame and spCFrame. If the code in this branch doesn't work, just write something else. It's simple in principle, you just need to resample the wavelength grid to a common grid and then coadd the different exposures...

[2017-11-15 19:29] londumas commented on #239
Isn't already what data.py is doing ?

[2017-11-15 19:30] ngbusca commented on #239
It doesn't seem to work, no?

[2017-11-15 19:32] londumas commented on #239
inded, it doesn't. Do you have an idea why ? Your re-sampling in data.py should work.

[2017-11-15 19:37] ngbusca commented on #239
Today I would write the resampling code as follows:

`
    ll = forest.lmin + sp.arange(bins.max()+1)*forest.dll
    fl = sp.zeros(bins.max()+1)
    iv = sp.zeros(bins.max()+1)
    civ = sp.bincount(bins,weights=iv)
    iv[:len(civ)]+=civ
    cfl = sp.bincount(bins,weights=iv*fl)
    fl[:len(cfl)] += cfl
    w=iv>0
    fl[w]/=civ[w]
`

[2017-11-15 19:40] londumas commented on #239
ok, I will have a look.

[2017-11-16 01:04] londumas commented on #238
fixing in https://github.com/igmhub/picca/pull/240

[2017-11-16 01:04] londumas commented on #239
the same as https://github.com/igmhub/picca/issues/238

[2017-11-16 01:04] #239 closed

[2017-11-16 17:09] londumas commented on #238
fixed in https://github.com/igmhub/picca/pull/240

[2017-11-16 18:49] #80 closed

[2017-11-16 19:08] #238 closed

[2017-11-20 16:50] londumas opened #241 "add ploting a spectrum"
given a plate, mjd, fiber, plot a spectrum and its best fit continuum

[2017-11-20 20:43] londumas opened #243 "Add nside info in do_delta"
It is useful to have the nside of the do_delta output files.
Where should we put it?
    - a master.fits or master.txt files
    - inside the do_delta.fits.gz output

[2017-11-21 11:12] mblomqvist commented on #243
How about saving nside in the iteration output file? It summarises the attributes of the do_deltas analysis.

[2017-11-21 14:24] londumas commented on #243
I think it is a good idea. @ngbusca, what do you think ?

[2017-11-21 15:06] ngbusca commented on #243
Yep, it makes a lot of sense. For completeness we should also save the scheme (ring or nest)

[2017-11-21 16:22] londumas commented on #243
@ngbusca, shouldn't we move "order" to this file also ? It makes more sens than have the same number written a lot of times.

[2017-11-22 21:23] londumas opened #245 "d.neighs in do_<correlation> acts as a memory leak"
When a correlation is calculated, at each step of the loop, the delta class receives an attribute called `neighs`, with all other objects at a given distance.
After completion of the code, this attribute is still there. This produces a sort of memory leakage.
In the following plot I show the memory usage as a function of calculation step.
In blue for the current calculation, in green if after comp

[2017-11-24 20:06] londumas commented on #245
fixed in fix_issue_245

[2017-11-24 20:07] londumas opened #247 "cos=1 line in data.py"
In order to have the same results with an array of qso or with one we should add
[code]
in data.py

[2017-11-24 20:11] londumas commented on #247
fixed in fix_issue_247

[2017-11-25 17:36] londumas commented on #247
merged

[2017-11-25 17:36] #247 closed

[2017-11-25 17:36] londumas commented on #225
merged

[2017-11-25 17:36] #225 closed

[2017-11-25 17:37] londumas commented on #232
merged

[2017-11-25 17:37] #232 closed

[2017-11-25 17:37] londumas commented on #234
merged

[2017-11-25 17:37] #234 closed

[2017-11-25 17:38] londumas commented on #241
merged

[2017-11-25 17:38] #241 closed

[2017-11-25 17:46] londumas commented on #245
merged

[2017-11-25 17:46] #245 closed

[2017-11-27 11:50] jfarr03 opened #249 "from_image data import"
In the file py/picca/data.py, I believe there are a small number of errors in the 'from_image' method. These are listed below:

1. "dec = h[3]["DEC"][:]*sp/180." should read "dec = h[3]["DEC"][:]*sp**.pi**/180."
2. "w = iv>0" should read "w = **ivar**>0"
3. The line "deltas.append(delta(thid[i], ... ,delt))" is missing the argument 'order', the final argument required for the "delta" class

Errors

[2017-11-27 12:53] ngbusca commented on #249
@jfarr03 thanks for catching this. Indeed, this is code that we haven't used to quite a while (maybe we never did), so I'm not surprised there are bugs. Regarding the order,  it is important if you want to calculate a distortion. As long as you run do_cf.py with the --no-project option, you won't need the order, so you can safely se it to 1.

[2017-11-27 12:53] ngbusca commented on #249
@jfarr03 please open a PR so we can include your changes in the master branch.

[2017-11-27 13:30] jfarr03 commented on #249
Great, thanks for getting to this so quickly! I'm not currently able to push my local branch to github as it seems I don't have the correct permissions. I don't know if there is a simple way to change this at your end?

[2017-11-27 14:20] ngbusca commented on #249
I sent you an invitation to join de repository. After accepting you should be able to push to your branch...

[2017-11-27 14:39] jfarr03 commented on #249
Thanks very much - I've now pushed my branch and have submitted a pull request

[2017-11-27 14:47] londumas commented on #249
@ngbusca, do you think it is a good idea to have `order` be hardcoded ?
When do we use from_image ?

[2017-11-27 14:49] ngbusca commented on #249
@londumas this are files derived from simulations that have the exact continuum, the order doesn't make sense.

[2017-11-27 14:52] #249 closed

[2017-11-27 15:13] vserret opened #251 "This seems not working. If I run the matrix for more than 1 metal, the code stops here."
https://github.com/igmhub/picca/blob/e8f1c07ff9e846bf3030af14d860c8f977bab47b/py/picca/xcf.py#L274

[2017-11-27 15:16] londumas opened #252 "removed info of delta in do_metal_xdmat"
https://github.com/igmhub/picca/blob/e8f1c07ff9e846bf3030af14d860c8f977bab47b/py/picca/xcf.py#L317

in `do_metal_xdmat` we use at multiple times the delta so we should remove only `neighs` and not the other attributes

[2017-11-27 15:17] londumas commented on #251
same as https://github.com/igmhub/picca/issues/252

[2017-11-27 15:17] #251 closed

[2017-11-27 15:21] londumas commented on #252
The `Neighs` attributes is calculated only once, so we can't remove it.
@vserret, could you explain to me why do we give a list of metal to the code instead of running the code with different metals every time ?

[2017-11-27 15:23] ngbusca commented on #252
@londumas we want to have all the matrices in the same output file no? In any case, this functionality was there in the beginning, I think we want that.

[2017-11-27 15:24] vserret commented on #252
This would be better to have just one file at the end. Especially if you want to put it in the fitter.

[2017-11-27 15:24] londumas commented on #252
@ngbusca, I never used the file, so I can't tell.
The solution is then to calculate neighs at every step of the loop over metals.

[2017-11-27 15:25] londumas commented on #252
Could you do that @vserret ?

[2017-11-27 15:26] ngbusca commented on #252
@londumas that's very slow. The best is to not remove the neighs attribute in this function.

[2017-11-27 15:27] ngbusca commented on #252
@londumas please remove lines 317, 318 from this file.

[2017-11-27 15:30] ngbusca commented on #252
@londumas since you made this change, can you take care of it? Also, please make sure that a similar bug wasn't introduced at other places.

[2017-11-27 15:54] londumas commented on #252
If we do that then we put back the issue of filling the memory of the computer.

[2017-11-27 15:55] londumas commented on #252
This issue should also be present in do_metal_dmat (ie for cf)

[2017-11-28 16:05] #252 closed

[2017-11-30 17:50] londumas opened #255 "Remove delta too far from last or first object"
in all xcf related computation we remove delta pixels if they are too far from the first or last object.
The only exception is `bin/do_metal_xdmat.py`.

[2017-11-30 17:55] londumas commented on #255
fixed in https://github.com/igmhub/picca/pull/256

[2017-11-30 18:00] londumas opened #257 "Loosing pairs because of definition of angmax with forest-forest cross-correlation"
https://github.com/igmhub/picca/blob/d2ee8f2f5189f3f265d6d70519f8e364722a6d64/bin/do_cf.py#L187

In the case of cross-correlation:
[code]

[2017-11-30 18:14] londumas opened #258 "Remove useless data in forest1-forest2 cross-correlation"
In the forest1-forest2 cross-correlation, we don't remove data from a forest if too far from the last or first pixel of the other forest.
Here is an example with LyalyaxCIVciv, we can see that there are extra pixel that are too far from one another to go in the correlation function for r_paral in [-200,200]:
[code]

![lya-lya_civ-civ](https://user-images.githubusercontent.com/3166436/33447233-e9e3

[2017-11-30 18:18] londumas commented on #258
This improvement concerns: `do_cf.py`, `do_dmat.py`, `do_metal_dmat.py`

[2017-11-30 18:20] londumas commented on #257
This issue concerns: do_cf.py, do_dmat.py, do_metal_dmat.py

[2017-11-30 18:30] londumas commented on #257
with `cf.angmax = 2.*sp.arcsin(cf.rt_max/(2.*cosmo.r_comoving(z_min_pix)))`, I get for LYA:
`0.0564767370242`
with `cf.angmax = 2.*sp.arcsin(cf.rt_max/(cosmo.r_comoving(z_min_pix)+cosmo.r_comoving(z_min_pix2))`, I get
`0.063247298498`

[2017-11-30 18:36] londumas opened #259 "Allow different --z-evol in forest-forest cross-correlation"
In do_cf.py, do_dmat.py and do_metal_dmat.py, there are no possibility to set a different `--z-evol` for the two forests. Actually LYA and CIV have a very different evolution in z.

[2017-11-30 19:03] londumas opened #260 "definition of angmax should be after removing delta"
In do_xcf.py, do_xMetalGrid.py, do_metal_xdmat.py, do_xdmat.py, the definition of angmax should be after removing delta too far from first or last pixel

[2017-11-30 19:26] ngbusca commented on #260
do we gain anything? Is it really worth complicating the code for this?

[2017-11-30 19:29] ngbusca commented on #260
The probability of introducing a bug is proportional to the number of lines. If we gain 0.1% I prefer not to do it.

[2017-11-30 19:38] londumas commented on #260
Then let's define `angmax=2*sp.pi`, this will take one line, it is simple, less chance of bugs, but very long.

[2017-11-30 19:44] ngbusca commented on #260
then you lose many many %, not 0.1%

[2017-11-30 21:24] londumas commented on #260
fixed in https://github.com/igmhub/picca/pull/261

[2017-11-30 21:25] londumas commented on #257
fixed in https://github.com/igmhub/picca/pull/262

[2017-11-30 22:00] #257 closed

[2017-12-01 07:48] vserret commented on #258
I do not understand your point

[2017-12-01 08:17] vserret opened #263 "No parallel computation"
https://github.com/igmhub/picca/blob/bcbd14f960481fa01898c0fcb410e224c0696269/bin/do_metal_xdmat.py#L168

@ngbusca Why we do not use parallel computation for this code ?

[2017-12-01 08:44] ngbusca commented on #263
@vserret it's a left over from tests that got incorrectly merged to master. It is fixed in branch fitter2 (but not yet merged).

[2017-12-01 13:12] vserret commented on #258
If you want to avoid low z deltas, you just have to change the values of lambda-min during the computation of the deltas.
But we can modify the cf.fill_neighs and include a z selection, I don't know if it is usefull.
What do you think @ngbusca ?

[2017-12-01 14:04] londumas commented on #258
@vserret, the point is that we are keeping pairs, that will not be in [rpmin,rpmax]. This take computing time. How much I don't know. We can have a faster code by removing these pairs. Maybe it is not worth it, maybe it is.

[2017-12-01 14:10] vserret commented on #258
ok, I can try I see if it is faster

[2017-12-01 16:51] londumas commented on #259
Done in https://github.com/igmhub/picca/pull/264, thank you @vserret.

[2017-12-01 16:51] #259 closed

[2017-12-02 02:22] londumas opened #266 "lambda_abs_name is not used"
https://github.com/igmhub/picca/blob/22c5b6e1f23b10cc32363e48be80aef1ff9ac787/bin/do_metal_xdmat.py#L57

What was the purpose of adding `lambda_abs_name`, shouldn't we have a `object_name`?

[2017-12-02 08:13] ngbusca commented on #266
@londumas Yes, it's nonsense. It will be fixed in the fitter2 branch once review all the metal-matrix calculations.

[2017-12-05 18:01] londumas opened #270 "doing auto-correlation with a line different than LYA is treated as a cross-correlation"
https://github.com/igmhub/picca/blob/509d00c0fe7ad79bac07cc75b6a6c5e62f1fe47e/bin/do_cf.py#L58
this line should have None as a default, as is --in-dir2

and:
[code]
should also look if `args.lambda_abs2` is `None`

[2017-12-05 18:06] londumas commented on #270
this issue seems to be in all related "do_*" of forest-forest correlation

[2017-12-05 18:18] ngbusca commented on #270
@londumas Thanks for catching this. While fixing this bug, I propose that we change the --lambda-abs from float to a string corresponding to the name of the absorption transition from constants.py. We should systematically do it in do_cf, do_dmat, do_met... etc.

[2017-12-05 18:19] londumas commented on #270
@ngbusca, I agree.

[2017-12-05 18:24] londumas opened #271 "wrong rounding name"
https://github.com/igmhub/picca/blob/509d00c0fe7ad79bac07cc75b6a6c5e62f1fe47e/py/picca/constants.py#L58

[2017-12-05 18:25] londumas opened #272 "wrong rounding name"
https://github.com/igmhub/picca/blob/509d00c0fe7ad79bac07cc75b6a6c5e62f1fe47e/py/picca/constants.py#L77

[2017-12-05 22:23] mblomqvist commented on #270
So then one has to add a line in constants.py when using a wavelength that isn't already defined?

[2017-12-05 22:24] londumas commented on #270
@mblomqvist, yes. This seems reasonable.
What do you think?

[2017-12-05 22:24] mblomqvist commented on #271
Yes, I've noticed this in my runs but didn't correct it, because I didn't want to rerun for thus reason alone.

[2017-12-05 22:29] londumas commented on #271
yes. I agree with you.
The best is to correct this after the CIV publication.

Next time, could you write the issue when you spot a bug, and say: "let's not correct this before one month?"

[2017-12-05 22:30] mblomqvist commented on #271
Sure, I can do that.

[2017-12-05 22:31] londumas commented on #271
@mblomqvist, thanks

[2017-12-05 22:32] mblomqvist commented on #270
It requires that the user also can edit the code (or ask for it to be edited), but I guess the list in constants.py is already pretty extensive so there shouldn't be a real problem.

[2017-12-05 22:38] ngbusca commented on #270
We can move this list to etc/... we should also add a CIV(eff) line with the average CIV lines.

[2017-12-08 22:05] andreufont opened #274 "covariance matrix can not be smoothed with pixels not measured"
If you use fine binning, or if you are using a test data set, it is possible that you do not cover all the bins in your measurement.

When this happens, export.py is not be able to smooth your covariance matrix, and it crases.

It would be nice to fix this so that it can deal with unmeasured bins.

[2017-12-13 00:22] londumas opened #276 "Adapt to Python3"
Replacing all `cpu_count()/2` by `int(cpu_count()/2)` would be transparent for Python2 but would solve issues for Python3

[2017-12-13 00:26] londumas commented on #276
fixed in PR https://github.com/igmhub/picca/pull/277

[2017-12-13 01:08] londumas commented on #276
I replaced  `cpu_count()/2` by `cpu_count()//2`.

[2017-12-14 17:52] londumas commented on #220
fixed in PR https://github.com/igmhub/picca/pull/278

[2017-12-19 18:03] londumas commented on #276
fixed in PR https://github.com/igmhub/picca/pull/279

[2017-12-19 18:03] londumas commented on #220
fixed in PR https://github.com/igmhub/picca/pull/279

[2018-01-01 09:54] vserret opened #280 "MgII absorption wavelengths written in constants.py are different from the ones given by NIST"
Lines found with NIST in vaccum : 2 796.352 and 2 803.530
constants.py                                 : 2796.3511 and 2803.5324

[2018-01-03 17:16] londumas commented on #280
I used lines from http://cdsads.u-strasbg.fr/cgi-bin/nph-iarticle_query?1991ApJS...77..119M&amp;data_type=PDF_HIGH&amp;whole_paper=YES&amp;type=PRINTER&amp;filetype=.pdf.
Maybe they are outdated.

Also I take all detected lines from these references:
https://arxiv.org/pdf/1309.6768.pdf
https://arxiv.org/pdf/astro-ph/0601279.pdf
https://arxiv.org/pdf/1610.02711.pdf

[2018-01-03 19:53] ngbusca commented on #280
NIST values usually have a reference, can you check @vserret ?

[2018-01-04 08:42] vserret commented on #280
primary data source for Mg lines :
Wavelengths and Energy Level Classifications of Magnesium Spectra for All Stages of Ionization (Mg I through Mg XII),
    V. Kaufman and W. C. Martin,
    J. Phys. Chem. Ref. Data 20, 83–152 (1991)
    DOI:10.1063/1.555879

[2018-01-08 15:07] londumas opened #282 "sort lines"
https://github.com/igmhub/picca/blob/58bcfd7b2ee8c3fce204c26b1c23512129a531c7/py/picca/constants.py#L79

@ngbusca, could you place this line on top ?
I think it is best for the future that the lines are sorted.

[2018-01-08 15:10] ngbusca commented on #282
@londumas good to know that someone is watching :^) I noticed that after I did the commit. Do you have an opinion on the name of the line? H-alpha? Ha?

[2018-01-08 15:11] londumas commented on #282
I have no opinion on the name of the line.
Thank you.

[2018-01-08 18:42] londumas commented on #280
@vserret, what is the conclusion of this? I better not change anything

[2018-01-08 18:49] londumas commented on #282
fixed in PR https://github.com/igmhub/picca/pull/283

[2018-01-08 18:49] londumas commented on #272
fixed in PR https://github.com/igmhub/picca/pull/283

[2018-01-08 18:49] londumas commented on #271
fixed in PR https://github.com/igmhub/picca/pull/283

[2018-01-08 18:57] londumas commented on #270
related to PR https://github.com/igmhub/picca/pull/273

[2018-01-08 18:58] londumas commented on #164
won't fix in the scope of fitter2

[2018-01-08 18:58] #164 closed

[2018-01-08 19:09] #282 closed

[2018-01-08 19:09] #272 closed

[2018-01-08 19:09] #271 closed

[2018-01-09 01:53] londumas opened #284 "excess correlation for lambda1==lambda2"
The physical correlation between two pixels of the same forests or of different forests has a contribution from a non-physical correlation.
This non-physical correlation could be related to the sky. It still needs to be understood.
It is a function of theta: something like xi = theta^parameter

Here is the x(l1/l2,theta) correlation of the MgII_1 and MgII_2 forests. You can see the strong line at

[2018-01-09 06:29] ngbusca commented on #284
@londumas are you using coadds of multiple observations or the best observation?

[2018-01-09 14:29] londumas commented on #284
@ngbusca, I use `/uufs/astro.utah.edu/common/home/u6011908/Data/Spectra/ForetFusion/Repeats/.

[2018-01-09 22:24] londumas commented on #284
@ngbusca, I have noticed no difference when using spcframe.
A good test I could do would be to use skyfibers with a random  redshift for the fake "QSO". It would help see if it is the sky or something else. What do you think?

[2018-01-09 22:26] ngbusca commented on #284
@londumas the spcframe option still coadds all the available observations. You want to make sure that you use only one plate per spectrum.

[2018-01-09 22:27] ngbusca commented on #284
@londumas actually one plate-mjd combination per spectrum

[2018-01-09 22:29] londumas commented on #284
@ngbusca, I use only one plate-mjd per QSO since I use DR14Q. However the spcframe option coadds the different exposures of the same plate-mjd.

[2018-01-10 11:46] ngbusca commented on #284
@londumas it doesn't matter what DRQ you use, the --spcframe option will coadd all the available spCFrames regardless of the MJD. If you want to use only the best observation you have to add the option --best-obs to do_deltas.

[2018-01-11 11:46] andreufont opened #285 "Add option to ignore same_half_plate in do_cf"
The current code to measure auto-correlation function treats differently pixel pairs that are in the same half plate, i.e., the same set of 500 fibers in a SDSS plate that go into the same spectrograph. The reason is that these fibers have a common calibration and sky model, resulting in extra correlations (as discussed in Bautista et al. 2017).

While this is a great feature for SDSS analyses (BO

[2018-01-11 14:27] ngbusca commented on #285
We are facing the same problem en eBOSS (see PR #281), the notion of a half plate (or half petal) gets blurry when you coadd. I don't know what the best solution is, but I don't see how not doing any rejection solves anything or why you would like to use these pairs that you will never use in a realistic analysis. It would be great, though, to use a more generic definition of a half_plate such tha

[2018-01-11 14:42] andreufont commented on #285
I don't have a clear answer for what is the best way to do this, and I agree that what you suggested would be really interesting to look at. But as you say, we are a bit far from there, and we need other solutions in the short term.

The reason why we need to do something about this is that when running picca on colore skewers, we do not have an equivalent for PLATE or FIBER, we just set them all

[2018-01-11 15:00] ngbusca commented on #285
As in PR #281 , I wouldn't like to implement a patch but an actual improvement (i.e. extending the rejection to something that works regardless of whether data is eboss or desi), and implement an option to ignore the rejection as part of that enhancement.

But it sounds like the quickest hack for you is to give each of your l.o.s. a different plate number, then you will keep all the pairs. Does th

[2018-01-11 15:01] andreufont commented on #285
Yes, that is the hack that I suggested above, we can set PLATE=MOCKID.

We will do this, since implementing something better would require us to dig deep into picca. May be another day.

[2018-01-12 05:20] londumas commented on #284
Here is a comparison between the pix mode and the spcframe+bestObs+singleObs mode.
We can see that this large scale correlation of l1==l2 pixels is still there.

![capture d ecran de 2018-01-11 22-14-58](https://user-images.githubusercontent.com/3166436/34860752-ebf1d81a-f71c-11e7-9701-dcc797c4536d.png)

[2018-01-12 09:56] ngbusca commented on #285
What would actually work is to use the combination camera-spectroid-exposureid which is the unit on which the calibration pipeline runs (both for eboss and desi). So instead of half_plate we need to keep track of the list individual camera-spectro-exposure that contributed to the corresponding coadd. I'll try to implement this change (and add the option to not do the rejection).

[2018-01-12 09:57] ngbusca commented on #284
@londumas can you do this test on mocks? If would tell us if this correlation comes from the way we subtract the mean delta/mean continuum.

[2018-01-12 10:57] londumas commented on #284
@ngbusca, it cannot be "subtract the mean delta/mean continuum" since it is present in the cross correlation of different forests. for exemple MgII_1 vs. MgII_2. It has to be something else.

[2018-01-12 14:13] ngbusca commented on #284
@londumas I see, you are right. Do we see a similar excess in an auto-correlation? CIV (in CIV) auto might be a good test.

[2018-01-13 02:44] londumas commented on #284
@ngbusca, we see this in MgII auto-correlation and in the MgII_1 vs MgII_2 cross-correlation.
So it must be in the CIV auto-correlation, but it must be less important.

[2018-01-13 10:07] londumas commented on #284
@ngbusca, here is the cross-correlation between Lya and MgII_2:
![capture d ecran de 2018-01-13 03-04-53](https://user-images.githubusercontent.com/3166436/34905085-d141da5e-f80e-11e7-95c9-13f5ebbb2043.png)

[2018-01-14 03:22] londumas commented on #284
@ngbusca, do you agree to add the option to remove the same lambda wavelength?
Or should we do something else? Do you want to have a deeper understanding of what is happening?

[2018-01-14 07:37] ngbusca commented on #284
@londumas in these tests, is the binning in the correlation function the same as the deltas?

[2018-01-14 08:26] londumas commented on #284
What do you mean by this? It is given by angle and l1/l2. The binning is not linked to delta binning

[2018-01-14 11:09] ngbusca commented on #284
I want to know whether the bins in l1==l2 in your cf can get contributions from deltas with l1 != l2.

[2018-01-14 11:11] ngbusca commented on #284
It would be good to do these plots with a binning that is exactly adapted to the delta-binning.

[2018-01-14 11:15] londumas commented on #284
There are no contribution of l1!=l2 into the l1==l2 curve. I filler them out with the code in the first post

[2018-01-14 15:31] ngbusca commented on #284
In this case, if we reject pairs with l1==l2 that would lead to an empty l1==l2 bin? What's the need for this cut then, can't you simply ignore the bin?

[2018-01-16 04:55] londumas commented on #284
@ngbusca. I think I was not clear enough. I used the auto correlation of forests xi(l1/l2,Delta angle) to investigate the different issues with the auto-correlation of forests xi(rp,rt). Now that we know that there are spurious correlations between pairs at the same wavelength, we can add the option to remove these pairs so that the measured xi_ff for 0<=rp<4 doesn't have this contribution.
Would

[2018-01-16 09:29] londumas opened #286 "Add tests"
In the light of many PR, we want standard tests to be run before merging.
The idea is to create fake data with given seed, maybe 10,000 forest would be enough.
Create a random DRQ, then random pixel.

[2018-01-17 00:23] londumas commented on #286
Here is a code to generate random catalog and forest. What do you think of this ?

[code]

[2018-01-18 16:53] londumas commented on #286
@ngbusca, I fI understood the idea. We want to store the current results of do_cf, do_xcf preformed on the random in a folder. And for each merge request compare the new products to the old ones. Do we agree ? Where would you like these files to be stored ? /data/tests/ ?

[2018-01-18 17:31] ngbusca commented on #286
@londumas yes, that's right. What is done in desihub? We could follow their model. Otherwise, I don't have a preference, data/tests is very good.

[2018-01-18 17:37] londumas commented on #286
@ngbusca,In desisim, they put some stuff in py/desisim/test/data/. But I don't like mixing code with data. What do you think ?

[2018-01-18 17:49] londumas opened #287 "z-evol doesn't exist in do_cf1d"
One of the goal of computing do_cf1d is to use it in Wick.
For this to be valid, the 1d correlation of forests has to have the same weights and data has the 3d correlation of forests.
We thus need to add `--z-ref`, `--z-evol` and `--z-evol2`

[2018-01-18 19:15] ngbusca commented on #286
It probably has to do with the automatic travis tests from github (but I don't know anything about it). Let's get something working, we can move it later if we need to.

[2018-01-19 20:59] londumas commented on #286
fixed in PR https://github.com/igmhub/picca/pull/288

[2018-01-20 02:20] londumas commented on #286
@ngbusca, is there a simple way to sort the data in do_cf, do_xcf, ... in order that the HEALPID are always in the same order?
For the moment, they arrive in the order of the end of the different process (I think).
Because of this the created correlations are presented differently. For one run first the healpix will be 10, for the other the first heaplix will be 2.
Is there an option in pool to co

[2018-01-20 07:13] ngbusca commented on #286
pool.map(function, [arg list]) should return the result in the same order as [arg list], is it not the case?

[2018-01-20 07:25] ngbusca commented on #286
The following code:

    from multiprocessing import Pool

    def Y(x):
        return x

    p=Pool()
    res1=p.map(Y, [1,2,3])
    res2=p.map(Y, [2,1,3])
    res3=p.map(Y, [1,3,2])

    print res1
    print res2
    print res3

returns:

    [1, 2, 3]
    [2, 1, 3]
    [1, 3, 2]

[2018-01-22 13:03] jfarr03 opened #289 "do_cf.py input from '.fits' files using '--from-image'"
At the moment, it is only possible to use do_cf.py's '--from-image' option by specifying a directory or several directories. It would be useful to be able to specify one specific file, as often there are several '.fits' files in a directory, but only one is designed to be read by picca. Even more useful would be to specify multiple input files using wildcards, for example.

I have written a workar

[2018-01-22 13:05] jfarr03 opened #290 "do_xcf.py has no '--from-image' option"
Following from issue #289, I noticed that do_xcf.py has no --from-image option at all. Is this for a reason?

If not, then I have simply copied across the option from do_cf.py (with my alterations, as specified in #289), and I can add this into a pull request too.

[2018-01-22 15:08] ngbusca commented on #289
We settled on this behaviour to avoid the limitation that some systems have on the length of the arguments (assuming an alternative where the user would list the input files). It might be unnecessary in the case of `--from-image`.

I also find unnatural to use quotes and it also complicates sending scripts to batch systems (you'd need to escape the quotes).

I propose to change the `--from-image`

[2018-01-22 15:29] ngbusca commented on #290
Once we settle on #289 let's carry the behaviour over to do_xcf.py

[2018-01-22 17:55] ngbusca opened #291 "create a logo for picca"
It would be great to create a dedicated logo for picca. I'm assigning this to @londumas as a reward for all his contributions, in particular the test modules.

[2018-01-23 12:58] jfarr03 commented on #289
That makes sense to me. In order to accept a list of arguments, the most logical method seems to be to use the " nargs='+' " option for the input directory. However that would result in args.in-dir being a list of strings (currently it just wants a single string), even if only one argument is provided. It would also change the behaviour when not using --from-image.

It is fairly straightforward to

[2018-01-23 13:42] londumas commented on #289
It will come a little bit out of nowhere, but I would be in favor of removing any options to read different type of files. I think that picca correlations should only read pixels files. Then it is the user responsibility to modify its own file format to be readable by picca. If picca adapts to every file format, it will grow too complicated.
However, if you find a nice way to read your files from

[2018-01-23 13:43] ngbusca commented on #289
@jfarr03 I would prefer something that doesn't require touching the behaviour of --in-dir. What I would do, instead, is to change the --from-image option such that it accepts arguments instead of it being a flag (I use nargs="*", but "+" is fine with me), and override the argument of --in-dir if --from-image is present.

[2018-01-23 13:48] ngbusca commented on #289
@jfarr03 I'm aware that my solution means setting --in-dir to dummy is --from-image is present, but let's worry about that later.

[2018-01-23 15:26] #286 closed

[2018-01-25 11:16] andreufont commented on #289
@jfarr03 @ngbusca @londumas - a little bit of background: during the SLAC meeting we switched to a new format of storing the Lya skewers to be used by desisim, that has one file for each (rather small) HEALPix pixel. This file, called something like transmission-NSIDE-PIX.fits, would be in a folder called PIX, and that folder itself in a folder called PIX%100. For instance, you could have:
lya_ske

[2018-01-26 16:32] #255 closed

[2018-01-26 16:34] #260 closed

[2018-01-26 16:37] londumas commented on #258
@vserret, can we remove this issue?

[2018-01-26 16:39] #220 closed

[2018-01-26 16:39] #258 closed

[2018-01-26 16:40] #156 closed

[2018-01-26 16:41] #81 closed

[2018-01-26 16:43] londumas commented on #280
@vserret, can we close this issue?

[2018-01-26 17:39] #243 closed

[2018-01-29 08:04] #280 closed

[2018-01-29 21:55] #276 closed

[2018-01-31 07:49] ngbusca opened #293 "Tests failing on mac"
As @Cyeche reported and I confirmed on my mac, automatic tests fail on some systems. @londumas do you have a mac to test on?

[2018-01-31 14:46] londumas commented on #293
@ngbusca, I don't have access to a Mac. Could you tell me where does the unitest fail and what is the message?

[2018-01-31 15:55] Cyeche commented on #293
For instance the output is:
python py/picca/test/test_cor.py

('Create cat with number of object = ', 1000)

 zqso_min = 2.0
 zqso_max = 4.28846153846
mode: pix
 start               : nb object in cat = 1000
 and thid>0          : nb object in cat = 1000
 and ra!=dec         : nb object in cat = 1000
 and ra!=0.          : nb object in cat = 1000
 and dec!=0.         : nb object in cat = 1000
 and

[2018-01-31 15:57] ngbusca commented on #293
In my mac it fails at a different place:

WARNING: do_deltas.py: Header key is stack, arrays are not exactly equal, ussing allclose
F
======================================================================
FAIL: test_cor (__main__.TestCor)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "py/picca/test/test_cor.py", line 35, in test_co

[2018-01-31 16:00] londumas commented on #293
Could you both give me the output of:
[code]

I get on two linux:
[code]

[2018-01-31 16:04] Cyeche commented on #293
[  4.17022005e-01   7.20324493e-01   1.14374817e-04   3.02332573e-01
   1.46755891e-01   9.23385948e-02   1.86260211e-01   3.45560727e-01
   3.96767474e-01   5.38816734e-01]

[2018-01-31 16:07] londumas commented on #293
@Cyeche, you have a previous version of the unittest, it would be nice to be uptodate with master.
@ngbusca, could you change the limit in `allclose` and see if that would be enough to make it work?

[2018-01-31 16:07] ngbusca commented on #293
array([  4.17022005e-01,   7.20324493e-01,   1.14374817e-04,
         3.02332573e-01,   1.46755891e-01,   9.23385948e-02,
         1.86260211e-01,   3.45560727e-01,   3.96767474e-01,
         5.38816734e-01])

[2018-01-31 16:12] Cyeche commented on #293
I’m using the master branch….

[2018-01-31 16:13] ngbusca commented on #293
@Cyeche but did you do `git pull` on the master branch?

[2018-01-31 16:14] londumas commented on #293
@Cyeche, could you do:
[code]

[2018-01-31 16:14] Cyeche commented on #293
YES I DID
git pull
Already up-to-date.

[2018-01-31 16:22] Cyeche commented on #293
Now  I have the same message as Nicolas

WARNING: do_deltas.py: Header key is stack, arrays are not exactly equal, ussing allclose
F
======================================================================
FAIL: test_cor (__main__.TestCor)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "py/picca/test/test_cor.py", line 35, in test_cor

[2018-01-31 16:23] ngbusca commented on #293
@Cyeche then your master was not up-to-date?

[2018-01-31 16:24] Cyeche commented on #293
Not sure, I restart from scratch

[2018-01-31 16:25] ngbusca commented on #293
@londumas if I use the default values of allclose instead of the ones you set, the tests pass. Any reason to make the comparison stronger? (for reference, desispec uses the defauls allclose values).

Should I commit these changes to master?

[2018-01-31 16:27] londumas commented on #293
@ngbusca, the only reason I had was to make it the closest possible.
I am ok with leaving the default values. You can change this.

[2018-01-31 16:31] ngbusca commented on #293
@londumas it could also be related to the fact that we set nprocs to 4 but my computer doesn't have 4 procs. We should also try running the tests with nproc = 1 (but we'd need to generate new reference files). Could you create a new branch with new reference files generated with nproc = 1 instead? If it's too slow, feel free to reduce the number of quasars.

[2018-01-31 16:33] londumas commented on #293
@ngbusca, This is really a possibility comparing 3 procs to 4 procs produces these 1e-9 differences.
I am going to see if it is not too slow

[2018-01-31 16:55] londumas commented on #293
@ngbusca, now tests run on 1 proc. Please merge PR https://github.com/igmhub/picca/pull/294, and test again with mac.

[2018-01-31 17:57] londumas commented on #293
@ngbusca and @Cyeche , what is the status with the updated master?

[2018-01-31 18:02] julienguy commented on #293
Hi, I find python syntax errors in the fitter code in master (simply try do_fit) .

[2018-01-31 18:03] londumas commented on #293
@julienguy, what is the error and what version of Python do you use?

[2018-01-31 18:06] julienguy commented on #293
I see many errors. I am using python 3.6.4.
I am fixing this in a branch, starting from master and will open a PR

[2018-01-31 18:10] londumas commented on #293
@julienguy, don't loose too much time on do_fit. In a week it will be replaced by fitter.
But if you have time, why not.

[2018-01-31 18:10] londumas commented on #293
replaced by fitter2

[2018-01-31 18:32] ngbusca commented on #293
Thanks @julienguy . An extra parenthesis appeared in l. 125 for Chi2.py... wow, when did that happen !! After fixing it I don't see any other errors, but I haven't tested systematically...

TODO: (@londumas ) we need a unitest for the fitters as well...

[2018-01-31 18:34] londumas commented on #293
@ngbusca, does the unitest works on mac now?
@ngbusca, I don't think we should test do_fit. We are now only going to use fitter2. What do you think ?

[2018-01-31 18:36] ngbusca commented on #293
@londumas no, nproc=1 didn't fix it. So I've restored the default settings for allclose. It's now merged in master

For the fitters unitest, ok, we can only do it for fitter2

[2018-01-31 18:38] londumas commented on #293
@ngbusca, with the default for allclose, does it work now?

[2018-01-31 18:48] ngbusca commented on #293
@londumas yes. It's already merged in master

[2018-01-31 18:49] #293 closed

[2018-01-31 18:49] ngbusca commented on #293
Fixed in master

[2018-01-31 21:28] londumas commented on #284
fixed by adding an option to reject these pairs

[2018-01-31 21:37] ngbusca opened #297 "write a .yml file for travis tests"

[2018-01-31 23:13] #284 closed

[2018-01-31 23:14] #270 closed

[2018-01-31 23:20] londumas commented on #266
fixed in PR https://github.com/igmhub/picca/pull/300

[2018-01-31 23:30] londumas opened #301 "io.read_deltas doesn't project the delta by default"
`io.read_deltas` should be projecting the delta by default.
We should add line like:
[code]

[2018-01-31 23:36] londumas commented on #301
fixed in https://github.com/igmhub/picca/pull/299

[2018-02-01 00:35] londumas commented on #266
fixed in PR https://github.com/igmhub/picca/pull/299

[2018-02-01 15:22] #301 closed

[2018-02-01 15:22] #266 closed

[2018-02-01 15:57] londumas opened #304 "Add calculating the cross-covariance"
The idea is to add a script like `export.py` to get the cross-covariance from two data sets.

[2018-02-01 20:16] londumas opened #306 "Remove empty subsample in do_cf.py, do_xcf.py, ..."
When saving the data in `do_cf.py`, `do_xcf.py`,... , we could look if all bins of a given sub-sample are empty, and if it is the case remove this sub-sample.

[2018-02-01 22:41] londumas commented on #304
It would be nice to add `nside` to the header of correlation output.
With this we can compare the nside of `data1` and `data2` when computing the cross-covariance

[2018-02-08 10:12] londumas opened #308 "nb_pixels changes dimension when using `use-constant-weight`"
https://github.com/igmhub/picca/blob/860f1b3a5c436a97870772e7a6bfc927a5a032eb/bin/do_deltas.py#L320

In normal mode, nb_pixels is a `(nlss)` array. In the presence of `use-constant-weight` it is a `(nlss,nlss)` array

[2018-02-08 11:16] londumas opened #309 ">>1 values in flux versus lambdaObs stack with `--use-constant-weight`"
When using `--use-constant-weight` on do_deltas.py I get a flux versus lambdaObs stack >>1.

[2018-02-09 10:23] londumas commented on #304
Add `nside` to output correlation in `add_nside_in_cor`

[2018-02-13 19:06] ngbusca opened #314 "setup picca environment variables"
It would be great to have the prefix of the model file to be independent of the .ini file. We could set this up with a picca environment variable (e.g. PICCA_BASE). @londumas what do you think? We should do it such that if PICCA_BASE is not defined, then we get the current behavior.

[2018-02-13 23:41] londumas commented on #314
do you mean that `PICCA_BASE=$PICCA/py/picca/fitter2/models/PlanckDR12/PlanckDR12.fits`.
At least something like that?

[2018-02-14 06:57] ngbusca commented on #314
I think what you call PICCA is what I call PICCA_BASE...

[2018-02-14 14:07] londumas commented on #200
@mblomqvist, @vserret, can we close this and branches `cut_zlast_pix` and `zpair_cuts`

[2018-02-14 14:08] #200 closed

[2018-02-14 14:24] londumas commented on #309
When using normal weights, outliers are reduced thanks to their very low weights. When using `--use-constant-weight` they are no longer reduced. This isn't a bug.

[2018-02-14 14:24] #309 closed

[2018-02-14 14:55] vserret commented on #200
cut_zlast_pix has been already removed

[2018-02-14 15:02] londumas commented on #314
@ngbusca, I don't understand what this mean.

[2018-02-14 15:10] mblomqvist opened #316 "IO error in do_deltas"
When running do_deltas for DR12Q with mode=spec the code encounters an IO error from prep_Pk1D:
[code]

[2018-02-14 15:12] londumas commented on #316
@mblomqvist, could you give the input command?

[2018-02-14 15:13] mblomqvist commented on #316
Why does prep_Pk1D need to get called in a regular do_deltas analysis?

[2018-02-14 15:13] londumas commented on #316
@mblomqvist, it shouldn't. That is why I would like to see the command you send.

[2018-02-14 15:16] mblomqvist commented on #316
do_deltas.py --drq DR12Q.fits --in-dir /eboss/spectro/redux/v5_9_0/spectra/lite --out-dir /deltas/ --iter-out-prefix delta_attributes_lya_dr12_baseline --log input_lya_dr12_baseline.log --dla-vac DLA_DR12_v2.dat --zqso-min 2.05 --zqso-max 3.5 --mode spec --npix-min 20 --lambda-max 5400 --lambda-rest-min 1040 --lambda-rest-max 1200 --mask-file /picca/etc/dr14-line-sky-mask.txt

[2018-02-14 15:24] londumas commented on #316
https://github.com/igmhub/picca/blob/080339e8e24047b3560b990d2a43e314ea70572f/py/picca/io.py#L250
Indeed, the problem is in `read_from_spec`. Could you fix it @mblomqvist? We would only need to see if we are computing the pK1d or not

[2018-02-14 15:25] mblomqvist commented on #316
Well, the person who introduced the bug should fix it.

[2018-02-14 15:34] londumas commented on #316
@Cyeche, could you correct this bug introduced by adding Pk1d?

[2018-02-14 16:28] Cyeche commented on #316
Fixed in branch fix_bug_316

[2018-02-14 17:28] #263 closed

[2018-02-14 20:27] londumas commented on #314
fixed in PR https://github.com/igmhub/picca/pull/313

[2018-02-15 09:59] ngbusca opened #321 "Add broadbands to fitter2"
I'm willing to implement this unless someone else is working on it, @londumas ?

[2018-02-15 11:35] londumas commented on #316
fixed in PR https://github.com/igmhub/picca/pull/317

[2018-02-15 11:35] #316 closed

[2018-02-15 11:35] #314 closed

[2018-02-15 11:35] londumas commented on #321
ok, cool. @ngbusca, I am not working on this.

[2018-02-15 12:49] #304 closed

[2018-02-15 14:04] londumas commented on #137
fixed in PR https://github.com/igmhub/picca/pull/320 for fitter2

[2018-02-15 14:04] #137 closed

[2018-02-15 14:05] londumas commented on #274
fixed via PR https://github.com/igmhub/picca/pull/319

[2018-02-15 14:05] #274 closed

[2018-02-16 12:23] ngbusca opened #325 "do_deltas breaks when coadding observations"
The new fields `diff` and `reso` are not updated when coadding observations via the function `__add__`.  For coadditions, the resulting delta field might have a different number of pixels than the initial delta field, which generates an inconsistency between the number of pixels in `diff/reso` and the rest `ll` etc.

@Cyeche we need your input to solve this problem: how should we coadd the diff an

[2018-02-16 14:36] #290 closed

[2018-02-16 14:36] #289 closed

[2018-02-16 14:37] londumas commented on #297
@ngbusca, it it done?

[2018-02-16 15:18] ngbusca commented on #297
yes!

[2018-02-16 15:18] #297 closed

[2018-02-16 18:15] ngbusca opened #327 "unitests for fitter2"
@londumas any ideas what would be the best way to implement this?

[2018-02-16 19:49] londumas commented on #327
@ngbusca, yes. Why not simply do a combined fit with metals with one bias_lya and one bias_qso and one SiIII\(1207\). Then compare the h5pt output.
I can take care of this if you want.

[2018-02-16 20:41] londumas opened #328 "fitter2 cuts bins according to the mean rp,rt grid and not to the center"
In fitter, we were cutting bins according to the` rp, rt, r, mu` value at the center of the grid. not at the mean.
This allows to always have the same number of bins even if some data sets have different `rp, rt` grids.
Do we want to put back this way of cutting?
If yes, we should keed track of `'NT', 'NP', 'RTMAX', 'RPMIN', 'RPMAX'` in `export.py` and get the center of the grid from these paramet

[2018-02-16 23:00] londumas commented on #327
@ngbusca, doing a combined fit on `cf`, `xcf`, `cf_cross` works very well.
The only small issue is that some of the bins of the distortion matrix are empty.
We could set the rejection to lower and rerun `dmat`, `dmat_cross` and `xdmat` so that at least all bins of the matrix have been filled.
What do you think?

[2018-02-16 23:05] londumas commented on #327
@ngbusca, the other small issue is that because we only have 1000 forests the covariance matrix is not positive definite.
This is only an issue for fastMC

[2018-02-17 07:07] ngbusca commented on #327
I don't think we need a realistic distorsion matrix, we could just use the identity. I'm surprised that the covarinace is not positive definite, for the tests we go out to 60Mpc/h(?) so there are many less bins to calculate.

[2018-02-17 14:50] londumas commented on #327
@ngbusca, I think it is noce to give the fit the distortion matrix calculated in the unittest. It allows to test the export script.
For the covariance matrix it can be linked also to the fact that the forests distributed on a small patch of the sky

[2018-02-17 15:32] Cyeche commented on #325
This new feature is in preparation of DESI spectra or for coadding several observation of BOSS/eBOSS. For the latter wisp should be coaxed as in SDSS pipeline, for diff you can use the function in Prep_Pk1D.

[2018-02-17 16:11] mblomqvist opened #330 "syntax error for export.py"
export.py stops with "SyntaxError: future feature print_funcion is not defined". Run in anaconda python 2.7 environment.

[2018-02-17 16:39] londumas commented on #330
@mblomqvist, corrected in PR https://github.com/igmhub/picca/pull/329

[2018-02-17 16:43] mblomqvist commented on #330
OK, great.

[2018-02-17 17:13] londumas commented on #327
@ngbusca, could you give me an exemple of running fast MC ? I could add it to the unit tests

[2018-02-17 17:44] ngbusca commented on #330
@londumas we don't test this in the unitests?

[2018-02-17 17:56] ngbusca commented on #327
@londumas to run a fast mc you can add:

    [fast mc]
    niterations = 1

to your `chi2.ini` file. I agree that it's better to use the output of the export.py script, but we need to keep the running time for each test under  ~a minute.

[2018-02-17 18:23] ngbusca commented on #330
Thanks @londumas for the fix and @mblomqvist for reporting it. Fixed in master

[2018-02-17 18:23] #330 closed

[2018-02-17 21:08] ngbusca commented on #328
I think the fix for this is quite simple, instead of doing, e.g., rmin=10 we could do rmin=9 or 9.5. Then we don't need to change anything in the code.

[2018-02-19 15:50] londumas commented on #328
@ngbusca, I would prefer the code to be based on the center of the grid. We did it for the previous papers.

[2018-02-19 15:54] ngbusca commented on #328
@londumas well, we did it in the previous papers just because we didn't realize at the time that we could have just change a little bit rmin.

[2018-02-19 15:57] mblomqvist commented on #328
But then, formally, we would need to quote different rmin (e.g. 10 and 9.5) for different fits in the papers.

[2018-02-19 16:01] ngbusca commented on #328
Yes, we would need a slightly lower rmin sich that it's equivalent to the previous fits.

[2018-02-20 14:01] mblomqvist opened #332 "Missing cross-correlation models in fitter2"
Fitter2 does not support models for HCD, UV and combinations with veto_lorentz/gaus for the cross-correlation. In r-space, the QSO radiation model is not functioning properly.

[2018-02-20 14:31] ngbusca commented on #332
@mblomqvist thanks for the reminder. I'll work on the hcds and uv.

Can you expand on how the radiation model is not working properly?

[2018-02-20 14:36] #327 closed

[2018-02-20 14:39] londumas commented on #328
@ngbusca, why don't you want to do it as we did in DR12 papers? We would just have to change `export.py` and `fitter2/data.py`.

[2018-02-20 15:07] mblomqvist commented on #332
There is a QSO radiation model, but it 1) takes the wrong arguments 2) uses rp without being passed this argument 3) doesn't apply the drp shift in the actual model 4) asserts LYA even though the absorption tracer could be something else.

[2018-02-20 15:07] ngbusca commented on #328
Because I think that it really makes more sense to cut on the mean pixel separation than the pixel. Also it means we don't need to change anything in the code

[2018-02-20 15:14] mblomqvist opened #333 "Naming inconsistency in fitter2"
Fitter2 uses 'hcd' and 'lls' in different functions. The former name is preferred.

There is also a mild preference to change sigmaNL_per to SigmaNL_per to reflect the Greek notation difference.

[2018-02-20 15:17] ngbusca commented on #332
@mblomqvist feel free to PR a fix

[2018-02-20 15:24] ngbusca commented on #333
@mblomqvist well... Greeks will have to get used to it ;^)

[2018-02-20 15:54] mblomqvist commented on #333
@ngbusca OK

[2018-02-20 15:54] #333 closed

[2018-02-21 09:35] ngbusca commented on #332
@mblomqvist can we close this issue? Are there pieces still missing?

[2018-02-21 10:19] mblomqvist commented on #332
We can close this specific issue now.

[2018-02-21 10:19] #332 closed

[2018-02-21 10:51] ngbusca commented on #287
@londumas did we ever address this issue?

[2018-02-21 13:41] mblomqvist opened #336 "Add isotropic BAO fit to fitter2"
Fitter2 does not support BAO fits expressed in (alpha_iso, 1+epsilon).

[2018-02-21 16:08] londumas commented on #287
@ngbusca, no but it is very simple to fix. The only question is: do we plan to use `do_wick` any time soon?

[2018-02-21 16:26] mblomqvist opened #337 "Add BAO amplitude parameter to fitter2"
Fitter2 does not support a BAO amplitude parameter.

[2018-02-21 17:05] mblomqvist opened #338 "Add Gaussian prior to fitter2"
Fitter2 does not support the option to add Gaussian priors on fit parameters.

[2018-02-21 17:09] londumas commented on #338
@mblomqvist, when implementing this we need also need to keep track of the parameters in the output.
Maybe the simplest way to add Gaussian priors is to do something similar as the implementation of `chi2 scan`.

[2018-02-21 18:32] ngbusca commented on #338
@londumas I don't understand what you mean by

[2018-02-21 18:40] londumas commented on #338
@ngbusca, I mean that we need to add storing sigma_gaussian and mean_gaussian in the output of fitter2. It is different from https://github.com/igmhub/picca/issues/337 where the code will do it by itself, because the change consists in adding a regular parameter. Do you understand?

[2018-02-21 19:04] ngbusca commented on #338
do you mean that we would need to store the parameters of the priors? I'd agree with that.

[2018-02-21 20:05] londumas commented on #338
@ngbusca, yes. That what I mean.

[2018-02-22 01:40] londumas opened #339 "Correlation with itself in cross-correlation"
In cross-correlations we attempt to reject correlations with itself using `THING_ID`.
The issue is that not all object have this attribute.
For example the galaxy catalogs don't have this info.
The issue is that some objects in the galaxy catalog are also in the quasar catalog.
We need to remove correlations between a forest and its emitter.
A simple solution is a comparison of both ra, both dec a

[2018-02-22 07:32] ngbusca commented on #339
@londumas how do they know that they don't have repeated objects in their sample?

[2018-02-22 14:21] londumas commented on #339
@ngbusca, I don't understand the question.

[2018-02-22 14:28] ngbusca commented on #339
@londumas never mind, can't you use spAll as a catalog for the objects? I thought that was the parent catalog for all clustering analyses. They reject some objects when they fall in low completeness regions, but for your cross-correlation with MgII you don't need care about that. Besides, I think picca accepts both spAll or DRQ formats.

[2018-02-22 16:25] londumas commented on #339
Even inside DR14Q there seems to be repeated objects:

https://dr14.sdss.org/optical/spectrum/view?plate=6171&mjd=56311&fiberid=694
https://dr14.sdss.org/optical/spectrum/view?plate=7593&mjd=56958&fiberid=423

https://dr14.sdss.org/optical/spectrum/view?plate=7593&mjd=56958&fiberid=423
https://dr14.sdss.org/optical/spectrum/view?plate=6171&mjd=56311&fiberid=694

https://dr14.sdss.org/optical/spect

[2018-02-22 18:49] londumas commented on #339
@ngbusca, I just talk with some DR15Q people.
It is known that there are repeated QSOs in DR14Q catalog. They are planning to remove multiple observations in DR15Q.

[2018-02-22 18:49] ngbusca commented on #339
do they have different THING_ID?

[2018-02-22 18:50] londumas commented on #339
@ngbusca, yes

[2018-02-23 00:00] mblomqvist commented on #339
DR14Q is supposed to be organised by object, defined by the best observation. @londumas so several mistakes have been found?

[2018-02-23 00:11] londumas commented on #339
@mblomqvist, yes. Apparently this issue of DR14Q is known to the DR15Q team. I found them also.
I am currently producing a DR14Q where I will to remove any second occurrence of:
[code]
I will see how many objects fall in this category.

[2018-02-23 06:05] ngbusca commented on #339
@londumas this is not fine enough! You should check for angle < 1 arcsec

[2018-02-23 10:14] mblomqvist commented on #339
@londumas out of curiosity, have you looked at what the fields N_SPEC and *_DUPLICATE in the catalog say for these objects?

[2018-02-23 14:34] londumas commented on #339
@ngbusca, I agree. However with the diff_z condition it removes a lot of fake coincidences.
Also I prefer to be safe than not.
@mblomqvist, I have not. What do you have in mind?

[2018-02-23 14:55] mblomqvist commented on #339
@londumas I was just curious whether they have N_SPEC=0 (i.e. claiming no duplicate spectra available for the object) or if they reference each other in *_DUPLICATE.

[2018-02-23 16:17] ngbusca commented on #339
@londumas So are there repeated THING_IDs in DR14Q? If yes, then it's trivial to find these objects, no?

[2018-02-23 16:21] londumas commented on #339
@ngbusca, There are no repeated THING_IDs in DR14Q, neither repeated TARGETIDs (redrock definition).
We really have to proceed to a 3d sphere matching.

[2018-02-23 16:25] ngbusca commented on #339
So they have different THING_ID? How do you know they are the same object?

[2018-02-23 16:27] ngbusca commented on #339
For example, for the first pair, you can see in the photometry that they are two different quasars that are very close: [http://skyserver.sdss.org/dr14/en/tools/chart/navi.aspx?ra=1.78016532079232&dec=21.1870203268623&scale=0.2](url)

[2018-02-23 16:28] ngbusca commented on #339
Same thing for the second pair.

[2018-02-23 16:29] londumas commented on #339
Yes

Because they really look the same and because the DR15Q team confirmed me they exist in DR14Q.
However they think there is only a small fraction.

[2018-02-23 16:29] ngbusca commented on #339
Just look at the photometry, there are really two nearby quasars.

[2018-02-23 16:31] ngbusca commented on #339
For the second example, the fluxes from each object are different by almost a factor of two, not very similar ;^)

[2018-02-23 16:34] londumas commented on #339
@ngbusca, I am sure that the list I gave is not good enough because I was too liberal with my selection.
What is sure is that in galaxies cat, there are DR14Q objects (even from PLATE,MJD,FIBERID matching).
For duplicates in DR14Q, let me find a pair that would prove me wrong or right.

[2018-02-23 16:39] ngbusca commented on #339
Sure! But the only.way is to check that the angle is less than an arcsec.

⁣Sent from BlueMail ​

On Feb 23, 2018, 17:34, at 17:34, "Hélion du Mas des Bourboux" <notifications@github.com> wrote:

[2018-02-26 08:06] jmarclegoff opened #341 "Protect do_xcf against empty in_dir"
If in_dir is empty, the user gets a cryptic message :
[code]
I suggest adding after line 149 of do_xcf.py, something like :
[code]

[2018-02-27 16:25] londumas commented on #341
@jmarclegoff, with @ngbusca we want to move reading the files to `py/picca/io.py` at some point.
That is where the test should be at the end.

[2018-02-27 16:27] londumas commented on #339
@ngbusca and @mblomqvist, indeed in DR14Q there was no pairs at less than 1 arcsec.
However there where in the galaxy catalog and between the galaxy and the quasar catalog.

[2018-02-27 16:27] #339 closed

[2018-02-28 07:09] ngbusca opened #344 "Add option to control the verbosity of fitter2"
I like to see the fit progressing in the screen, but we need an option to control the amount of output...

[2018-02-28 19:04] Cyeche commented on #316
Did the bug happen only with python 3?

[2018-02-28 21:01] ngbusca commented on #316
@Cyeche no, this is related to the fact that @mblomqvist had the lite version of the spec files (without the individual exposures), so prep_Pk1D crashed. But it's been fixed in master.

[2018-03-01 06:41] ngbusca opened #346 "git crashes when reading desi data"
@Cyeche reported:
[code]
Cela donne :
[code]

[2018-03-01 07:19] ngbusca opened #347 "minor issues with desi_from_ztarget_to_drq and desi_from_truth_to_drq"
The function desi_from_ztarget_to_drq doesn't work. Indeed, the ztarget from redrock doesn't have RA DEC information. Like desi_from_truth_to_drq this function should input the targets.fits file as well.

There's another issue with the way these functions are implemented (specially desi_from_truth_to_drq): it is assumed that columns in target.fits and truth.fits are aligned (of course this won't w

[2018-03-01 14:21] londumas commented on #346
To keep track of the email discussions, the solution should be something like this:
[code]

[2018-03-01 14:22] londumas commented on #347
@ngbusca, could you give me the path to the truth and zbest files you use on Nersc to test this?

[2018-03-01 16:00] ngbusca commented on #346
I'm working on this. In my fix, read_from_desi won't return ndata, so it has the same behavior as the other read_from_X functions. I'll PR as soon as I can try it on desi (but I need a fix of #347  so I can do that)

[2018-03-01 16:02] londumas commented on #346
@ngbusca, to fix https://github.com/igmhub/picca/issues/347 I need desi qso catalogs

[2018-03-01 16:02] ngbusca commented on #347
I'm using

    /global/projecta/projectdirs/desi/datachallenge/dc17b/targets/truth.fits

and

    /global/projecta/projectdirs/desi/datachallenge/dc17b/spectro/redux/dc17b/spectra-64/0/0/zbest-64-0.fits

[2018-03-01 16:12] londumas commented on #347
@ngbusca, ok to fix comparing a dictionary for `desi_from_truth_to_drq`.
However why don't you use `/global/projecta/projectdirs/desi/datachallenge/dc17b/spectro/redux/dc17b/ztarget-dc17b.fits` for `desi_from_ztarget_to_drq`

[2018-03-01 16:17] ngbusca commented on #347
I didn't know this file existed! I'll take a look

[2018-03-01 16:56] londumas commented on #347
Here is the catalog and path that should be used:
[code]

[2018-03-01 17:48] londumas commented on #347
fixed in https://github.com/igmhub/picca/pull/348

[2018-03-01 19:00] londumas opened #349 "Possible overflow of float"
For all my measurements `export.py` gives me a positive definite covariance matrix except for my GALAXYxMGII correlation.
This correlation has a lot of pairs, way more than the others.
One possible reason could be that the code in `export.py` or `py/picca/utils.cov` or in `py/picca/utils.smooth_cov` has some overflow of floats.
The problem could also be in `do_xcf.py`.
The problem could also be to

[2018-03-01 19:29] ngbusca commented on #349
Do you have your cf at nersc? I can take a look too...

[2018-03-01 20:30] londumas commented on #349
@ngbusca, thank you very much.
It is in
`/global/homes/h/hdumasde/Run_programs/igmhub/picca/For_nicolas/xcf_forest1_MGII2_line1_MGII_obj1_LRGandCMASS.fits.gz`

[2018-03-01 21:02] londumas commented on #349
I have looked at some aspects and found no problem:
    - If I take only the diagonal, the matrix is positive definite.
    - The smoothed correlation matrix is not positive definite.
    - It is not because some bins are empty (I tested), it is not because some healpix pixels are totally empty (tested also).

[2018-03-01 21:51] londumas commented on #349
Here is the distribution of the non-diagonal terms of the smoothed covariance-matrix for different measured correlations.
Different things could be happening:
    - bug in `export.py`
    - non-vanishing correlation for each sub-sample
    - too many pairs with the same delta_MgII
![capture d ecran de 2018-03-01 14-45-30](https://user-images.githubusercontent.com/3166436/36871343-35e833ac-1d5f-11e

[2018-03-01 21:58] londumas commented on #349
Here is the same distribution but for the off-diagonal elements of the un-smoothed correlation matrix:

![capture d ecran de 2018-03-01 14-57-38](https://user-images.githubusercontent.com/3166436/36871950-fe677fe4-1d60-11e8-812a-a9aaaa3521aa.png)

[2018-03-02 16:27] mblomqvist opened #351 "Unittest failure"
The unittest was run in python 2.7 on a topic branch that is up-to-date with master and only has a minor change in fitter2, but stops with the failure
[code]

[2018-03-02 16:29] londumas commented on #351
could you do the same test on master?

[2018-03-02 16:33] mblomqvist commented on #351
Same failure on master. There are warnings for every code of the type
WARNING: do_xcf_angl.py: Header key is RP, arrays are not exactly equal, using allclose

[2018-03-02 16:36] londumas commented on #351
@mblomqvist, what happens if you comment the test of `do_xcf_angl.py`?

[2018-03-02 16:40] ngbusca commented on #351
@mblomqvist were the tests passing on your system before?

[2018-03-02 16:41] mblomqvist commented on #351
This is the first time I'm running it on my system

[2018-03-02 16:41] londumas commented on #351
@mblomqvist, It can be a difference of generation of random numbers.

[2018-03-02 16:43] ngbusca commented on #351
@mblomqvist can you confirm that all your package versions correspond to what's listed in the requirements.txt file?

[2018-03-02 16:43] mblomqvist commented on #351
I commented out
self.compare_fits(path1,path2,"do_xcf_angl.py")
but the unittest stopped at send_metal_xdmat with a segmentation fault: 11

[2018-03-02 16:44] ngbusca commented on #351
@londumas it's possible but a bit unlikely. The tests pass at nersc on python 3, at Utah on python 2, on my mac and on the linux console of travis...

[2018-03-02 16:45] ngbusca commented on #351
@mblomqvist that segfault seems like a separate problem...

[2018-03-02 16:47] mblomqvist commented on #351
The numbered requirements are scipy 0.17.0 and iminut 1.2 and my laptop fulfils both

[2018-03-02 16:49] ngbusca commented on #351
@mblomqvist then your master is not up-to-date:

scipy==0.19.1
numpy==1.13.1
iminuit==1.2
healpy==1.11
fitsio==0.9.11
numba==0.35.0
h5py==2.6.0
future
setuptools==27.2.0

[2018-03-02 16:50] mblomqvist commented on #351
Requirements are listed here https://github.com/igmhub/picca

[2018-03-02 16:51] ngbusca commented on #351
No, they are listed in the requirements.txt file

[2018-03-02 16:52] mblomqvist commented on #351
requirements:

python 2.7
scipy 0.17.0 or later
iminuit 1.2 or later
fitsio
healpy
numba
multiprocessing
configargparse
h5py

[2018-03-02 16:54] mblomqvist commented on #351
Then somebody should update README asap or remove it entirely. The current information is misleading.

[2018-03-02 16:57] ngbusca commented on #351
@mblomqvist that's a separate issue. Please make sure your packages correspond to the requiremets.txt file and report whether that fixes the unittests.

[2018-03-02 17:51] mblomqvist commented on #351
I haven't run python setup.py install because I have picca/py in my PYTHONPATH instead. Does this make a difference?

[2018-03-02 18:24] ngbusca commented on #351
No, it shouldn't make a difference. You can always try a PR, what counts is that tests pass on travis.

[2018-03-02 18:29] ngbusca commented on #351
by the way, to keep track of this, can you please give the details of the system where you encounter this problem. I'll see if I can reproduce it on my end.

[2018-03-02 18:34] mblomqvist commented on #351
The failure was encountered on a MacBook Pro laptop OSX El Capitan 10.11.6 using anaconda python 2.7 environment

[2018-03-02 18:36] ngbusca commented on #351
@mblomqvist what's the python version? (X=? in 2.7.X)

[2018-03-02 18:36] mblomqvist commented on #351
2.7.13

[2018-03-02 19:40] ngbusca opened #353 "ap, at is applied to the full shape of metals"
Inadvertidly, it seems that the alphas are applied to the full shape of the metal correlation function (there's currently no peak-broadband decomposition for the metal contamination).

[2018-03-02 20:10] mblomqvist commented on #353
Good to know. That might explain why I've been getting slightly different results compared to fitter1.

[2018-03-02 20:14] mblomqvist commented on #351
Can I continue development without the unittest for now?

[2018-03-02 20:15] londumas commented on #351
@mblomqvist, yes no problem. The unittest are on gitHub now. They are automatic.

[2018-03-02 20:47] londumas commented on #353
@ngbusca, are you sure what you say is true? `py/picca/fitter2/data.py` seems perfect.
The problem might only be in `py/picca/fitter2/chi2.py`

[2018-03-02 20:59] mblomqvist commented on #337
Fixed in master.

[2018-03-02 20:59] #337 closed

[2018-03-02 21:10] ngbusca commented on #353
Well, there isn't an explicit broadand-peak decomposition as there is for the main signal, so yes, I'm sure (which doesn't mean I'm not wrong). I don't know what you mean by perfect.

[2018-03-02 21:16] mblomqvist commented on #353
@ngbusca The decomposition is done in the chi2 function of data.py so that should affect the main and metal signals equally, no?

[2018-03-02 21:26] ngbusca commented on #353
Yes you are both right, it's correctly implemented. Sorry for the noise!

[2018-03-02 21:26] #353 closed

[2018-03-04 17:56] mblomqvist opened #356 "Superfluous calculation in HCD functions"
The HCD models in pk.py unnecessarily (and incorrectly) calculate the transverse wavenumber kt.

[2018-03-05 12:22] ngbusca commented on #356
Thanks for catching this, could you PR a fix @mblomqvist ?

[2018-03-05 15:46] #346 closed

[2018-03-05 15:46] #344 closed

[2018-03-05 17:02] londumas commented on #328
@ngbusca and @mblomqvist, the thing I don't like about "a slightly lower rmin" is that how to decide the value of this lower rmin? `0.1`, `1.0`? We would have to tune this parameter.
Cutting on the center of the grid is better, there are no parameter to tune.
Currently with my MgII fit I have some correlations that have `3179` bins, other that have `3180` bins.

However if you really don't like cu

[2018-03-05 17:11] mblomqvist commented on #328
I came across a fit where I had 3179 bins instead of 3180 bins, but the missing bin was at "slightly larger rmax" instead.

[2018-03-05 17:36] mblomqvist commented on #356
Fixed in PR #358

[2018-03-05 18:10] #356 closed

[2018-03-05 18:24] londumas opened #359 "add galaxies to fitter2"
Currently fitter2 has some functions that `assert tracer==QSO`.
What would be the best way to add galaxies?
We could add a list of tracers in `py/picca/constants.py` like:
[code]
and then in `py/picca/fitter2/pk.py:::pk_velo_gaus()` we could have:
[code]
What do you think @ngbusca?

[2018-03-09 15:21] #347 closed

[2018-03-09 17:56] ngbusca commented on #351
@londumas why is this tagged as a bug?

[2018-03-09 19:24] londumas commented on #351
@ngbusca, yes it is a bug, unittest should work everywhere.

[2018-03-09 19:27] ngbusca commented on #351
@londumas it should, but we haven't determined why it doesn't, so we can't say it's a bug

[2018-03-09 19:29] londumas commented on #351
"accused is innocent until proven guilty" or "accused is guilty until proven innocent" ?
You choose. For code issues I prefer the second.

[2018-03-09 19:31] ngbusca commented on #351
A bug is a very specific kind of problem, it means there is a mistake in the code. We haven't determined that.

[2018-03-09 19:32] londumas commented on #351
Is this new label better?

[2018-03-09 20:06] ngbusca commented on #351
Yes!! Much much better, thank you thank you :^)

[2018-03-12 10:50] jfarr03 opened #364 "do_xcf.py crashes when using --from-image option due to delta's "co" argument"
At the moment, in the from_image method in py/picca/data.py, a delta object is created with the "co" argument set to None. This causes do_xcf.py to crash when a delta's "co" argument is subscripted in line 261: "d.co = d.co[w]".

This is easy to get around for now by simply commenting out the line, so it doesn't really cause any major problems, but I thought it'd be a good idea to raise an issue j

[2018-03-13 20:42] londumas commented on #364
PR https://github.com/igmhub/picca/pull/361 removes the lines [|239,263] in `do_xcf.py`. This will fix this issue.

[2018-03-14 20:43] londumas opened #367 "redshift of parameters for combined fit"
Currently in `fitter2` there is a `zref` for each input correlation.
- it would be nice to put the input `zref` in the h5py file so the user knows at what redshift the parameters are give.
- At what redshift are the parameters given in the case of two input correlations with different `zref` ? maybe we should move `zref` from the config file to the `chi2` file. Or have this parameters unique in so

[2018-03-14 21:07] mblomqvist commented on #367
I suggested some time ago that zref should be read from the input power spectrum header. We have not followed up on that yet.

[2018-03-14 21:50] ngbusca commented on #367
The way I see it (it might not be what's implemented), the bias, beta, etc. should be given at the redshift of the measurement (call it zeff). We need to read the zref of the fiducial P(k) to know by how much we need to rescale it to zeff (but that's trivial). For parameters that are shared and need to be converted from zeff(measurement 1) to zeff(measurement 2) an assumption on the z evolution of

[2018-03-14 21:52] ngbusca commented on #367
I agree with @londumas that we should propagate the zeff's to the output file.

[2018-03-14 21:59] londumas commented on #367
@ngbusca, do you mean that currently the result parameters are given at `zeff`, the redshift of the input power-spectrum?

[2018-03-14 22:00] mblomqvist commented on #367
Let's start by agreeing on the names: zref = reference redshift of the fiducial P(k), zeff = effective redshift of the measurement. Currently, fitter2 has no input for zeff (as far as I know).

[2018-03-14 22:10] londumas commented on #367
Here is how I see things:
- there should be a zeff (~<z_bins>) for each measure
- there should be a zoutput at which the parameters are given. It could be 0 or zeff if there is only one measure.
- zref (from P(k)) shouldn't be a parameter since it is given in the P(k) file. In the future it could also be exactly zoutput by reading P(k) from a grid in redshift. @mblomqvist, would it be hard to prod

[2018-03-15 06:33] ngbusca commented on #367
@londumas we don't need to generate `P(k)` at different `z`, all we need is the growth factor.

[2018-03-15 09:09] ngbusca commented on #367
Here's a plot with the ratio of P(k) at z=2 and P(k) z = 1. Once correcting for the growth rate, the differences are smaller than 0.3%, and only at the largest scales.

![image](https://user-images.githubusercontent.com/4727509/37453746-f7d344c8-2838-11e8-9422-2c03ff5fef0f.png)

[2018-03-15 20:11] londumas opened #369 "Apply Codacy recomendation"
@ngbusca added picca to a Codacy check.
Let's apply step by step the different recomendation from https://app.codacy.com/app/ngbusca/picca/issues/index

[2018-03-15 20:58] londumas commented on #369
It seems that the code in `py/picca/wick.py` is already present in `py/picca/cf.py`.
What is the reason we have the `py/picca/wick.py` file?

[2018-03-15 21:04] ngbusca commented on #369
it's a different module doing a different thing. I would remove the duplicated code from cf.py

[2018-03-17 18:36] mblomqvist opened #372 "Store cosmological parameters in fiducial P(k) file"
It would be useful to store the cosmological parameters used for CAMB in the header of the fiducial P(k) fits file. In particular, the value of 'Om' is of key importance.

It is, however, not clear which parameters we want to store. The CAMB ini files are rather long and already available in the 'models' directory, so it seems like overkill to duplicate everything. Would it be enough to store a su

[2018-03-17 18:42] ngbusca commented on #372
@mblomqvist I agree with all of the above. As you propose, let's keep only those parameters that we need to pass forward to the fitter, and add those that is convenient to have available at analysis time (I don't think YHe is one of them...).

[2018-03-17 19:05] mblomqvist commented on #372
'Om' and 'OL' (or 'Ok') will be used by the fitter. 'H0', 'rdrag' and 'sigma8' could be convenient. Please add to the wish list.

[2018-03-19 16:22] londumas commented on #372
fixed in store_cosmo_parameters

[2018-03-19 16:22] #372 closed

[2018-03-21 14:49] londumas commented on #364
@jfarr03, should be fixed. Can you checked if it is?

[2018-03-21 14:51] #341 closed

[2018-03-21 15:08] londumas opened #375 "Om and OL parameters for growth_factor_de"
Currently when using `growth_factor_de`, the user has to specify `Om` and `OL` as parameters.
It would make more sense to have these parameters read from the power-spectrum and passed in a similar way as `zref`.
If we do such a thing then we could define:
[code]
What do you think @ngbusca and @mblomqvist?

[2018-03-21 15:19] ngbusca commented on #375
@londumas I agree that that's the way it should be implemented...

[2018-03-21 15:44] mblomqvist commented on #375
@londumas I agree too

[2018-03-21 16:10] londumas commented on #375
Who volunteers to take care of this?

[2018-03-21 16:24] londumas commented on #328
I made a PR (https://github.com/igmhub/picca/pull/374) to give an idea of what I have in mind when I was talking of cutting on center of the bins. This PR gives the same behavior as in fitter.

As @ngbusca, pointed it out to me the issue arises from cutting `rmin=10` when our bin size is `4` and so the bin center are `2, 6, 10, ...`. If we were cutting at `8` the issue would not arise with a bin s

[2018-03-21 16:41] mblomqvist commented on #328
@londumas I have a mild preference for your suggestion. As I mentioned before, included bins also depend on rmax.

[2018-03-21 17:04] mblomqvist commented on #375
@londumas Can't you add it quickly in PR #371 ?

[2018-03-21 17:05] londumas commented on #375
@mblomqvist, I can. @ngbusca, are you ok with me adding this correction to the PR 371?

[2018-03-21 18:07] ngbusca commented on #328
Ok guys, you win ;^)

[2018-03-21 18:11] ngbusca commented on #375
@londumas sure!

[2018-03-21 18:29] londumas commented on #328
@ngbusca, thank you @ngbusca. You will get a large bear next time we see.

[2018-03-21 18:29] #328 closed

[2018-03-23 16:16] ngbusca commented on #369
@londumas Is this PR work in progress to slowly apply all coadacy recommendations or is it ready?

[2018-03-26 10:11] vserret opened #376 "Binning effect"
For the fit of the cf, the G(k) term of equation (21) (Bautista, 2017) is composed by the product of square of sinc but the Fourier transform of the rectangle function is just sinc.
Should we erase the squares ?

[2018-03-26 20:19] ngbusca commented on #376
I agree with @vserret . @londumas @mblomqvist any objections?

[2018-03-26 20:25] londumas commented on #376
Do you mean that the last paragraph of page 11/22 of Bautista et al (https://arxiv.org/pdf/1702.00176.pdf) is wrong?
Could you give the math and the relevant assumptions?

[2018-03-26 20:51] mblomqvist commented on #375
Can we close this issue?

[2018-03-26 20:52] #375 closed

[2018-03-27 09:48] vserret commented on #376
The Fourier transform of the rectangle function is sinc and since we are binning on the cf and not on the deltas, so I think we should not have the squares.

[2018-03-27 09:57] mblomqvist commented on #376
OK, that sounds reasonable. Was there a reason for using the square in previous analyses? Also, I noticed that fitter1 divided the argument with pi - why?

[2018-03-27 10:01] mblomqvist commented on #376
I might have answered my own question: the division by pi is probably because we used the scipy version of sinc.

[2018-03-27 10:02] ngbusca commented on #376
@mblomqvist The square is a heritage of the initial implementation which was relative to a smoothing of the delta field. I guess the transition to smoothing the correlation function was done without enough thought. The `pi` has to do with the definition of the `sinc` function of scipy.

[2018-03-27 10:05] mblomqvist commented on #376
@ngbusca thanks, yes I recall that the smoothing was initially for the delta field binning. Then it's clear that we should adopt @vserret's suggestion.

[2018-03-27 10:15] ngbusca commented on #376
Reworking the full expression, it's actually a bit more complicated than just removing the square. It seems to me that the transverse smoothing effect on `P(k)` can be treated exactly. I'll assign this issue to myself.

[2018-03-27 10:31] mblomqvist opened #377 "typo in tracer type"
A tracer type can be "continuus" in the code but it should say "continuous".

[2018-03-27 10:36] ngbusca commented on #377
I agree. I also don't like "continuous", it's certainly not!

[2018-03-27 10:37] ngbusca commented on #376
![20180327_123440](https://user-images.githubusercontent.com/4727509/37962483-860e0ea4-31bb-11e8-9faa-d8de42d4424c.jpg)

[2018-03-27 10:37] ngbusca commented on #376
Here's my calculation. I'm a bit puzzled that the transverse `sinc` is exact, but I don't see the error...

[2018-03-27 11:34] ngbusca commented on #376
In the expressions above there are missing factors of `exp(i k_p r_p)` and `exp(i k_t r_t)`

[2018-03-27 13:37] #367 closed

[2018-03-27 13:37] #359 closed

[2018-03-27 15:20] jfarr03 commented on #364
Yes this is fixed, thanks!

[2018-03-28 06:45] ngbusca opened #380 "better name for tracer type"
This issue is to brainstorm possible better names for the `tracer-type` (currently `discrete` for galaxy-like tracers and `continuous` for forest-type tracers).

@mblomqvist proposed `forest` for the latter. I'd personally like a name that makes no reference to the physics involved in whatever we are trying to correlate.

[2018-03-28 07:06] #377 closed

[2018-03-28 08:03] mblomqvist commented on #380
Is "skewer" better?

[2018-03-28 20:38] londumas opened #382 "bias_<tracer> is a wrong name in fitter2"
In fitter2, `bias_i` is actually defined as the following:
![image](https://user-images.githubusercontent.com/3166436/38054875-69584c22-3295-11e8-8fec-ab4a3654ed68.png)
Either we should change the name of this parameter or change the definition in `py/picca/py/fitter2/utils.py:::bias_beta()`.
I have no strong opinions on what is better.
What do you think @ngbusca, @vserret, @mblomqvist?

[2018-03-28 21:25] londumas opened #383 "`in_nside` is hardcoded in py/picca/io.py:::read_from_desi()"
Currently `in_nside` is hardcoded in py/picca/io.py:::read_from_desi().
The idea was that in desi it is fixed to 64, however simulations can have different nside.
Currently JM and Thomas' simulations have `nside=16`
We have to decide the best way to change this parameter.

[2018-03-30 02:48] Cyeche opened #388 "Problem with new raeding of desi mocks"
With the new strategy for nside in the reading of desi mocks, the code breaks  (I'm using python2)

Found 776 qsos
Traceback (most recent call last):
  File "bin/do_deltas.py", line 192, in <module>
    best_obs=args.best_obs, single_exp=args.single_exp, pk1d=args.delta_format )
  File "/Users/yeche/Develop/Pk1D/picca/py/picca/io.py", line 168, in read_data
    data = read_from_desi(nside,in_dir,t

[2018-03-30 04:26] Cyeche commented on #388
Actually that’s fine I have just forgotten to add spectra-64/ to the path.  Sorry for the false alarm.

[2018-03-30 04:33] #388 closed

[2018-03-30 15:26] #383 closed

[2018-04-02 22:59] #376 closed

[2018-04-02 23:01] londumas opened #391 "do_co.py is very long"
The `do_co.py` computation is quite long.
Is there a way to improve the computation time?
@ngbusca, what are the tools you used to asse the computation time performance?

[2018-04-03 06:29] ngbusca commented on #391
when you run at NERSC, do you set

    export MKL_NUM_THREADS=1

either in your environment or your batch script?

Otherwise, I use the `cProfile` which outputs how much time is spent in every function.

[2018-04-03 16:06] vserret commented on #382
bias_eff_i ?

[2018-04-03 16:19] #336 closed

[2018-04-05 16:15] mblomqvist opened #394 "Metals in object-forest cross-correlation fits"
The code data.py checks for metals both 'in tracer1' and 'in tracer2' since a recent update, but object-forest cross-correlations (e.g. QSO-Lya) only have one of the two. Hence, the fit stops with an error during initialisation.

[2018-04-05 16:17] londumas commented on #394
It works with the following code.
This way is nice because then we say there is nothing in tracer1.
[code]

[2018-04-05 16:18] londumas commented on #394
This is the current behavior in unittest

[2018-04-05 16:25] mblomqvist commented on #394
@londumas thanks for the info, I hadn't considered that. I guess that's a good solution.

[2018-04-05 16:34] ngbusca commented on #394
This is a counter intuitive behavior and shoild be fixed.

[2018-04-05 17:10] londumas commented on #394
@mblomqvist, could you post the error message?

[2018-04-05 17:13] mblomqvist commented on #394
Traceback (most recent call last):
  File "/picca/bin/fitter2", line 7, in <module>
    dic_init = parser.parse_chi2(sys.argv[1])
  File "/picca/py/picca/fitter2/parser.py", line 47, in parse_chi2
    dic_init['data sets']['data'] = [data.data(parse_data(os.path.expandvars(d),zeff,dic_init['fiducial'])) for d in cp.get('data sets','ini files').split()]
  File "/picca/py/picca/fitter2/parser.py", l

[2018-04-05 18:43] ngbusca opened #396 "Add check for module versions to unittest"
It would be great to add checks for the module versions to the unittest and issue a WARNING message (not an error) if they are different from those in the `requirements.txt` file. @londumas could you implement that?

[2018-04-05 19:33] londumas commented on #396
@ngbusca, what is `future` in `../../../requirements.txt`

[2018-04-06 10:26] #394 closed

[2018-04-06 17:01] #338 closed

[2018-04-06 19:39] #396 closed

[2018-04-06 19:44] londumas commented on #391
[code]

[2018-04-06 19:53] londumas commented on #391
There is also https://github.com/manodeep/Corrfunc

[2018-04-06 19:55] londumas commented on #351
@mblomqvist, could you send the test on your computer and put here the output of the `self.test_requirements()` method?

[2018-04-09 10:06] mblomqvist commented on #351
Run in python3, I get
test_cor.py:312: ResourceWarning: unclosed file <_io.TextIOWrapper name='/Users/mblomqvist/Source/picca/py/picca/../../requirements.txt' mode='r' encoding='UTF-8'>
  for l in open(path,'r'):
WARNING: The local version of healpy: 1.11.0 is different from the required version: 1.11

and the unittest stops with
====================================================================

[2018-04-09 12:35] mblomqvist commented on #351
I ran the unittest in my home directory on the local cluster and it finished without any major issues (only some warnings along the way). It uses python 3.6.3, so I created a python 3.6.4 environment on my laptop to see whether 3.5.4 could be the issue, but the unittest still stopped with the same error as reported above.

[2018-04-10 15:41] londumas commented on #391
CUTE takes roughly the same time.

[2018-04-10 15:41] #391 closed

[2018-04-11 13:16] vserret opened #399 "z_abs can be higher than z_qso in do_metal_dmat"
In the computation of do_metal_dmat, we should do a cut in z_qso to avoid to consider pixels with z_abs > z_qso

[2018-04-18 07:09] vserret opened #401 "bug in metal_dmat computation"
In cf.py :
l.375 c = sp.bincount(bBam[wAB],weights=rt_abs1_abs2[wAB]*w12[wAB]*zwe21[wAB])
should be
l.375 c = sp.bincount(bBam[wAB],weights=rt_abs2_abs1[wAB]*w12[wAB]*zwe21[wAB])

[2018-04-19 13:50] londumas commented on #369
After merging PR https://github.com/igmhub/picca/pull/404, there will only least trivial Codacy recommendations. Some are false: for example the remaining unused imports, or invocation of non-callable.
Some are not very important: example error exception, enumerate builtin, ...
For some it might be important: example unused variable

[2018-04-20 00:46] londumas opened #405 "pk.pk_NL is not applied to metals"
in `py/picca/fitter2/data.py` the non-linear broadening of the BAO peak, `self.pk *= pk.pk_NL`, is not applied to metals. I though it should.
https://arxiv.org/pdf/1504.06656.pdf

[2018-04-20 05:48] ngbusca commented on #405
Yes, I agree.