[2018-04-20 14:12] londumas commented on #405
Corrected in https://github.com/igmhub/picca/pull/406

[2018-04-20 16:23] londumas opened #408 "distance in cf. x_correlation is wrong"
@vserret, I noticed a mistake in `do_cf.py` and similar correlations at line 188:
[code]
This is not good since `lambda_abs != lambda_abs2` implies different values for `z` and thus different values for `((1+z)/(1+zref))**(alpha-1)` and more important a wrong `d.r_comov`
Correcting this mistake could be a good opportunity of changing the way we read data in `do_cf.py` and other correlations. Let's

[2018-04-21 00:46] londumas commented on #399
@vserret, could you explain the issue?

[2018-04-21 06:08] vserret commented on #408
I don't understand your problem since if you have in_dir == in_dir2 and lambda_abs != lambda_abs2, x_correlation = True
and we take the data2 = data and  dels2 = dels but we use them and we compute z, we and r_comov from l.214 to l.234.
So the value seem correctly computed in the case of the x correlation, right ?

[2018-04-21 06:25] vserret commented on #399
Let's consider a metal which is localised in the lya forest, for example SiII(1190)(<1200\AA)
When you compute the metal dmat, you will use all the absorption in the Lya forest even the ones in the range [1190,1200] then you compute zabs = lambda_obs/lambda_abs -1 you may have zabs > zqso.
eg :
zqso = 3.
lambda_abs = 1190 = 4790
lambda_obs = (1+3)*1195
zabs = 3.02 > zqso

This effect is very small

[2018-04-23 10:48] mblomqvist opened #409 "bug in UV fluctuation model"
There is a bug in the function pk_uv. The parameter bias_prim is replaced by bias1 when calculating the scale-dependent redshift-space distortion. I can fix it.

[2018-04-23 11:47] ngbusca commented on #409
Thanks for reporting this, please go ahead!

[2018-04-23 12:09] vserret opened #410 "save monte carlo xi in fitter2"
When we do a monte carlo simulation in fitter2 we save only the values and the errors for the fitted parameters. We should also save the MC correlation functions.

[2018-04-23 12:28] ngbusca commented on #410
Agreed! do you want to PR it? You might need to regenerate the reference output files.

[2018-04-23 12:28] vserret commented on #410
ok

[2018-04-23 13:29] mblomqvist opened #411 "Add UV fluctuation model for cross-correlation fit"
Fitter2 currently doesn't support the UV fluctuation model for object-forest cross-correlations.

[2018-04-23 15:41] londumas commented on #408
Indeed, l.214 to l.234 do the job. Sorry for the noise.

[2018-04-23 15:41] #408 closed

[2018-04-24 22:29] londumas opened #415 "`drp` and `sigma_velo` should depend on object"
`drp` and `sigma_velo` should have a `_<tracer>` prefix. Indeed there are no reason they should be the same for galaxies and quasars for example.
It is very simple to implement. However at some point do we want `fitter2` to adapt to all our
needs? We can simply change locally some aspects for the necessity of a study or a paper and not push these changes to the master. What do you think @ngbusca,

[2018-04-25 22:11] londumas opened #417 "Random seed is the same across all processes"
When running functions that requires random numbers, for example `do_dmat.py` the same random seed (`=0`) is distributed across all processes (I don't know how this issue plays a role in `py/picca/Pk1D.py`).
The result is that the line `r = random.rand(len(d1.neighs))` in `dmat()` is going to return the same values across all processes.
This is not a good practice but I am not sure it will create

[2018-05-06 15:14] #405 closed

[2018-05-06 15:15] #409 closed

[2018-05-06 15:15] #411 closed

[2018-05-14 13:32] ngbusca opened #421 "model is pk_velo_gaus but parameter is sigma_velo_gauss"
There are two `ss` in `sigma_velo_gauss` but only one in the name if the model `pk_velo_gaus`. It would be good to make them uniform (I'd vote for only one `s`).

[2018-05-14 17:50] #421 closed

[2018-05-14 19:02] londumas opened #423 "simpler way to find a quasar in do_deltas output"
Currently there are no maps giving the HDU index for each THING_ID.
It is easy to know in which file the quasar is, from nside in log file and its RA and DEC.
However inside a delta file, we can't know which HDU.
We could have a mapping of HDU index vs. THING_ID in the HDU0.
Curently, we have to loop over all HDU index and thest for the THING_ID

[2018-05-14 20:30] ngbusca commented on #423
In fact, we could simply add as extension name the THING_ID. Then you get the hdu directly as h['{}'.format(thing_id)].

[2018-05-14 20:33] londumas commented on #423
Very good idea, I didn't think of that. Do you want me to take care of that?
By the way, I ran into this small issue because I looked at some spectra in CoLoRe mocks,
see the two columns of the sixth raw of the first column of plots:
https://desi.lbl.gov/trac/wiki/LymanAlphaWG/Picca_on_CoLoRe.

[2018-05-14 20:34] ngbusca commented on #423
Sure! you just need to add the `extname` keyword when writing the delta files in do_deltas....

[2018-05-14 20:34] londumas commented on #423
Yes, I already did that in redrock.
Let me do a PR.

[2018-05-14 21:04] londumas commented on #423
fixed in PR https://github.com/igmhub/picca/pull/424

[2018-05-15 13:00] #423 closed

[2018-05-21 14:39] londumas commented on #369
@Cyeche, Codacy says that in `from ROOT import TCanvas, TH1D, TFile, TTree, TProfile2D, TProfile` you don't use `TCanvas` (Unused TCanvas imported from ROOT in bin/do_Pk1D.py). Is it true?

[2018-05-21 15:03] londumas commented on #369
@Cyeche, could you have a look at three lines in https://app.codacy.com/app/ngbusca/picca/issues/index about unused variables in `py/picca/Pk1D.py` in patern. Please tell me is it is normal or a bug.

[2018-05-21 21:54] londumas opened #431 "xcf covariance matrix of transmission field is not positive definite"
Running `do_xcf.py` on  transmission files: `d_i(lambda) = T_i(lambda)/<T(lambda)>-1` for enough forests: 500,000, I get a covariance matrix that is `Warning: Matrix is not positive definite`.
This is not true for `do_cf.py` where with already 100,000 forests I get a covariance matrix that is positive definite.
This issue does not appear when the mocks are fully expanded by quickquasar.

The follo

[2018-05-21 22:46] londumas commented on #431
If I leave the projection in the computation of the correlation function, I get a positive definite matrix:

![xcf_covariance_matrix_corr_projected](https://user-images.githubusercontent.com/3166436/40333602-8e8cd912-5d16-11e8-9b8e-2cf76c44c3d0.png)

[2018-05-21 23:06] ngbusca opened #432 "desi_convert_transmission_to_delta_files indir is fragile"
When setting the indir argumnet to `transmission*` the code doesn't do anything, since it expects an explicit `.fits` (or `.fits.gz`) at the end. This is a bit counter-intuitive.

We need to find a better signature (e.g. having a keyword `indir` or `infiles` would make it clearer I think).... what do you think @londumas ?

We also need a script that will do the conversion from the command line.

[2018-05-21 23:09] londumas commented on #432
I took the same logic as the `from-image`, this is why `transmission*` doesn't work. We can change the logic, I don't care. Why would you need a script that will do the conversion from the command line? Anyone can create such a simple script using subprocess. Do you want us to have one in picca/bin/?
I can create such a script in 5 minutes.

[2018-05-21 23:53] ngbusca commented on #432
Yes, I know... and I think the logic is a bit strange there too. I'll take care of it, don't worry

I can create such a script in 5 minutes.

Of course! But without a script you have to remember how to call the function, etc. etc. With a script you can always run it with no arguments to get the help...

But all this is totally secondary, I opened an issue so we don't forget.

[2018-05-22 16:43] londumas commented on #432
@ngbusca, I just created two scripts to convert desi data and simulations, I put them into
picca/tutorials/desi/:
https://github.com/igmhub/picca/pull/433

What do you think about doing two scripts:
- one that runs the data, from catalog to delta, to correlations, to fit
- one that runs the simulations
With such scripts it would simplify our work a lot.

[2018-05-22 16:47] londumas opened #434 "Better documentation"
This issue aims at better documentation:

- [x] Add a description into `argparse.ArgumentParser(description='')` to all scripts
- [x] Add a description of each parameters in fits file
- [ ] add a description for all methods and functions, like in `py/picca/utils.py:::desi_convert_transmission_to_delta_files`

[2018-05-23 13:41] ngbusca commented on #432
@londumas no really... the signature to call `desi_convert_transmission_to_delta_files` is very strange: the `in-dir` option doesn't support using the desi standard organization of sub-directories. So the user has to guess that he needs to pass the list of files. But that doesn't work either, he has to remember to finish the list of files by `.fits` or `.fits.gz` *and* enclose that between quotes.

[2018-05-23 13:52] londumas commented on #432
@ngbusca, I think the best is for you to take care of changing this. It would take you 5 minutes to get what you want. Agreed?

[2018-05-23 14:04] ngbusca commented on #432
@londumas sure, I'll take care of it!

[2018-05-23 17:29] londumas opened #435 "io.py:::read_from_desi and utils.py:::desi_from_ztarget_to_drq don't have have same plate"
When reading and converting desi data format to a SDSS like format, the object catalog, `utils.py:::desi_from_ztarget_to_drq` define `plate`, `mjd`, `fiber` to be equal to `TARGETID`.
However, when reading spectra using `io.py:::read_from_desi`, the forests are given `EXPID`, `NIGHT`, `FIBER` as `plate`, `mjd`, `fiber`. This has no consequences on the cross-correlation but reduces the number of pa

[2018-05-23 17:45] londumas opened #436 "Should `cos>=1.` be treated as an error?"
https://github.com/igmhub/picca/blob/beb820697f6160266a6538a49e99eed561dece1e/py/picca/data.py#L36

Currently when we get `cos>=1.`, we set the angle to `theta = 0`.
But this is not totally correct, should we treat `cos>=1.` as an error? Should we add more precision to
`xcart`, `ycart`, `zcart` ?

[2018-05-23 20:38] ngbusca commented on #436
@londumas I think we should use something more robust like `atan2` instead of `acos` to avoid this problem.

[2018-05-23 20:46] londumas commented on #436
also we can run a more precise calculation for pairs with `cos>=1.`.
At least we should send a `WARNING`.

[2018-05-23 23:46] ngbusca commented on #436
at small ddec et dra, the most reliable computation of the space angle is `ang = sqrt(ddec**2 + sin(dec)**2*dra**2)`. We could do that where `ddec` and `dra` are smaller than some threshold value like `1e-5`.

[2018-05-24 11:29] andreufont commented on #382
The problem with "velocity bias" is that it is used in other contexts in sister communities (galaxy clusetring).

I would call it bias_eta_i , the name that has been used in the past in most Lyman alpha papers, where eta is the (dimensionless) line of sight velocity gradient.

On a related note, I would change the parameter (and not just the name) of the second bias in Lya fits. I would use bias_d

[2018-05-24 11:31] andreufont commented on #382
Another thing that we could do is to have fitter2 to write down also "derived parameters", similar to what CAMB / CLASS do. We can distinguish the parameters that actually go in the fits (and those should be whatever combination is less degenerate) to the parameters that we want to look at and have physical meaning, and in this case we can write 5 different combinations if we wanted.

[2018-05-24 12:28] ngbusca commented on #382
The problem is that this should be a parameter name that works for both discrete and absorption tracers. Is bias_eta also used in the galaxy clustering comunity? Same thing for bias_delta, we would have a `bias_delta_QSO` that we would typically fix to 1.

[2018-05-24 12:45] andreufont commented on #382
bias_eta and bias_delta are both valid parameters for any tracer. They represent the response of a large scale fluctuation in the tracer with respect to a large scale fluctuation in the density field (bias_delta) or in the velocity gradient (bias_eta).

For galaxies (or quasars) we have:
 - bias_delta = bias_galaxy
 - bias_eta = 1 (although Hirata 2009 points out that there might be % deviations)

[2018-05-24 12:49] ngbusca commented on #382
Thanks @andreufont, it makes sense to me. If there are no objections from @londumas @vserret or @mblomqvist I'll PR the changes (within a week or two, no rush)

[2018-05-24 14:07] mblomqvist commented on #382
So the PR would modify the pair combination and names to be bias_eta_i and bias_delta_i? I'm fine with the names. In the current setup, bias_i and beta_i have a parameter correlation of -0.85 for the Lya auto-correlation, but it seems that this won't be improved.

[2018-05-24 14:31] mblomqvist commented on #382
Sure, it's the same thing as what I meant, except I thought of it as
bias_X -> bias_eta_X (i.e. only a new name)
beta_X -> bias_delta_X (i.e. change of parameter)

[2018-05-24 14:57] andreufont commented on #382
Yes, although I prefer to write it this way :-)

P_tracer(k,mu) = (bias_delta_X + f*bias_eta_X mu**2)**2 P(k)

[2018-05-24 15:09] mblomqvist commented on #382
In the object-forest cross-correlation, one would then measure the bias of the object bias_delta_Y (bias_eta_Y would naturally be unity) while also floating the forest bias_eta_X (since forest bias_delta_X is degenerate with object bias_delta_Y). If too degenerate, one would also have to fix bias_eta_X.

[2018-05-24 18:39] londumas commented on #436
Do you mean `ang = sqrt(ddec**2 + cos(dec)**2*dra**2)`? At least that is what you gave me in your email: `ang_small=sp.sqrt((q2.dec-q1.dec)**2+sin(pi/2-q1.dec)**2*(q1.ra-q2.ra)**2)`

[2018-05-24 18:58] ngbusca commented on #436
@londumas Yes, indeeed!! Sorry...

[2018-05-25 16:15] mblomqvist opened #438 "Save random seed in fitter2"
It would be good to save the fast MC random seed (and niterations) in fitter2 for reproducibility.

[2018-05-25 16:18] mblomqvist opened #439 "Cached metal model in fitter2"
Fitting the QSO-Lya cross-correlation is significantly slower than the Lya auto-correlation, mainly because there is no cached metal model with velocity dispersion. It's not a big issue for individual fits, but adds up in a major way when running parameter scans or fast MC. It would be good to have such a cached metal model.

[2018-05-25 16:22] mblomqvist opened #440 "Covariance scaling in fast MC"
When running fast MC for the purpose of making simple projections, it would be convenient to be able to rescale the covariance matrix inside fitter2.

[2018-05-25 17:11] londumas commented on #438
it is set by zero if not given and if it is given, then we know it.
Do you want to store it still?

[2018-05-25 20:18] mblomqvist commented on #438
We store parameter limits in scans, and prior limits in fits, so it makes sense to also store the seed for fast MC

[2018-05-25 20:19] londumas commented on #438
ok, go-ahead then

[2018-05-29 14:44] londumas commented on #438
fixed in "save seed and niterations for fast MC"

[2018-05-29 14:44] #438 closed

[2018-05-29 14:49] londumas commented on #410
@mblomqvist, it seems to me that you fixed this. Is it true? Can we close this ticket?

[2018-05-29 14:56] mblomqvist commented on #410
@vserret fixed it. It can be closed.

[2018-05-29 15:54] londumas commented on #432
Curently we produce transmission files with:
[code]
what would you prefer @ngbusca?

[2018-05-29 16:06] ngbusca commented on #432
what would make more sense to me would be to have:
* a `--in-dir` option which points to the full `.../spectra-16` path and uses the desi convention for the subsequent subdirectories
* a `--in-files` option for a list of the transmission files

The code should exit if both the `--in-dir` and `--in-files` options are given

[2018-05-29 16:59] londumas commented on #432
fixed in https://github.com/igmhub/picca/pull/437

[2018-05-30 13:44] #436 closed

[2018-05-30 13:45] #432 closed

[2018-05-30 17:04] londumas commented on #431
Sadly, the reason is linked to something I was expecting: the mean of delta in each sub-sampling is not random. To investigate this I ran the regular xcf on the transmission files, without projection for the catalog of quasar and the random catalog.
- the first plot gives the mean all the bins of the cross-correlation in each sub-sample (1214 points): in the randoms versus in the data. We can see

[2018-05-30 18:12] ngbusca commented on #431
@londumas what happens if you do the projection on the transmission field? Is it still not positive definite?

[2018-05-30 18:15] londumas commented on #431
@ngbusca, With the project on the transmission filed, I get posititive definite matrices, with the correlation matrix we are used to, see comment https://github.com/igmhub/picca/issues/431#issuecomment-390805569

[2018-05-30 19:03] londumas commented on #431
Here is the same plot as the first one but for xcf calculated on projected transmission, the correlation between random and data has totally disappeared and the values of \<delta\> are way smaller.

![correlation_rand_data_projected](https://user-images.githubusercontent.com/3166436/40741836-c937b678-6409-11e8-97df-4c4259658a19.png)

[2018-06-01 15:30] andreufont commented on #431
This thread is really interesting. Thanks Helion!

We should think more about different estimators, and test them in mocks. Having picca is great, but it does make it harder to do code comparisons and test new estimators... In the past we had some discussion on whether we should use quasar randoms in the cross-correlation or not, and whether that made estimators more optimal.

I still think that w

[2018-06-02 06:47] ngbusca commented on #431
@andreufont the Wick covariance code is there but we haven't used it in a while. I plan to take a look at that again for our final round of eBOSS papers.

[2018-06-04 11:16] andreufont commented on #431
Sounds great. Thanks!

[2018-06-05 13:32] mblomqvist commented on #440
Fixed in #443

[2018-06-05 13:32] #440 closed

[2018-06-05 17:12] mblomqvist opened #447 "Modify fast MC fiducial model"
The fast MC in fitter2 uses the best-fit model as the fiducial model for generating new data samples. It would be good to have the freedom to modify it by specifying other parameter values in chi2.ini (e.g. ap = 1).

[2018-06-05 17:42] londumas commented on #447
Indeed, we had it for the crossDR12 paper.

[2018-06-08 20:21] londumas commented on #434
@Cyeche and @nathalieGit, could you add documentation to the fit files in `do_Pk1D.py`?
Simply have a look at how to add comments to header and units to data in fits file.
An example is https://github.com/igmhub/picca/blob/master/bin/do_xcf.py

[2018-06-10 13:04] mblomqvist commented on #447
Fixed in #448

[2018-06-10 13:04] #447 closed

[2018-06-12 13:20] #306 closed

[2018-06-14 11:52] ngbusca opened #451 "export exits when there are empty bins"
The smoothing of the covariance doesnt' work when there are empty bins. In this case the `export.py` script exits. This behaviour could be replaced by exporting the unsmooth covarinace.

[2018-06-14 13:00] mblomqvist opened #453 "Mask absorbers in spectra"
It would be good to complement the DLA masking with an option to mask pixels around other identified absorbers at the per-spectrum level, e.g. strong Lya or CIV absorbers.

[2018-06-14 13:17] mblomqvist opened #455 "Redundant random seed in DLA correction"
When correcting for DLAs in do_deltas.py, there is an instance of "sp.random.seed(0)" that appears to be redundant.

[2018-06-14 13:19] londumas commented on #455
Could you site the line?

[2018-06-14 13:20] mblomqvist commented on #455
Line 256 of do_deltas. I can remove it in my latest PR if you want.

[2018-06-14 13:50] londumas commented on #455
Why do you think it is redundant? The seed is not set in `py/picca/dla.py`.

[2018-06-14 13:55] mblomqvist commented on #455
Ah, OK. I didn't trace it all the way. Sorry about the noise.

[2018-06-14 13:55] #455 closed

[2018-06-14 14:23] londumas commented on #401
@ngbusca, is this fixed?

[2018-06-14 14:23] londumas commented on #399
@ngbusca, is this fixed?

[2018-06-14 20:23] ngbusca commented on #401
yes in PR #399

[2018-06-14 20:23] #401 closed

[2018-06-14 20:23] #399 closed, assigned to vserret

[2018-06-17 15:50] andreufont opened #456 "Problems using picca on Cori (NERSC)"
Do you have instructionsf for installing and using picca on Cori? I tried to follow the instructions online, and found the following problem at running

python setup.py install --user

It started the installation for a while, but ended with:

/tmp/easy_install-NlhNwO/h5py-2.8.0/h5py/api_compat.h:26:31: fatal error: numpy/arrayobject.h: No such file or directory
 #include "numpy/arrayobject.h"

[2018-06-17 15:55] ngbusca commented on #456
This is a perfect question to kick off the picca users mailing list!!

[2018-06-17 15:55] #456 closed

[2018-06-18 11:13] mblomqvist opened #458 "Print fastMC progress"
When running a large number of fastMC iterations, it would be helpful to track the progress. For example a print statement

print("INFO: finished fastMC iteration {} of {}".format(it,nfast_mc))

Something equivalent was available in fitter1.

[2018-06-20 12:11] mblomqvist commented on #453
Fixed in #454

[2018-06-20 12:11] #453 closed

[2018-06-20 12:11] mblomqvist commented on #458
Fixed in #460

[2018-06-20 12:11] #458 closed

[2018-06-21 17:03] londumas commented on #451
Fixed in https://github.com/igmhub/picca/pull/452

[2018-06-21 17:03] #451 closed

[2018-06-26 10:04] mblomqvist opened #462 "Separate out xi radiation term"
Currently in fitter2, the contribution from the quasar radiation term is added to the cross-correlation before scaling with the bias redshift-evolution factors. The term should be separated out to be added after the scaling.

[2018-06-26 10:06] mblomqvist commented on #462
Schematically, something like this should be done in the chi2 function of data.py:

if self.xi_rad is not None:
    xi_full += self.xi_rad(r,mu,tracer1,tracer2,pars)

where self.xi_rad points to the function for the radiation effects.

[2018-06-26 10:16] mblomqvist opened #463 "HCD bias evolution"
Currently in fitter2, the HCD contribution to the correlation function is evaluated together with the main tracer before scaling with the tracer redshift-evolution factors. This assumes that the HCD bias has the same evolution. It simplifies the computation, but it should be considered whether to move away from this assumption.

[2018-06-26 10:37] mblomqvist commented on #463
Note that the maximum variation of the redshift across the data bins is typically <0.1, so the evolution factor varies only by a few per cent.

[2018-06-27 16:49] londumas commented on #417
fixed.

[2018-06-27 16:49] #417 closed

[2018-07-04 09:24] mblomqvist commented on #462
Fixed in #464

[2018-07-04 09:24] #462 closed

[2018-08-20 16:01] mblomqvist opened #468 "NL correction bug in fitter2"
Fitter2 has a bug in the NL correction model of Arinyo et al. The model depends on P(k), which is not correctly passed to the function. There are three problems:
1. the quantity "pk" is not defined in the function.
2. P(k) should be evolved by the growth factor from zref to zeff.
3. the function argument "pk_lin" could be either the SB or peak component, but the NL correction should not have this

[2018-08-29 13:19] ngbusca commented on #468
@mblomqvist thanks for catching this and working out a fix. Does it require changes in the `.ini` config files for the fitter?

[2018-08-29 13:27] mblomqvist commented on #468
@ngbusca No, the ini files are unchanged. PR #469 is ready for merging.

[2018-08-29 13:48] mblomqvist commented on #468
Fixed in #469

[2018-08-29 13:48] #468 closed

[2018-08-29 13:51] mblomqvist commented on #321
Any news about this issue?

[2018-08-29 13:58] ngbusca commented on #321
Yes, sorry, on my plate...

[2018-09-06 14:47] londumas opened #471 "use multiprocessing for fastMC"
implementing the use of multiprocessing for the computation of fastMC
would allow to get more realization faster.

[2018-09-06 18:57] ngbusca commented on #471
I'm not sure that multiprocessing works well with the cache.

[2018-09-26 15:17] londumas commented on #351
@mblomqvist, could you retry this on the latest master. It would be nice to close this issue if possible.

[2018-09-26 16:06] ngbusca commented on #351
@mblomqvist @londumas go ahead whenever the branch is ready to be merged. I'll restructure things on a later branch as soon as I have time...

[2018-09-26 16:19] mblomqvist commented on #351
@ngbusca I think you answered in the wrong thread, but I understand what you mean

[2018-10-02 17:52] londumas opened #475 "read_from_spplate assumes that all observation have same fiberid"
https://github.com/igmhub/picca/blob/550dda84f2702578e783ebf24b3b20acd859de84/py/picca/io.py#L514

when reading `read_from_spplate` using all available observation, there are two errors:
- each observation don't have the same fiberid, when the code assumes it does.
The solution is to read photoPosPlate and get the proper fiberid
- we then use all observation, even if it is marked as bad.
One solut

[2018-10-02 17:56] mblomqvist commented on #475
@londumas I run analysis on pix files, not internal coadding in picca for spPlates.

[2018-10-02 18:06] londumas commented on #475
@mblomqvist or @slosar, could you have a look if ForetFusion is not also doing this mistake

[2018-10-02 18:13] ngbusca commented on #475
@londumas you are right, it's a bug! Thanks for reporting. Is there a reason for using spPhotoPlate instead of spAll?

[2018-10-02 18:14] ngbusca commented on #475
When I wrote the code I assumed that a plate would have the same plugin for different mjds which is obviously false...

[2018-10-02 18:15] londumas commented on #475
They have nothing in common.
spPhotoPlate is similar to spPlate: one per observation. It gives the mapping THING_ID -> Fiber_ID
spAll is a catalog of only "good" observation

@ngbusca, how would you like us to proceed not to use bad plates? Is reading the "platequality.txt" file sound good?

[2018-10-02 19:55] londumas commented on #475
@slosar, it seems to be correctly done here.
https://github.com/igmhub/ForetFusion/blob/20cff1851ff424a7d1106c1128c583887213dbb3/ffusion/automatic.py#L69
Do you confirm?

[2018-10-02 20:01] ngbusca commented on #475
@londumas @mblomqvist ForetFusion doesn't run into this problem because it uses the reobservation plate,mjd,fid info from DR14Q.

[2018-10-02 20:42] philippedavid opened #477 "Integer division Issue with Python 3 in do_Pk1D"
https://github.com/igmhub/picca/blob/550dda84f2702578e783ebf24b3b20acd859de84/bin/do_Pk1D.py#L204

This line isn't functioning correctly in when do_Pk1D is used with Python 3 as the "/" operator no longer performs integer division if inputs are integers.

`nb_part_max = (len(d.ll)-first_pixel)/nb_pixel_min`

should be replaced with

`nb_part_max = (len(d.ll)-first_pixel)//nb_pixel_min`

since we w

[2018-10-02 21:18] londumas commented on #477
@philippedavid, could you do a simple PR to fix this?

[2018-10-04 18:20] #477 closed

[2018-10-05 14:42] londumas opened #480 "Add option to plot absolute value of mu for wedgize"
https://github.com/igmhub/picca/blob/5c3f8b2386d1e1017a17280d500bfdadd14e82fb/py/picca/wedgize.py#L13

[2018-10-05 17:56] #480 closed

[2018-10-09 16:44] londumas commented on #475
Fixed.

[2018-10-09 16:44] #475 closed

[2018-10-10 22:25] londumas opened #483 "observation should be used only if ZWARN in [0,4]"
https://github.com/igmhub/picca/blob/19918da811edc1e119cec94e3e1a709f884241fa/py/picca/io.py#L514

Currently we use all observation on good plate.
We should use all observation on good plate with ZWARNING in [0, 2^2, 2^3, 2^4, 2^5, 2^6, ].
The other ZWARNING are very bad. We can also choose to play it safe and use only ZWARNING==0.
@ngbusca, what do you think?

https://www.sdss.org/dr14/algorithms

[2018-10-10 22:33] ngbusca commented on #483
It's an interesting question. Are there spectra with "catastrophic" ZWARNING that end up in DRQ?

I wouldn't require ZWARNING==0 since that significantly reduces the completeness of the QSO sample (see e.g. the QuasarNET paper).

[2018-10-10 22:35] londumas commented on #483
Yes, I agree let's require ZWARNING to be `[0, 2^2, 2^3, 2^4, 2^5, 2^6, ]`.
What we really don't what is UNPLUGGED, BAD_TARGET, LITTLE_COVERAGE, ...

[2018-10-10 22:35] londumas commented on #483
I am preparing a PR

[2018-10-10 22:40] londumas commented on #483
Using
[code]
we go from 286,211 spectra to 285,123 spectra for Lya forests.

[2018-10-10 22:47] ngbusca commented on #483
Could you post a few examples of spectra with "catastrophic" zwarn that are obviously bad spectra?

[2018-10-10 23:29] londumas commented on #483
I think it is safe to remove these spectra and it will have no consequences on the measurement.

All objects with BAD_TARGET look like normal quasar, but we can't trust their asymmetry: only 456 observations.

All objects with UNPLUGGED, look like the following: few pixels but with small errors, only 599 observations.

![example](https://user-images.githubusercontent.com/3166436/46771523-2b262d00-

[2018-10-10 23:43] ngbusca commented on #483
I think you mean "astrometry" right? I agree, let's remove them.

[2018-10-10 23:59] londumas commented on #483
Yes, I meant astrometry. Firefox correction made me change it.

[2018-10-11 00:37] londumas commented on #483
fixed.

[2018-10-11 00:37] #483 closed

[2018-10-12 11:36] ngbusca opened #486 "coadd z bins"
The current output files from do_cf and do_dmat don't keep the subsamples for some of the fields (e.g. rp, rt, z, dm). This means that when we split the measurement in redshift bins, we can't recombine them into a larger redsfhift bin.

I propose to change the output to keep the subsample splits for all those fields that are currently missing. What do you think @londumas ?

[2018-10-12 11:36] ngbusca commented on #486
The same goes for do_dmat, etc.

[2018-10-12 14:40] londumas commented on #486
@ngbusca, we can actually since we have the weight, WE, field. This is enough to recombine rp, rt, z, dm. No?

[2018-10-12 14:58] ngbusca commented on #486
Yes, I think you are right. Let me think about it, if it works I'll PR code to coadd the redshift bins.

[2018-10-12 14:58] andreufont opened #487 "Debug queue for NERSC script"
It would be great if the queue was set to "debug" when using the --debug option for the NERSC script.

[2018-10-12 15:00] londumas commented on #486
I use that do have a stack for my MgII paper:https://github.com/igmhub/picca/blob/master/tutorials/export_stacked_correlation.py

[2018-10-12 15:11] ngbusca commented on #487
That doesn't work since you can't submit more tha  5 jobs at the same time to the debug queue...

[2018-10-12 15:24] andreufont commented on #487
I see. That's unfortunate, but I guess one can modify these by hand if in a hurry.

[2018-10-17 02:02] londumas commented on #382
https://github.com/igmhub/picca/blob/636792ed131afc007f9f698c47ac90a63081037d/py/picca/fitter2/utils.py#L122

Indeed it gives `b*beta / f`

[2018-10-24 09:38] andreufont opened #491 "Add option in picca_nersc_submit to run over full sky"
In order to track down the BAO discrepancy in london/v4.0/quick-2.0/ I generated a new run of quickquasars that uses the full sky (not just 14k sq.deg.) and it uses all quasars (no downsampling of 40%). You can find the run here: /project/projectdirs/desi/mocks/lya_forest/picca/london/v4.0.0/quick-2.1

This means that the dataset is roughly a factor of 7 larger, and that the standard timings in th

[2018-10-24 10:44] ngbusca commented on #491
There are two discussions here that we should split:
 1. feature request: add a tuning of the requested runtime (up and down) to picca_nersc_submit
 2. science: what tests should we run to understand the BAO shift in some of the mocks

1. Is easy to implement, give me a few days
2. Are you entertaining the hypothesis that we saw a three sigma statistical fluctuation? Do we really need to go full s

[2018-10-24 14:47] andreufont commented on #491
I agree on the first distinction.

I do not agree about the worry about CPU hours. Those are extremely cheap tests, and they might tell us a lot. We are not sure what's going on (specially after the email from Julien saying that the stack from 10 realisations gives the right BAO), so I think we should try multiple approachs to try to understand what's going on.

So yes, given that we have skewers

[2018-10-25 09:32] ngbusca opened #492 "iminuit v 1.2.0 is *really* required"
The latest version of iminuit (1.3.3) is currently the default installation for conda and pip. Unfortunately, our code is not currently compatible with this latest version. The problem is that the object returned by iminuit.migrad() accept new keys in 1.3.3 (which we use to pass the "SB" variable). While we find a better solution, users should stick to 1.2.0

[2018-10-29 16:21] ngbusca commented on #415
@londumas I think you are right that we should have those parameters depend on the tracer. Do you want to PR it?

[2018-10-29 17:57] londumas commented on #415
@ngbusca, yes I will take care of this.

[2018-10-30 15:14] mblomqvist opened #495 "path to P(k)"
A recent update to picca modified the path specification to load the linear matter power spectrum, e.g. PlanckDR12.fits. What was the benefit of this modification? How does one load a P(k) file that is not in picca?

[2018-10-30 15:24] ngbusca commented on #495
In the current incarnation you need to specify e.g. PlanckDR12/PlanckDR12.fits. You can use any other `P(k)` as long as you copy it to the `fitter2/models` (or you use the right `../../../` path). This change was motivated by the `picca_nersc_submit` script which required a non-user dependent path to the model .fits file

[2018-10-30 15:38] #495 closed

[2018-11-06 20:46] londumas commented on #486
@ngbusca, is that fixed?

[2018-11-06 21:21] londumas opened #497 "Spurious correlation within same half plate"
We detect a spurious correlation between pairs from the same half plate with lambda_1=lambda_2 in the auto or cross correlation of forests. This is a new study of https://github.com/igmhub/picca/issues/284, to better understand it.
To investigate this effect, we run `do_deltas.py` only on the best observation in the Lya and MgII(1) forests. We compute the auto and cross-correlations of these fores

[2018-11-07 00:53] londumas commented on #497
It comes from the following line that doesn't do the job in the cf(l1/l2,angle) case:
https://github.com/igmhub/picca/blob/f76bfd64373c223f97b34db05bd900d432c50667/py/picca/cf.py#L131

[2018-11-07 23:49] alxogm commented on #492
Hello @ngbusca  I'm trying to compile picca on NERSC (for a student) and I got an error, that I think could be related to this issue. Any idea on how to fix this?

(I installed picca in my account last week and did not faced this problem)
Thanks

##############

After running
python setup.py install we got

Installed /global/u2/r/rodcn25/.conda/envs/picca_plots/lib/python3.7/site-packages/picca-0.

[2018-11-08 05:04] ngbusca commented on #492
@alxogm thanks for reporting this. The error you got is different from the one that triggered the issue, and the problem seems to be during the installation of iminuit. I'm surprised that it tried to install iminuit 1.3.3 while the `requirements.txt` file specifies 1.2. I'll look into it.

[2018-11-21 17:01] julienguy opened #503 "Fitter2 does not converge for some parameters with model-xi = cached_xi_kaiser"
Not sure if this behavior is expected or not:

 - The (fitter2) fit does not converge when letting free the par/per binsize and/or Sigma_NL parameters.
 with ```model-xi = cached_xi_kaiser``` in the ini file.

- The fit converges correctly with ```model-xi = xi```.

[2018-11-21 22:14] ngbusca commented on #503
This is "normal" in the sense that floating sigma_NL and the binsize are considered "beyond" the kaiser model. At some point that should be extended to automatically cache parameters of any model.

[2018-12-03 16:30] londumas commented on #491
@andreufont, I don't think we need to change anything in `picca_nersc_submit`.
The user can easily change manually through a Unix `sed` the computing time.
Would you agree?
Ok to close this issue?

[2018-12-03 16:36] londumas commented on #349
Looks like it is linked to few sub-sampling, when the correlation matrix has large non-diagonal elements.

[2018-12-03 16:36] #349 closed

[2018-12-03 16:36] andreufont commented on #491
Go ahead!

[2018-12-03 16:37] #491 closed

[2018-12-03 16:38] londumas commented on #321
@ngbusca, this seems to have been fixed. Am-I right?

[2018-12-03 16:39] londumas commented on #351
@mblomqvist, Could you test another time and give the output?
It works for us on a lot of different machines.

[2018-12-03 16:40] londumas commented on #463
@mblomqvist, are you planing on working on this, or can we close?

[2018-12-03 16:44] londumas opened #507 "THING_ID is not reliable"
The same object in different catalogs can have different THING_ID.
For example between DR12Q and DR14Q.
The DRQ catalog team suggest using `OBJID`.

[2018-12-04 06:37] ngbusca commented on #487
I'm opening this issue again since I realized a better way to submit jobs:
* send `do_delta` as the first job
* group all the `do_cf`, `do_dmat`, ... into a single `.batch` and submit to several nodes
* idem for `export` and `fitter2`
* Splitting on a sufficiently large number of redshift bins could ensure submission to the debug queue, even for full-desi runs.

The `quickquasars` submission scrip

[2018-12-04 06:44] ngbusca commented on #321
implemented in master

[2018-12-04 06:44] #321 closed

[2018-12-04 07:01] ngbusca commented on #486
implemented in master

[2018-12-04 07:01] #486 closed

[2018-12-04 07:08] ngbusca opened #508 "switch to .ini files to drive scripts"
Scripts have so many input options that a typical command line call requires several lines. That makes it hard to log and/or share input files with other uses. A solution would be to use the `configparser` (`ConfigParser` in python 2.7) package and use `.ini` files, like `fitter2` does.

[2018-12-04 07:13] ngbusca opened #509 "remove rejection of same wavelength pairs"
As noted by @julienguy , the rejection of same-plate same-wavelength pairs doesn't totally remove the problem of correlated sky-residuals (since the continuum mixes them to all pixels in the resulting delta-field). To better handle this issue, we should try leaving same-plate same-wavelength pairs in and add a pre-distorsion pure rt broadband to the model. This approach also simplifies many questi

[2018-12-04 15:18] londumas commented on #508
@ngbusca, I really like the current behavior where we either use command lines or use
[code]
where we put all commands into the cmd.ini file.
Then I can send you my cmd.ini file, and I can also easily store the commands.
Why would you like to change this?

[2018-12-04 15:35] londumas commented on #509
@julienguy and @ngbusca,
I actually looked at what signal is there out of the `lambda_1==lambda_2 (theta)`, and I can't see any. It is compatible with zero.
I am preparing some slides for the meeting.
Basically, the current scheme doesn't even reject all of them because we are stacking all observations but using the PLATE id of the best one to remove same_half_plate.
The solution is either to:
- r

[2018-12-04 15:39] londumas opened #510 "Add missing absorption lines to `py/picca/constants.py`"
Some absorption lines are missing from the py/picca/constants.py file.
For example FeIIλ1142.36, is present in the auto-correlation of Lya, in the form of an auto-correlation
FeIIλ1142.36 x FeIIλ1142.36 and a cross-correlation FeIIλ1142.36 x SIIIλ1190.21 for example.

[2018-12-05 07:29] ngbusca commented on #507
I'm for moving from THING_ID to something better, but this change needs to be done in the lookout for DESI.

[2018-12-05 14:22] londumas commented on #509
@ngbusca,

of course.

No something more like 10^-5. The y axis is multiplied by 10^4, like in the auto DR12 paper.

I agree with modelling the effect, instead of removing the pairs. It is way better for the coadds.

[2018-12-05 14:43] londumas commented on #509
@ngbusca and @julienguy, also this study as to be redone using DR12Q, because DR14Q might have enough catastrophic failure to add a spurious correlation at l1!=l2.
Currently I detect some, very week correlation that could be because of catastrophic failures.

[2018-12-05 18:06] londumas commented on #509
@julienguy and @ngbusca,

Here I show the significance of the auto and cross correlation: xi/sigma,
where sigma is computed from sub-sampling.
You can see that only `l1==l2`, is affected at more than 5 sigma level.
This shows that a simple model of a power-law will do the trick: "1 or 2 parameters describing the extra correlation at rp=0"`, as @julienguy said.

auto-correlation of "left of MgII em

[2018-12-06 00:11] londumas opened #511 "Add correction for galactic absorption"
A possible improvement is to correct the spectra for galactic dust absorption.
This correction is very linear on the size of the forest, but could be useful for studies using a continuum of order 0. For example P(k) or others.
What do you think @Cyeche and @nathalieGit?

[2018-12-06 00:15] londumas opened #512 "Use optical depth in the fit of the continuum"
An improvement to the fit of the continuum could be to take into account the optical depth in the Lya forest. On the size of the forest, it is very linear, so it is not important when using order=1 (default). However, it could be useful for studies that use order=0, like P(k) analysis.
What do you think @Cyeche and @nathalieGit?

[2018-12-06 18:08] ngbusca commented on #509
@londumas yes, it should be a *pre-distorsion* polynome (or power-law) on
rt and zero everywhere except at rp==0.

El mié., 5 dic. 2018 a las 20:06, Hélion du Mas des Bourboux (<
notifications@github.com>) escribió:

[2018-12-07 17:36] londumas commented on #510
Here is a comparison of the stack of absorption at the DLA rest-frame in  Mas-Ribas et al 2017, and the one from picca. This allows to see where are the missing absorption lines.

[2018-12-14 07:21] #369 closed

[2018-12-14 16:17] andreufont opened #516 "Add MCMC sampler"
I'm trying to fit eBOSS data with / without metals, with / without HCDs, trying different models for HCDs... and I think it would be quite useful to be able to study degeneracies with a sampler that produces contour plots.

The current fitter reports a correlation matrix at the end, but the numbers there look suspicious (are beta and bias correlated at the 0.94 level???), and even if the matrix is

[2018-12-17 06:18] ngbusca opened #517 "redshift split in cross correlation"
The current implementation of the redshift split in the cross correlation, based on the redshift of qso-forest pairs, does not ensure that the different redshift bins do not share forests. This is potentially a problem since we know that significant cross-covariance is induced by Wick diagrams with two quasars and a single forest, and might introduce undesired correlations among redshift bins.

@m

[2018-12-17 07:05] ngbusca commented on #517
Actually, there's no need to do the redshift split at the `do_deltas.py` level, since `do_xcf.py` subtracts the mean of deltas for the selected sample.

[2018-12-19 13:01] londumas commented on #517
@ngbusca, Then we would have different ways to do redshift bins for the cross and the auto. I am fine with this.
Then the selection in redshift could simply consist in removing from forests the deltas with a redshift outside of the given range.

Using a shuffle of the distribution of forests (branch  add_shuffle_distribution), also does the trick, but it might be long since we want randoms to be a

[2018-12-19 16:50] londumas commented on #517
@ngbusca, We can't use `--z-min-obj`/`--z-max-obj` because we get large correlations between different redshift bins: ~+/-10%. Indeed the same forest can contribute to multiple redshift bins.
We really want a delta or even a forest to be in one of the redshift bins.

[2018-12-19 19:47] ngbusca commented on #517
@londumas I think we agree in that do_xcf could simply remove forests outside some pre-defined redshift cuts. This removes the problem of correlation across z-bins and the subtraction of mean delta.

It is true that the z-cuts would be different between auto and cross, but I agree it's not necessarily a problem.

[2018-12-21 07:45] #434 closed

[2018-12-21 12:26] londumas opened #523 "Non-squared distortion matrix"
Add the option for `do_dmat, do_xdmat, do_metal_dmat, do_metal_xdmat` to have a model sampled on more bins than the data i.e. a non square distortion matrix and a square metal matrix with more bins than the data.
This is work in progress in https://github.com/igmhub/picca/tree/rectangle_distortion_matrix.
This should allow to remove the parameters for the size of the bins: `Lpar` and `Lper`.

[2018-12-21 12:37] londumas opened #524 "peak / no_peak decomposition"
Add a script to decompose a give P(k) into a peak / no_peak.
This script could simply be integrated into pk2fits and produce the necessary file for fitter2 from the output of CAMB.
The explanation on how to do it is done in Kirkby et al 2013 (https://arxiv.org/pdf/1301.3456.pdf). Another way to do it is in https://nbodykit.readthedocs.io/en/latest/
[code]

[2018-12-21 12:38] londumas opened #525 "contribution of bins to the measured parameter"
The idea is to add @vserret code into `utils.py`. This code allows to compute which bins contribute to the measurement of a given parameter.

[2018-12-21 12:44] londumas commented on #510
Other reference useful to get the rest-frame of the lines:
arXiv:1309.6768, astro-ph/0601279, arXiv:1610.02711, http://adsabs.harvard.edu/abs/1991ApJS...77..119M

[2019-01-14 20:57] londumas opened #531 "change names of executable"
Change names of executable in `/bin/*` to `/bin/picca_*`. This will allow not to be mixed with other executable from other projects.

[2019-01-14 21:38] londumas commented on #517
@ngbusca, The solution for the cross-correlation is very simple.
We divide the sample in two as a function of solely the background quasar redshift hosting the Lya forest. We run do_deltas.py on each sample and then everything is ok.
The splitting redshift, zcut, can be chosen as to get the same weighted number of pairs in both sample in the BAO region.

[2019-01-14 21:38] #517 closed

[2019-01-24 15:50] londumas commented on #509
Fixed

[2019-01-24 15:50] #509 closed

[2019-01-24 15:51] londumas commented on #497
Fixed in PR https://github.com/igmhub/picca/pull/513

[2019-01-24 15:51] #497 closed

[2019-01-24 15:51] londumas commented on #435
Fixed in PR https://github.com/igmhub/picca/pull/513

[2019-01-24 15:51] #435 closed

[2019-01-24 15:51] londumas commented on #285
Fixed in PR https://github.com/igmhub/picca/pull/513

[2019-01-24 15:51] #285 closed

[2019-01-24 15:52] londumas commented on #492
Fixed in PR https://github.com/igmhub/picca/pull/526 by updating to newest release of iminuit

[2019-01-24 15:52] #492 closed

[2019-01-24 18:05] londumas commented on #325
@Waelthus could you have a look at this issue and see if it is fixed?

[2019-01-25 16:43] londumas commented on #380
`continuous` and `discrete` are used for the moment and do the job very well.

[2019-01-25 16:43] #380 closed

[2019-01-26 01:33] #325 closed

[2019-01-26 01:35] londumas commented on #325
Fixed in https://github.com/igmhub/picca/pull/540.

[2019-02-01 21:35] londumas commented on #382
Fixed

[2019-02-01 21:35] #382 closed

[2019-02-05 15:00] londumas commented on #510
Setting this in the proper PR:

[2019-02-05 15:05] londumas commented on #510
Fixed

[2019-02-05 15:05] #510 closed

[2019-02-05 15:06] londumas commented on #415
Fixed

[2019-02-05 15:06] #415 closed

[2019-02-05 15:06] londumas commented on #308
Fixed

[2019-02-05 15:06] #308 closed

[2019-02-05 15:19] londumas commented on #531
Fixed.

[2019-02-05 15:19] #531 closed

[2019-02-05 16:04] londumas commented on #523
Fixed

[2019-02-05 16:04] #523 closed

[2019-02-05 16:06] londumas opened #552 "Add using the Lyb forest in picca_nersc_submit.py"
Add using the Lyb forest in picca_nersc_submit.py.
In DR16, the default analysis uses the Lyb forest.

[2019-02-05 16:08] londumas opened #553 "Update metal transition to NIST values"
Update all transitions in https://github.com/igmhub/picca/blob/master/py/picca/constants.py to NIST values. There are no rush, since it will make very little differences.

[2019-02-05 16:49] londumas opened #554 "Understand the fudge parameter in the delta variance"
Understand the fudge parameter in the delta variance

The current model for the variance is the following. It is composed of a not well physically motivated "fudge" term.
[code]
It works very well, in the first plot for data and mocks in the Lya forest, with `lRF in [1040, 1200] A`, where the pixels are with different rebining {`--rebin 1`, `--rebin 3`, `--rebin 10`}, and all with `order=1` contin

[2019-02-05 17:15] londumas opened #555 "'1+f' and 'sigmaNL_per' are very correlated"
The set of parameters (1+f,sigmaNL_per) giving the non-linear broadening of the BAO peak are very correlated. Using (sigmaNL_par,sigmaNL_per) allows to reduce the correlation and thus allow to fit for these two parameters in extension to the "Standard model". Is there a reason not to move to this new parametrization @vserret, @andreufont, @ngbusca ?
https://github.com/igmhub/picca/blob/c945f77c56d

[2019-02-06 16:15] londumas opened #557 "Add warning if covariance matrix is non positive definite"
Add warning if covariance matrix is non positive definite

[2019-02-06 16:18] londumas opened #558 "io drq could be missing some objects if on a regular grid"
io drq could be missing some objects if on a regular grid.
Indeed we cut using `w &= zqso>zmin`. We should use `w &= zqso>=zmin`.
This may never happen, but it is better to fix it.

[2019-02-06 21:31] londumas opened #560 "`--metal-alpha` is not a parameter of `picca_metal_xdmat.py`"
`--metal-alpha` is not a parameter of picca_metal_xdmat.py, when it is for `picca_metal_dmat.py`. @vserret, do you think it should also be added?

[2019-02-11 00:27] londumas opened #562 "Add expected correlation for mocks"
Add expected correlation for mocks.
For Saclay mocks, we can add a "transfer function": `xi_mocks = f (xi_CAMB)`.
Worked on branch https://github.com/igmhub/picca/tree/add_transfer_function_mocks

[xi_g_to_xi_F.txt](https://github.com/igmhub/picca/files/2849612/xi_g_to_xi_F.txt)

[2019-02-11 00:29] londumas opened #563 "Strange behavior when using DLA catalog in CIV forest"
Strange behavior when using DLA catalog in CIV forest.
@WTSHDY, please describe the feature here.

[2019-02-11 03:44] WTSHDY commented on #563
### There is a problem of running do_deltas.py by using '--dla-vac'.

I run two times do_deltas.py within CIII absorbers (1600-1878.7 Angstrom), one is adding  '--dla-vac' to mask the DLAs of the spectra of QSOs, and the other one doesn't add  '--dla-vac' .
Then I run two times do_xcf1d.py for two delta fields.
Finally, There is big difference result between those two in the cross correlation plot

[2019-02-11 17:25] londumas commented on #563
@WTSHDY, Thanks for the bug report. Could you plot the mean continuum from do_deltas for the maskand no-mask case? It is in one of the log files.

[2019-02-11 17:55] londumas commented on #562
Here is the a plot of the current transfer function @jmarclegoff gave us. Could you produce one with a finer grid?

![tranfer_function](https://user-images.githubusercontent.com/3166436/52582904-86953280-2deb-11e9-9612-9f2a8db7660e.png)

[2019-02-11 18:17] londumas commented on #562
@TEtourneau, could you give me permissions to read and copy all files in `/global/u1/t/tetourne/Git/picca_data/ana/Out/debug_1024_52/from_transmissions/Correlations/`.
@jmarclegoff, could you copy the code you used to produce the following plot?

![pastedgraphic-4](https://user-images.githubusercontent.com/3166436/52584105-76cb1d80-2dee-11e9-98bf-c03296c55a34.png)

@jmarclegoff, here is a simple c

[2019-02-11 18:31] londumas commented on #562
@TEtourneau, I just created a branch to use the mock transfer function:  `add_transfer_function_mocks`.
Simply add `tranfer-func-mock = < path to the following transfer function xi_g_to_xi_F.fits.gz >` to the `[model]` section of your `config.ini` file. The file is above at the bottom of one of the comments.
I did not manage to fit the correlation for the moment, you and @jmarclegoff, might be abl

[2019-02-11 21:57] jmarclegoff commented on #562
@londumas, concerning the transfer function, it takes about 1s per point on my laptop, so I can make a thiner grid but I am not sure it is really needed, the function is pretty smooth and can be easily interpolated. How many points would you want ?
This transfer function is of course z dependent. So we should also define a grid in z.
Sure, I will put everything in a fits file, otherwise in an asci

[2019-02-11 21:57] londumas commented on #554
Idea of tests:
- smaller rest-frame wavelength range
- `--order 0`, `--order 2` continuum
- remove redshift errors in mocks
- remove quasar continuum in mocks

[2019-02-11 22:01] jmarclegoff commented on #562
@londumas, concerning the plot, it was produced by Thomas using my code to compute the prediction. The code is part of the Saclay mock code. Do you want us just to copy it in a comment, so you can have a look to it, or do you want us to include it in picca ?

[2019-02-11 22:05] londumas commented on #562
@jmarclegoff, for the plot in a comment it is perfect, so I can have a look at it.
For the grid, let's have a working code and then worry about having it finer and depend on redshift, you are right.

[2019-02-11 22:06] jmarclegoff commented on #562
@londumas, for the fit of the correlation function that did not work, which parameters did you leave free ? Is it possible to fix all parameters, just to get the chi^2 between the prediction and the mock, probably for r > 10, since below there is a clear problem.
By the way, is there a way in GitHub to attach a comment to a previous comment to which it refers ?

[2019-02-11 22:08] londumas commented on #562
@jmarclegoff simply use ">".
For the code, I need you and @TEtourneau to test the branch and fit with the parameter free and fix, as you prefer. You know better than me.

[2019-02-11 22:18] jmarclegoff commented on #562
@londumas, by simply use ">" you mean I should first copy the comment I want to answer and put ">" in front of it ?

I agree, it makes sense that we test the branch. We need to be able to use it, thanks for the implementation.

Here is the code for the prediction. I did not include
class xi_Hamilton() :   which just compute Hamilton (1992) xi(r,mu) formulas

`#*************************************

[2019-02-11 22:20] londumas commented on #562
@jmarclegoff, yes copy the comment in front of ">". By the way "\`\`\` long text \`\`\`" allows to quote a long code, I edited your last comment for that.

[2019-02-11 23:09] londumas commented on #554
Here is a comparison between the MgII(11) forest and the Lya forest. This effect is not there in the former.

![data_mgii11_lya](https://user-images.githubusercontent.com/3166436/52599956-58c5e300-2e17-11e9-9cad-372d51d27217.png)

[2019-02-11 23:13] londumas commented on #554
Here is the difference between using `--order 0` and `--order 1`: No effect.

![effect_of_order](https://user-images.githubusercontent.com/3166436/52600144-e73a6480-2e17-11e9-98b8-6716de0e0fb9.png)

[2019-02-12 00:11] londumas commented on #554
Here is the difference between using smaller rest-frame wavelegth band: `--lambda-rest-min 1040.0 --lambda-rest-max 1200.0` and using `--lambda-rest-min 1095.0 --lambda-rest-max 1165.0`: None.

![smallerlrf](https://user-images.githubusercontent.com/3166436/52602404-c6760d00-2e1f-11e9-9bec-6f4bf99717f2.png)

[2019-02-12 02:28] londumas commented on #554
Here is the result when setting all weights to 1 when fitting for the quasar continuum: None.

![weights_1_cont_fit](https://user-images.githubusercontent.com/3166436/52607373-3f329480-2e33-11e9-91c3-c15cd6271f8b.png)

[2019-02-12 08:44] TEtourneau commented on #562
@londumas You should now be able to access /global/u1/t/tetourne/Git/picca_data/ana/Out/debug_1024_52/from_transmissions/Correlations/, it's part of the desi group.

Concerning picca, I tested the branch, using the .fits.gz file you produced.
It seems that Xi doesn't go to zero properly:
![image](https://user-images.githubusercontent.com/36950825/52622725-d0911d80-2eaa-11e9-9bf1-a157061b73aa.png)

[2019-02-12 14:09] jmarclegoff commented on #562
I believe xi_F is not going to zero because the linear interpolation of xi_F(xi_g) in picca results in xi_F(xi_g=0) = 1E-4. In the xi_prediction() class I am using rather
self.xig2xiF=interpolate.InterpolatedUnivariateSpline(xi_g,xi_F).
I have attached a new xi_g_to_xi_F.fits.gz with 81 bins
and most important a bin (xi_g,xi_F) = (0,-2E-13)
please @TEtourneau try fitting again with this new file.

[2019-02-12 14:44] TEtourneau commented on #562
@jmarclegoff I think you linked the wrong file. It's exactly the same as before.

[2019-02-12 16:09] londumas commented on #562
@jmarclegoff, is there a reason why it is not `(xi_g,xi_F) = (0,0)`, but it is `(0,0)`? If it is simply numerical issues, but the exact computation gives `(0,0)` let's add by hand `(0,0)` to the file.

[2019-02-12 16:37] londumas commented on #554
Here is the different results using different set of mocks:
- Std
- noFOG, noRedshiftError
- noFOG, noRedshiftError, noLya
Even without Lyman-alpha, we observe a non zero fudge parameter.

![mocks](https://user-images.githubusercontent.com/3166436/52651328-354b7880-2ea9-11e9-9eee-d0a23961a9c6.png)

![mocks_sigmavarlss](https://user-images.githubusercontent.com/3166436/52651599-b276ed80-2ea9-11e9-8

[2019-02-12 17:11] jmarclegoff commented on #562
@londumas physically is is clear that if g(x) et g(y) are uncorrelated and F=F(g), then F(x) and F(y) will be uncorrelated, so it should indeed be (0,0). This is numerical uncertainty related to the accuracy of the computation of <F>. Instead of adding (0,0) in the file, I could also modify xi_predicted() such that it returns 0 if x_g =0.
Are you ok to modify picca such that it expects xi_F/xi_g v

[2019-02-12 17:16] londumas commented on #562
@jmarclegoff,

That sounds perfect.

It is more complicated to implement at the picca/fitter2 level. I thus prefer xi_F vs xi_g.

Could you send the proper file?

[2019-02-12 17:18] jmarclegoff commented on #562
I must have take the file from the wrong directory. This one should be ok
[xi_g_to_xi_F.fits.gz](https://github.com/igmhub/picca/files/2856834/xi_g_to_xi_F.fits.gz)

[2019-02-12 17:24] TEtourneau commented on #562
I think it's still the same file

[2019-02-12 17:25] TEtourneau commented on #562
Sorry my bad, it's fine this time. I'm running the fitter.

[2019-02-12 17:39] TEtourneau commented on #562
Here is what I get when using the model:
tranfer-func-mock = xi_g_to_xi_F.fits.gz
![image](https://user-images.githubusercontent.com/36950825/52655735-2b4f6700-2ef5-11e9-9130-775319ed1a7f.png)

The chi2 is 1787.  It doesn't seem to change much.
I will try to fit with (bias, beta) fixed to the predicted value for this redshift.

[2019-02-12 17:40] londumas commented on #562
@TEtourneau, The model is missing the window function also. Could you take care of that?

[2019-02-12 17:44] TEtourneau commented on #562
Is it not taken into account in Xi_F(xi_g) ?

[2019-02-12 17:44] londumas commented on #562
@TEtourneau, no. @jmarclegoff do you confirm that?

[2019-02-12 18:09] jmarclegoff commented on #562
@TEtourneau are you sure of your plot ? This looks pretty much like the normal model of picca.
@londumas This is correct, the Gaussian window function is not included in xi_F(xi_g) it should be included in P(k).

[2019-02-12 21:44] londumas commented on #511
fixed in https://github.com/igmhub/picca/pull/556

[2019-02-12 21:44] #511 closed

[2019-02-13 09:11] TEtourneau commented on #562
Yes I know. The only thing I changed between the two fits is the line in:
[model]
tranfer-func-mock = data/xi_g_to_xi_F.fits.gz

But in fact, it changes a bit the fit, especially the value of bias_eta:

- Fit without transfer function:
chi2 = 1787.79
ap = 1.02
at = 0.996
beta = 1.46
bias_eta = -0.176
par binsize  = 13.4
per binsize = 12.3
![image](https://user-images.githubusercontent.com/36950825

[2019-02-13 16:09] jmarclegoff commented on #562
@londumas When Thomas made pseudo data with xi(r,mu)=xi_pred and cov is the cov of the mocks he obtained the dotted lines in the plots at the bottom of https://desi.lbl.gov/trac/wiki/LymanAlphaWG/SaclayMocks
They fit quite well the mocks (without free parameters) but at r < 10 and mu > 0.8.
So I expect that the prediction, once included in picca, fits quite well the mocks and I am surprised by Tho

[2019-02-13 16:32] jmarclegoff commented on #562
@londumas j'ai regardé un peu dans le code, guidé par Thomas. En fait il suffit de chercher les modif récente dans github, c'est pratique.
Il me semble que dans data.py il faudrait faire qqchose comme de rajouter
`if self.tranfer_func_mock is None:
`avant les lignes 307 et 308
[code]
Sinon on applique xi_g_to_xi_F à G(z) g et non pas à g.

[2019-02-13 16:48] londumas commented on #562
@jmarclegoff and @TEtourneau, I let you do the necessary changes to the branch. Normally you have all writing permissions for branches.

[2019-02-13 16:55] londumas commented on #554
Using `desisim.QSO` instead of `desisim.SIMQSO` does not fix the issue.

![adding_desisim_qso](https://user-images.githubusercontent.com/3166436/52728787-29c58380-2f75-11e9-8fe9-c6acb30c8cf2.png)

[2019-02-13 17:21] TEtourneau commented on #562
I did the modifications (remove z_evol and growth_function when using xi_pred), but it doesn't change much:
chi2=1786
ap=1.02
at=0.997
beta=1.41
bias_eta=-0.542
par binsize=12.5
per binsize=13.2

![image](https://user-images.githubusercontent.com/36950825/52730531-e5a9a180-2fbb-11e9-92bc-f806e2cff97d.png)

Is there still a bias dependency somewhere ?

[2019-02-13 17:35] jmarclegoff commented on #562
@londumas Thomas removed the growth factor and it changed very little, even bias_eta changed only by 3%. I though we just had to add a condition before multiplying by the growth factor but clearly I do not understand how the code is working and we would need your help.

[2019-02-13 17:51] londumas commented on #562
@TEtourneau could you push the changes you made to the branch? I will have a look.
Could you also give the chi.ini and the config.ini you are using?

[2019-02-13 18:03] TEtourneau commented on #562
I just pushed my commit.
Here is the files:

chi2.ini
[code]
And config.ini:

[code]

[2019-02-14 03:00] londumas commented on #562
@jmarclegoff and @TEtourneau, I have very little time in the following 4 weeks. I will let you figure things out.

[2019-02-14 13:49] londumas opened #567 "Do broad-band work on the non-square matrix"
Do broad-band work on the non-square matrix

[2019-02-16 01:44] londumas commented on #567
fixed in https://github.com/igmhub/picca/pull/561

[2019-02-19 21:42] #563 closed

[2019-02-19 21:52] WTSHDY commented on #563
It is not caused by using '--dla-vac' or not. It actually due to using '--use-ivar-as-weight' or not. (Sorry, I forget to put the '--use-ivar-as-weight' into do_deltas.py with masked DLA, actually I done it when I run do_deltas.py).  So the problem is due to using '--use-ivar-as-weight' to cause the difference. It's my mistake that used a wrong input parameter when running do_deltas.py.

[2019-02-20 14:37] londumas commented on #567
fixed.

[2019-02-20 14:37] #567 closed

[2019-02-20 14:37] londumas commented on #558
fixed

[2019-02-20 14:37] #558 closed

[2019-02-20 14:38] londumas commented on #557
fixed

[2019-02-20 14:38] #557 closed

[2019-02-20 14:39] londumas commented on #555
fixed

[2019-02-20 14:39] #555 closed

[2019-02-20 17:39] londumas commented on #562
@TEtourneau, I just updated the "add_transfer_function_mocks" branch with master. Please don't forget to "git pull" next time you want to work on it.

[2019-02-21 15:13] londumas opened #568 "dust-correction is not applied to self.diff"
dust-correction is not applied to self.diff. This produces an incorrect estimation of the noise.

[2019-02-26 16:08] londumas commented on #552
Fixed in https://github.com/igmhub/picca/pull/569

[2019-02-26 16:08] #552 closed

[2019-03-13 17:13] londumas opened #571 "read DLA catalog from a fits file"
In order to read DLA catalogs from DESI, let's only read this catalog from fits file, and add a conversion function in `py/picca/utils.py` to convert the ASCII files to a fits file. I think we should aim for the following header. Would that sound reasonable @alxogm and @solenechabanier?

for data
[code]

for mocks
[code]

[2019-03-13 17:44] alxogm commented on #571
Hi @londumas will you use explicitly Z_QSO_NO_RSD, Z_QSO_RSD, Z_DLA_NO_RSD, Z_DLA_RSD at the picca level? The question  is if you need to distinguish between mock and data... I would've think this distinction is only at previous steps, before running picca on mocks, so there is  one DLACAT header that doesn't  know about being mock or data...

[2019-03-14 10:07] solenechabanier commented on #571
Yes that's ok for me !

[2019-03-16 16:50] #571 closed

[2019-03-16 16:50] londumas commented on #571
fixed

[2019-03-19 13:30] londumas opened #574 "picca is cryptic is can not find any delta field"
picca is cryptic is can not find any delta field

[2019-03-19 13:33] londumas opened #575 "Switch to a linear lambda grid for DESI"
Swith to a linear lambda grid for DESI.
The fact that we use loglam grid currently has bins effects. See here for example the
evolution of the total variance with observed wavelength.

![var_LYA](https://user-images.githubusercontent.com/3166436/54609682-134d9480-4a19-11e9-82b3-92dcb32a37eb.png)

[2019-03-19 15:57] londumas opened #576 "ra and dec need to be cast to float64 to compute the angle"
ra and dec need to be cast to float64 to compute the angle

[2019-03-19 16:30] londumas commented on #576
fixed in https://github.com/igmhub/picca/pull/577

[2019-03-19 16:30] #576 closed

[2019-03-19 16:55] londumas commented on #574
fix in PR https://github.com/igmhub/picca/pull/578

[2019-03-19 16:55] #574 closed

[2019-03-20 16:39] londumas opened #579 "Add fit results of the DR14"
Add the fit results of DR14 combined and some doc on how to read it there.
https://github.com/igmhub/picca/tree/master/data

[2019-03-21 15:09] londumas opened #581 "Sort object in catalogs"
In utils.py let's sort the objects by increasing ra and increasing dec. For `eBOSS_convert_DLA`, `desi_convert_DLA`, `desi_from_truth_to_drq` and `desi_from_ztarget_to_drq`.
Or maybe let's sort them by THING_ID?

[2019-03-21 23:53] Andrea-MG opened #582 "Cannot have abs_igm2 if there is no abs_igm in picca_metal_dmat.py"
When computing picca_metal_dmat.py for Lya(Lya)xLyb(Lyb) with OVI as abs_igm_2 and none as abs_igm, I get an error in line 133 - Looks like I can't have an absorber in the second forest if there is none in the first.
I lost the exact error message when I lost connection - sorry!

[2019-03-22 00:27] londumas commented on #582
@Andrea-MG, could you give here the command line that reproduce the error?

[2019-03-22 17:09] Andrea-MG commented on #582
Of course, @londumas
The command line that I sent is
`picca_metal_dmat.py --in-dir /global/cscratch1/sd/andreamg/v6/quick-0.1/Picca/Delta_LYA/Delta/ --in-dir2 /global/cscratch1/sd/andreamg/v6/quick-0.1/Picca/Delta_LYB/Delta/ --lambda-abs LYA  --lambda-abs2 LYB --out /global/cscratch1/sd/andreamg/v6/quick-0.1/Picca/Correlations/metal_dmat_LYALYA_LYBLYB.fits.gz --unfold-cf  --np 100 --rp-min -200.0

[2019-03-23 16:00] londumas opened #584 "speed of light is 3e8 for DLA"
The parameters of the model of DLA absorption are hard codded. For example `c = 3e8 ## speed of light m/s`. This has to be changed in a coherent manner between data catalog, mock catalog and picca.

[2019-03-23 16:03] londumas commented on #582
Here is the error message:
[code]

[2019-03-23 16:13] londumas commented on #582
fixed in PR https://github.com/igmhub/picca/pull/585

[2019-03-23 16:38] londumas commented on #568
Fixed in PR https://github.com/igmhub/picca/pull/586

[2019-03-25 16:09] iprafols opened #588 "llvm error in picca_xdmat"
Running picca_xdmat.py I found a weird LLVM-related error.

Here is the call:
[code]

and here is the error:
[code]

[2019-03-25 16:11] londumas commented on #588
@iprafols, it is a known issue, solved by using previous version of numba amd llvm.
Both of these packages team are working on it.
Please use the version of the pakage as defined there:
[code]

[2019-03-25 16:11] londumas commented on #588
The version of the pakage are there: `https://github.com/igmhub/picca/blob/master/requirements.txt`

[2019-03-25 16:12] #588 closed

[2019-03-26 17:09] londumas commented on #581
Fixed in https://github.com/igmhub/picca/pull/580

[2019-03-26 17:09] #581 closed

[2019-03-26 17:09] #568 closed

[2019-03-26 17:10] #582 closed

[2019-03-26 17:12] londumas commented on #351
Closed because no news of this and nobody can reproduce this except one person.

[2019-03-26 17:12] #351 closed

[2019-03-26 17:28] londumas opened #589 "Remove the effect of the grid with finner distortion matrix"
Remove the effect of the grid with finer distortion matrix

Effect of bin size (Helion): "finer model than data, i.e., rectangular distortion matrix"
The idea is to estimate the model on bins smaller, maybe 1 Mpc/h is small enough. The development is then to modify the distortion matrix from a matrix 4 Mpc/h x 4 Mpc/h to 4 Mpc/h x 1 Mpc/h
This was done at the code level in PR https://github.com/ig

[2019-03-29 18:24] londumas commented on #579
fixed in PR https://github.com/igmhub/picca/pull/587 thanks to @vserret.

[2019-03-29 18:24] #579 closed

[2019-04-01 16:33] londumas opened #591 "latest version of setuptools (40.8.0) does not build"
Latest version of setuptools (40.8.0) does not build, and fails the Travis tests.
It gives the following error:
[code]
and
[code]

[2019-04-01 16:37] londumas commented on #183
won't fix. Too heavy for github

[2019-04-01 16:37] #183 closed

[2019-04-01 22:33] londumas opened #592 "`picca_deltas.py --dla-mask 0.` fails the continuum fitting"
We can not send `picca_deltas.py` with the option `--dla-mask 0.`. This create a division by zero, and thus fails the continuum fitting and the definition of delta.
This ticket is to keep track of the aspect, let's not fix that since we can't have a perfect model of the DLA, and anyway with noise, it will fail.

[code]

[2019-04-01 22:33] #592 closed

[2019-04-03 07:34] TEtourneau opened #595 "Coadd z bins for meta dmat"
Currently, there is no code to coadd the distortion matrix for the metals in different z bins.
It would be great to have one.

[2019-04-03 08:30] andreufont commented on #431
@londumas - The issues that @jfarr03 and I are having is that we have non-positive definite matrices when trying to use picca to measure the correlation function of the Gaussian field, the log-normal density field, the optical depth or the redshift-space optical depth.

It would be really interesting to run these, since it would allow us to do non-trivial tests. For instance:
 - in the case of the

[2019-04-03 23:06] londumas commented on #431
@andreufont and @jfarr03, do you have that only for the cross or also for the auto? On the raw transmission files I don't get it for the auto, only the cross has issues.

[2019-04-04 00:10] londumas commented on #431
The following message is an update of the previously posted ones, using the latest simulations.
The plots show the following:
 - the first plot show the covariance matrix of the cross-correlation, we can see that it is very non-diagonal for both the catalog and a random shuffle of the redshift. The covariance is not positive definite.
 - the second plot shows the correlation of \<xi\> in each heal

[2019-04-04 04:27] londumas commented on #595
@TEtourneau, are you volunteering? There is no rush.

[2019-04-04 04:29] londumas opened #596 "Weight the pixels as a function of delta"
There is a project of weighting the pixels as a function of the value of the field and the SNR. Could we improve the BAO measurement in such a way?

[2019-04-04 04:30] londumas opened #597 "Lya(Lya)xLya(Lyb) covariance matrix is not pos-def neither in data and mocks"
Lya(Lya)xLya(Lyb) covariance matrix is not pos-def neither in data and mocks.
Can we understand why and fix it?

[2019-04-04 04:31] londumas opened #598 "Add option to fit (ap,at) on the fulll shape of the correlation"
Add option to fit (ap,at) on the fulll shape of the correlation

[2019-04-04 07:09] TEtourneau commented on #595
I have no experience in picca, and specially in coadd, but I can give it a try.

[2019-04-05 08:20] andreufont commented on #431
Hi @londumas - I remember dicussing about randoms in cross-correlation a while ago (actually, this was first discussed by Ross O'Connell back in 2012), it might be time to properly look at this with mocks and see what is the statistical gain / loss when you take into account the randoms or not. It looks like it helps with the covariance matrix (what is great!) but I'm curious to see the end effect

[2019-04-05 15:16] londumas commented on #431
@andreufont, yes a study with a student would be good. Maybe we should change our estimator.

However there can't be any loss of statistical power because you can produce many realization of the random shuffles and get a near noiseless stack. I bet that 2 or 4 already are embedded into the real catalog errors.

[2019-04-05 16:04] londumas opened #599 "add requirements-extras.txt with extra non-essential packages"
add requirements-extras.txt with extra non-essential packages.
For example pk1d uses `from ROOT import TH1D, TFile, TTree, TProfile2D, TProfile`

[2019-04-05 16:43] londumas commented on #598
Done in the following branch: https://github.com/igmhub/picca/tree/full-shape
I don't think we want to merge this, however it is useful to test how biased the BAO parameters can be in a full shape measurement, how correlated with other parameters and how better the error could be.

[code]

![cf_z_0_10_w0_0 95_w1_1 0](https://user-images.githubusercontent.com/3166436/55643098-8aac5380-578f-11e9-971

[2019-04-05 20:42] londumas commented on #595
@TEtourneau, you can have a look at picca/tutorials/picca_export_stacked_correlation.py, to have an idea on how to do it.

[2019-04-08 12:38] slosar commented on #598
This is extremely useful, thanks a ton.
But what is the difference between the first set of numbers and the second set of numbers? Is one of those on the mocks?

[2019-04-08 13:05] londumas commented on #598
It is auto, cf, and cross, xcf

Le lun. 8 avr. 2019 à 06:38, Anže Slosar <notifications@github.com> a
écrit :

[2019-04-08 17:32] ngbusca commented on #598
Hi guys, this looks great! I'm not sure though about what the alphas are for full shape. For BAO it's clear they are DH/rs and DM/rs, but for for full shape?

[2019-04-08 19:46] londumas commented on #525
@vserret, do you have any idea of the time scale on that? Could we have it for DR16?

[2019-04-08 20:07] londumas commented on #599
@Waelthus, what are the different packages that are needed to run the Pk1d analysis that are not already in `requirements.txt`?

[2019-04-08 20:24] slosar commented on #598
Nico, I think that if you let Omega_m and ns (to main parameters that control the shape of linear matter ps) vary, then for fullshale+nobao it would be just DH and DM. Because if you assume your model is right, then only the correct scaling will allow you to explain the observed data. I think it is pretty interesting as there is lots of information in the broadband and our model seem to be good en

[2019-04-09 00:18] londumas commented on #599
Adding this in branch https://github.com/igmhub/picca/tree/correlation_physical_model

[2019-04-09 00:18] londumas commented on #524
Working on that in https://github.com/igmhub/picca/tree/correlation_physical_model

[2019-04-09 04:17] ngbusca commented on #598
@slosar (I'm not arguing against at all!) I just worry that people would just add `--full-shape` and forget that the interpretation of the `alphas` is totally different `;^)`
(these threads are Jim-safe: it is easier for a camel will go through a needle's eye than for Rich to enter the kingdom of github)

[2019-04-09 04:29] londumas commented on #598
As I said at the top, I don't think we should merge this branch. It is to
dangerous for beginners. The cosmology wrap up paper guys told me to see
the effect of full shape analysis, so I did.

Le lun. 8 avr. 2019 à 22:17, Nicolas Busca <notifications@github.com> a
écrit :

[2019-04-09 04:43] ngbusca commented on #598
@londumas do you need to be that extreme? At the same time, the option might become useful in the future... what about printing a warning message on the screen (`WARNING!!!: you are fitting ap,at on the full shape, remember that they won't give you DH/rs and DM/rs, you'd better know what you are doing!`)
Up to you...

[2019-04-09 07:18] vserret commented on #525
I try to do it before the end of the week

[2019-04-09 10:07] Waelthus commented on #599
I don't think we need any additional packages for the 1d measurement right now, that are not included.
The code contains imports of the `ROOT` python bindings, but only if you decide to use root as an output format.
As `ROOT` cannot be installed with pip/conda anyway (at least to my knowledge), I don't think it should be in `requirements.txt` (not sure if that makes it suitable for the `requiremen

[2019-04-09 14:42] vserret opened #600 "New covariance smoother"
We had two problems with the old covariance smoother :
- The smoothed correlation matrix depended on rp
- The cov for lya(lya)xlya(lyb) was not > 0
Jim has found a new way of doing the smoothing which involves the Wick T123 covariance matrix.
This should be implemented as an option in export.py.

[2019-04-09 15:46] londumas commented on #525
Fixed in PR https://github.com/igmhub/picca/pull/601

[2019-04-09 15:50] londumas commented on #598
@ngbusca, ok works for me. What about the following?
[code]

[2019-04-09 15:58] londumas commented on #599
Fixed in branch https://github.com/igmhub/picca/compare/correlation_physical_model

[2019-04-09 21:44] londumas commented on #524
Fixed in https://github.com/igmhub/picca/pull/603

[2019-04-10 06:53] ngbusca commented on #598
@londumas that's really good!! I'd add a phrase reminding why though `;-)`

[2019-04-10 12:46] londumas commented on #598
@ngbusca, Yes I wrote that:
`print('WARNING!!!: Using full-shape fit to the correlation function. Sailor you are reaching unexplored territories, precede at your own risk.')`

[2019-04-10 13:30] slosar commented on #598
Well done! :)

[2019-04-11 13:09] londumas commented on #600
Fixed in https://github.com/igmhub/picca/pull/604

[2019-04-11 23:55] londumas opened #605 "all energy in computation of distance"
The comoving distance from PICCA and from CAMB, using the DR12 config file are a bit different, as high as `ratio(z=3) = 0.0002`, `difference(z=3) = -0.9 Mpc/h`. This can be linked to the other energy component: radiation, neutrino, ...
It is not an issue at our level of precision but might be important at some point when DESI comes.

![dist_comoving](https://user-images.githubusercontent.com/3166

[2019-04-12 04:20] ngbusca commented on #605
I think most comes from radiation, which is not inclided in picca's formulae. But remember that what matters is not the distance but distance differences. The effect on distance differences should be much smaller.

[2019-04-17 16:03] #525 closed

[2019-04-17 16:11] londumas commented on #598
Fixed in PR https://github.com/igmhub/picca/pull/602

[2019-04-17 16:11] londumas commented on #597
A way to solve this is using PR https://github.com/igmhub/picca/pull/604

[2019-04-17 16:20] londumas commented on #431
This is fixed by using the random shuffle, see the following plot with 10 London mock realizations: raw and raw+continuum.
Fixed via PR https://github.com/igmhub/picca/pull/521

![image](https://user-images.githubusercontent.com/3166436/56303890-2461f200-60fa-11e9-85bb-5597692235fb.png)

[2019-04-17 16:20] #431 closed

[2019-04-17 16:27] londumas commented on #605
Fixed in PR https://github.com/igmhub/picca/pull/603

![devide](https://user-images.githubusercontent.com/3166436/56304484-6e97a300-60fb-11e9-8d94-70bbe29dc87e.png)
![minus](https://user-images.githubusercontent.com/3166436/56304483-6e97a300-60fb-11e9-87bf-d72d7018a750.png)

[2019-04-17 16:36] londumas commented on #591
Working on it in branch https://github.com/igmhub/picca/tree/use_latest_setuptools

[2019-04-17 17:34] londumas commented on #591
"De guerre lasse", I asked for some help there: https://stackoverflow.com/questions/55733130/python-setup-py-install-does-not-work-with-latest-setuptools-no-scripts-in

[2019-04-18 16:03] londumas commented on #584
It would be nice to have the dimension and the significance of each parameters going into the computation of DLA. For example what is `b` https://github.com/igmhub/picca/blob/7c1f6c529fc50837c10e21a92f72cc5feac87f30/py/picca/dla.py#L24 Is it the speed of light in decameter/sec as I have been told?

[2019-04-18 18:29] echaussidon opened #607 "DLA implemtentation is different than in Rutten 2003"
** I think there is a mistake in py/picca/dla.py line 28 : `u = (c/b)*(lam_lya/lrf-1)` should be replaced by `u = (c/b)*(lrf/lam_lya-1)` according to Rutten 2003 3.3.3 ([http://www.staff.science.uu.nl/~rutte101/rrweb/rjr-edu/coursenotes/rutten_rtsa_notes_2003.pdf](url)).

** Moreover I don't really understand the calculation of the Voigt function in the same file which looks like a Lorentz functio

[2019-04-18 19:04] londumas commented on #607
@echaussidon, could you plot the difference between the current code and your new implementation for the lya and Lyb absorption by the DLA? The plot you send me this morning would do to start.

[2019-04-18 19:11] londumas commented on #607
Related in a way to issue https://github.com/igmhub/picca/issues/584

[2019-04-18 21:49] echaussidon commented on #607
![symmetry](https://user-images.githubusercontent.com/47702632/56393374-16d76580-61e9-11e9-84bc-81c975170ce0.png)
![comparaison_la](https://user-images.githubusercontent.com/47702632/56393375-16d76580-61e9-11e9-9533-5955d8f7bdd6.png)
![comparaison_lb](https://user-images.githubusercontent.com/47702632/56393377-16d76580-61e9-11e9-8386-1a420cb0c3fd.png)
![Comparaison_Moi_picca](https://user-images.g

[2019-04-18 21:50] londumas commented on #607
@echaussidon, could you give a description of each of your plots?

[2019-04-18 21:51] echaussidon commented on #607
So picca code produce a non-symmetric function is due to the line 28 :
![Figure_1](https://user-images.githubusercontent.com/47702632/56393434-42f2e680-61e9-11e9-94f9-ec4ecc0f5c4a.png)

the orange curve is the current line and the blue curve is mine

[2019-04-18 21:52] londumas commented on #607
@echaussidon, thanks for that. Could you add x axis and y axis or describe what they are?

[2019-04-18 21:52] echaussidon commented on #607
yes sure I put the wrong figure ..

[2019-04-18 21:53] echaussidon commented on #607
and I describe my figure below

[2019-04-18 22:06] echaussidon commented on #607
So :

	** figure 1 : test of symmetry : we plot the transmittance for lyman_alpha minus its symmetric relative to the expected central value

	**figure 2 : transmittance for the two codes for lyman_alpha : my code in blue and picca in orange

	**figure 3 : transmittance for the two codes for lyman_beta : my code in blue and picca in orange

	**figure 4 : 2+3

	**figure 5 : the reason of the non-sy

[2019-04-18 22:07] echaussidon commented on #607
Edit figure 5:

![Figure_1](https://user-images.githubusercontent.com/47702632/56394273-a1b95f80-61eb-11e9-88bc-ad4000deab86.png)

[2019-04-18 23:26] londumas commented on #607
@echaussidon, thank you for all the work. Could you:
 - look at how it is done in desisim: https://github.com/desihub/desisim/blob/master/py/desisim/dla.py ?
 - plot for a high SNR data and mock the flux and the computed transmission in picca and in your code?
I think you can also prepare a branch with your changes, and we can test their effect. Anyway it does not seem to be drastic. Maybe it will

[2019-04-19 03:51] ngbusca commented on #607
@londumas @echaussidon If you look at [this line](

* https://github.com/igmhub/picca/blob/7c1f6c529fc50837c10e21a92f72cc5feac87f30/py/picca/dla.py#L60) you will see that the profile is exactly a voigt profile (recall that `y` is gaussianly distributed).
* this function has to match what was used for the DLA finder. I recall seeing a difference between Rutten et al and Pasquier implementation, and

[2019-04-19 16:36] julienguy commented on #607
I think the issue is whether the random variable u is propto a frequency or a wavelength.
 - the master version of picca uses frequency: https://github.com/igmhub/picca/blob/7c1f6c529fc50837c10e21a92f72cc5feac87f30/py/picca/dla.py#L28
 - same for desisim https://github.com/desihub/desisim/blob/38edac4da5dab7f05cd7fd44cb0737a35cf9019d/py/desisim/dla.py#L144
( in rutten_rtsa_notes_2003.pdf eq. 3.68-

[2019-04-20 06:22] ngbusca commented on #607
@julienguy do you agree that we should use whatever it was used for the DLA finder?

[2019-04-22 16:37] echaussidon commented on #607
@ngbusca I agree with the calculation of the void function line 60!
But I don't understand why it is more robust or efficient than the Scipy version because we need to simulate 1000 random number against use a tabulation value on the other way.

Otherwise, I compare the implementation with Pasquier code that @londumas transferred me, here it's implementation  :

`a = double( lambdao*1.d-10 *gamma/

[2019-04-22 21:45] londumas commented on #597
Can be fixed by using a wider definition of the Lyb region. For example [86,102], testing with [92,102].

[2019-04-22 21:46] londumas commented on #600
Can be fixed by using a wider definition of the Lyb region. For example [86,102], testing with [92,102].

[2019-04-23 03:03] ngbusca commented on #607
@echaussidon

I didn't say more efficient, I said more robust. The implementation of `wofz` switches algorithms depending on the absolute value of the argument, `picca`'s implementation doesn't have this limitation. It might be slower, but it's faaaaar from being a bottleneck.

Regarding the more important issue, I *think* the difference is between switching to the dla rest frame or to the observe

[2019-04-23 14:09] #598 closed

[2019-04-23 20:26] londumas opened #608 "Add DLA transmission to raw"
Adds DLA transmission to raw:
https://github.com/igmhub/picca/blob/886a66b7f1b626fd75c8aad947e889dd864be928/py/picca/utils.py#L323

[2019-04-24 17:03] andreicuceu commented on #516
Here

[2019-04-24 17:04] andreufont commented on #516
Hi @andreicuceu , can you reassign this ticket to yourself?

[2019-04-24 17:04] andreufont commented on #516
@londumas , can you assign the issue to @andreicuceu ?

[2019-04-24 17:05] londumas commented on #516
I just invited @andreicuceu to github, as soon as he says yes. I will be able to assign it to him.

[2019-04-25 12:51] ngbusca commented on #516
@andreufont @andreicuceu check out the existing mcmc sampler `picca_mcmc`, there might be something useful there....

[2019-04-25 13:00] andreufont commented on #516
Yes, @ngbusca , Andrei is aware of it. He will probably start something from scratch (using polychord as sampler?), but will first take a good look at the existing sampler. Thanks!

[2019-04-26 18:05] londumas commented on #605
Fixed in https://github.com/igmhub/picca/pull/603

[2019-04-26 18:05] #605 closed

[2019-04-26 18:05] londumas commented on #597
fixed using [92,102] A.

[2019-04-26 18:05] #597 closed

[2019-04-26 18:06] #524 closed

[2019-05-03 10:51] londumas commented on #600
merged and fixed.

[2019-05-03 10:51] #600 closed

[2019-05-06 06:18] matthewfeickert commented on #492
@alxogm @ngbusca Sorry to add discussion (that isn't _directly_ related) to an Issue that is a few months old, but I was wondering if you had any advice RE: dealing with issues similar to @alxogm's. Specifically, https://gist.github.com/matthewfeickert/284cbddc4a60aca2dcda29c354189b35 (in which the above error also shows up).

If not, I won't draw out this Issue, but I thought I'd go ahead and ask

[2019-05-06 06:50] ngbusca commented on #492
@matthewfeickert you seem to be encountering yet a different issue: the original post was related to a change in the type of object the minimization function in iminuit was returning. @alxogm issue seems related to the version of numpy. I'd say yours looks like a problem with your installation of cython. Are you able to install older version of iminuit?

[2019-05-06 07:03] matthewfeickert commented on #492
Sorry for not being more clear. I had just meant that in my Gist if you run the code you will encounter

[code]

but I think this is actually due to `iminuit` not properly installing its own dependencies (here `numpy`) and so if I install both `cython` and `numpy` before this goes away.

Excellent question! I hadn't thought to try, but the answer is no (in my Docker image used in the Gist). If I r

[2019-05-06 18:41] matthewfeickert commented on #492
@alxogm @ngbusca [The issue has been resolved](https://github.com/matthewfeickert/Docker-Python3-Ubuntu/pull/3). In short, there was a conflict of C++ compilers given configuration flag choices at CPython build time. Thanks for your help!

[2019-05-13 15:30] TEtourneau opened #618 "dmrp not defined in picca_export_coadd_zint.py"
[code]
I tried to coadd all the auto-correlation functions in:
`/global/cscratch1/sd/tetourne/Out/debug_2560_2/picca-0.1`

The distortion matrices are also present in the directory. They have the right name, but the fits files only have one hdu.
It looks like the line 112:
`elif dmrp.size==rp.size:`
should not try to access the dmrp variable.

[2019-05-13 16:13] londumas commented on #618
Can you try the stack function in tutorials instead, and tell me if it
works ?

Le lun. 13 mai 2019 à 09:30, TEtourneau <notifications@github.com> a écrit :

[2019-05-13 19:00] londumas commented on #618
@TEtourneau, what version of picca did you use? Are you up-to-date with master?
As you can see there: https://github.com/igmhub/picca/blob/849e55d0e633d622ab79861e83795327a8254c56/bin/picca_dmat.py#L220,
you should have two HDUs.
[code]

[2019-05-14 08:27] TEtourneau commented on #618
Indeed the stack function in tutorials works !

I'm using the master of picca. But my files were computed sometime ago (something like 3 months).
So I guess it's just a problem of retro-compatibility.

[2019-05-14 12:42] londumas commented on #618
indeed `tutorials/picca_export_stacked_correlation.py` is the function I use, because it is way faster. Non the less, `picca_export_coadd_zint.py` was suposed to be retro-compatbile. I will have a look.

[2019-05-15 13:18] londumas commented on #618
fixed in PR https://github.com/igmhub/picca/pull/620

[2019-05-15 13:18] #618 closed

[2019-05-27 17:13] londumas commented on #512
Fixed in https://github.com/igmhub/picca/pull/628

[2019-05-28 17:12] jfarr03 opened #629 "picca_cf.py z-cut options could be made more clear"
The names of the options when running `picca_cf.py` to make a redshift cut `--z-cut-min` and `--z-cut-max` are not particularly clear at the moment. Equally, the help description could be more clear:

If I understand correctly from when @londumas explained to me, these options cut **only** on the redshifts of the QSOs, not at all on the redshift of the pixels in the skewers.

This could cause conf

[2019-05-28 17:56] londumas commented on #629
@jfarr03, I would prefer not to change the name `--z-cut-min` because we would have to change it in a lot of places. Do you want to do a PR with a more proper English explanation of the parameter?

[2019-05-29 01:09] londumas opened #630 "add tutorial on how to use the chi2 surface"
Add a tutorial to `py/picca/utils.py` and some lines of codes to the `data/README.md` on how to use the chi2 surfaces.

[2019-05-29 15:34] londumas opened #631 "clean `py/picca/data.py`"
The code in `py/picca/data.py` is pretty messy, mostly for `__init__` and `__add__`, let's clean it a bit.
For example:
 - the following line can be replaced by `self.mean_reso = reso.mean()`
https://github.com/igmhub/picca/blob/7730ea386d4e44f83573a3b44d1ae7179b8636f8/py/picca/data.py#L193
- the following line hardcodes the Lya nature of the transition, which is not guaranteed at all.
For example

[2019-05-29 17:33] londumas commented on #630
fixed in https://github.com/igmhub/picca/pull/632

[2019-05-29 17:36] #512 closed

[2019-05-31 16:14] londumas opened #634 "picca fails with latest numba"
While running the tests with the latest numba, `numba=0.44.0`, I get the following errors and warnings:

[code]

[2019-06-05 21:47] #630 closed

[2019-06-06 04:28] londumas opened #635 "Update readme"
Add citation instructions to readme

[2019-06-06 17:15] londumas opened #636 "log10 in comment"
https://github.com/igmhub/picca/blob/8c65fb237a55b25ee63d9ab01a7164821947f874/bin/picca_deltas.py#L132

The fit is in log10 and not in log, correct the comment.

[2019-06-07 16:21] londumas commented on #636
fixed in PR https://github.com/igmhub/picca/pull/637

[2019-06-10 15:16] jfarr03 opened #638 "fitter2 cannot save results"
When running fitter2, I get the following error:

[code]

This refers to a line in the final stages of the fitter:

[code]

This seems to be fixed by changing the line to:

[code]

@londumas does this issue occur for you?

[2019-06-10 15:18] londumas commented on #638
@jfarr03, I bet it is a iminuit version issue. Are you using the one in the requirements.txt?
You can see that using `pip show iminuit`

[2019-06-10 15:23] jfarr03 commented on #638
@londumas Yup you're right that seems to be the issue - thanks!

[2019-06-10 15:23] #638 closed

[2019-06-10 21:35] echaussidon opened #640 "iminuit.values changed structure"
The code raises an alerte :
[code]

when I run picca_fitter2.py and I use Fast MC (activate in chi2.ini)

[2019-06-10 21:39] londumas commented on #640
Fixed in https://github.com/igmhub/picca/pull/641

[2019-06-11 14:29] #640 closed

[2019-06-11 14:30] #636 closed

[2019-06-17 18:49] londumas opened #645 "computing all minos errors fails"
Computing minos errors on all parameters give the following error, however none are raised when computing using the name of the parameters.
It comes from the fact that using `all`, iminuit gives a `numpy.str_` and using the name of the parameters we get `str`.

[code]

[code]

[code]

[code]

[2019-06-17 20:13] londumas opened #647 "effective-bins bugs when using combined fit"
@vserret, I am trying to have your `effective-bins` computation working when using a combined fit, and it does not. The following command line works for a single correlation, but not for a combined. Have you ever tried it on combined results? Could you fix the code? I get the following error, that tells me that line 157 is trying to read all the config files at once.
[code]

[code]

[2019-06-18 06:58] vserret commented on #647
I have made it for singe fits. When I want combined fit I just add the values for w*z and w.

[2019-06-21 15:19] londumas commented on #645
fixed in https://github.com/igmhub/picca/pull/646

[2019-06-21 15:19] #645 closed

[2019-06-21 15:19] #629 closed

[2019-06-22 06:02] joselotl opened #651 "shuffle_distrib_forests not rearranging pixel objects"
The function shuffle_distrib_forests in utils.py, shuffles the angles of the quasars but doesn't move them from their current healpix pixel assignation. As the functions to compute the correlations only search for objects in the corresponding neighboring pixels, this results in the correlations computed using this function having less pairs than they should have.

Here I include  a possible fix, a

[2019-06-24 16:00] londumas commented on #651
@joselotl, nice catch! Sorry I made that bug, let me correct it.

[2019-06-24 16:06] londumas commented on #651
@joselotl, I think the simplest way is to reassign delta, weight, ... instead of the angular distribution. Would you agree?

[2019-06-24 17:22] londumas commented on #651
@joselotl, fixed in https://github.com/igmhub/picca/pull/652. Could you test it and tell me if it is ok?

[2019-06-24 18:10] joselotl commented on #651
It now works for me. Thank you! I didn't consider reassigning the deltas, I agree that it would have been easier

[2019-06-24 18:11] londumas commented on #651
Let's close it once the PR is merged. THanks for the work.

[2019-06-24 18:13] joselotl commented on #651
Ok, sorry. Should I comment in the fix?

[2019-06-24 18:16] londumas commented on #651
@joselotl, I just added you to igmhub, can you tell me when you received the invite? Once it is done, I will ask you to do a review of the PR.

[2019-06-24 18:23] joselotl commented on #651
I already recieved it

[2019-06-24 20:02] londumas commented on #651
@joselotl, thanks for catching this issue.

[2019-06-24 20:02] #651 closed

[2019-06-25 15:16] londumas commented on #647
Fixed in https://github.com/igmhub/picca/pull/653

[2019-06-25 15:16] #647 closed

[2019-07-01 13:31] TEtourneau opened #656 "NB binning is not correct in CO"
I think that the binning of the field 'NB' in exported co is not correct.
Here is 2 plots showing the correlation function (DA) and the number of pairs (NB) vs (rt, rp):
![Screen Shot 2019-07-01 at 3 14 00 PM](https://user-images.githubusercontent.com/36950825/60439709-8d460a00-9c13-11e9-94fd-7e82a8001eee.png)
![Screen Shot 2019-07-01 at 3 18 41 PM](https://user-images.githubusercontent.com/369508

[2019-07-01 13:53] londumas commented on #656
@TEtourneau, could you give the different code you ran o export and do the plots?

[2019-07-01 14:05] TEtourneau commented on #656
Here are the commands I used to produce the correlation function of QSO:
`Running do_co.py
DD:
picca_co.py --drq Out/v4.5.0_6/CO/Catalog/QSO_D_850000.fits --out Out/v4.5.0_6/CO/Correlations/QSO_DD.fits.gz --type-corr DD --rp-max 200 --rt-max 200 --rp-min 0 --nt 50 --np 50 --z-cut-min 2.1 --z-cut-
max 2.5 --nproc 64 --z-ref 2.27
RR:
picca_co.py --drq Out/v4.5.0_6/CO/Catalog/QSO_R_850000.fits --out

[2019-07-01 16:56] londumas commented on #656
@TEtourneau, It is totally normal, the maximum number of pairs is at large scales: both for DD and RR.
However, at large scales DD=RR, when at small scales RR(xi+1) = DD.

[2019-07-01 16:56] #656 closed

[2019-07-01 18:29] TEtourneau commented on #656
I'm not sure I understood.
Why is the number of pairs greater at (rt=0, rp=200) than at (200, 200) ?

[2019-07-01 23:40] londumas commented on #656
@TEtourneau, could do some plots in 1d: nb(bin index), da(bin index)? Your 2d plots are hard to read: no labels, x and y are in pixels and not mpc/h, the 0 is not at the bottom left...

[2019-07-02 08:19] TEtourneau commented on #656
Sorry I did that really quickly.
Here are some more detailed plots:
![Screen Shot 2019-07-02 at 10 10 30 AM](https://user-images.githubusercontent.com/36950825/60495965-2592cc00-9cb2-11e9-8d61-d478013a9e5c.png)
![Screen Shot 2019-07-02 at 10 13 02 AM](https://user-images.githubusercontent.com/36950825/60495966-2592cc00-9cb2-11e9-9057-24c52ae1e189.png)
![Screen Shot 2019-07-02 at 10 18 27 AM](https

[2019-07-02 16:35] londumas commented on #656
@TEtourneau, why should t increase with rp? See section 4.2.5.5 of my thesis: https://tel.archives-ouvertes.fr/tel-01587743/document

[2019-07-09 19:26] jmarclegoff opened #657 "Gaussian smearing term in fitter2 should be squared"
In `picca/py/picca/fitter2/pk.py` the Gaussian smearing term is `exp( - k^2 sigma^2 / 2)`. But this is the smearing applied to the field, and I believe that for P(k) this term should be squared, or equivalently, we should remove the division by 2.
In Saclay mocks the Gaussian smearing has `sigma=2.19`, but with the current state of the code, we expect the fit to return `2.19 * sqrt(2) = 3.10 Mpc/h

[2019-07-09 20:37] londumas commented on #657
@jmarclegoff, thank you for the explanation. @jfarr03 what is the smearing in LyaCoLoRe?

[2019-07-09 20:43] londumas commented on #657
@jmarclegoff, could you explain what you mean by "the smearing applied to the field"? Do you apply manually a smeering, or is it applied by the fact the grid is fixed of bin size `2.19 Mpc/h`?

[2019-07-10 15:57] TEtourneau opened #659 "desi_convert_transmission_to_delta_files cannot read transmission*.fits.gz"
line 482: gather all transmission files (either .fits or .fits.gz)
but at line 489, the list of files "fi" are transmission*.fits files

[2019-07-10 16:01] londumas commented on #659
@TEtourneau, thanks for finding this. Can you do a PR?

[2019-07-10 16:08] TEtourneau commented on #659
I'm not sure how to do it to have something compatible both for .fits and .fits.gz

[2019-07-10 19:36] jmarclegoff commented on #657
@londumas, the size of the voxel of the Gaussian-random-field boxes is indeed (2.19 Mpc/h)^3 but in addition, when we compute a skewer we make an average over the surrounding 7^3 voxels (i.e. up to +- 3 sigmas) with a Gaussian kernel of the same sigma = 2.19 Mpc/h. So, in principle, we should have both the Gaussian smearing term, exp( - k^2 sigma^2 ), and the sinc^2(k sigma/2) term. But I believe

[2019-07-10 20:35] londumas commented on #657
@TEtourneau and @jvstermer could you give the best fit results of these two parameters for `eboss-0.0` and `eboss-raw`?

[2019-07-10 21:27] jfarr03 commented on #657
@londumas CoLoRe has a gaussian smoothing with scale of 2Mpc/h, and then when we add small scale power in LyaCoLoRe there is a Gaussian smoothing of 25km/s (at redshift 0, so equivalent to 2.5Mpc/h I believe), and a top hat sinc smoothing of size 0.25Mpc/h (the size of our small cells)

[2019-07-10 21:32] jmarclegoff commented on #657
@jfarr03 I am surprised. If you apply a Gaussian smoothing at the small scale power you are not going to obtain the required amount of small scales, are you?
Or maybe I misunderstood what you meant.

[2019-07-10 21:45] jfarr03 commented on #657
@jmarclegoff Sorry the gaussian smoothing we apply to the small scale power is with scale 0.25Mpc/h, rather than 2.5Mpc/h, so the same scale as our small cell size. I don't think it makes much difference as we don't tune using those scales

[2019-07-11 21:50] londumas commented on #659
fixed in PR https://github.com/igmhub/picca/pull/660, thank you @TEtourneau ?

[2019-07-11 21:50] #659 closed

[2019-07-12 21:15] TEtourneau opened #662 "Blinding in picca"
Cosmo parameters (omega_matter) appears in:

- fitter2:

Om is in 'PlanckDR12/PlanckDR12.fits'
Should we also change the fiducial power spectrum used to compute the model ?

- computation of correlation functions:

there are given via --fid-Om
and then used in constants.cosmo :
`cosmo = constants.cosmo(Om=args.fid_Om,Or=args.fid_Or,Ok=args.fid_Ok,wl=args.fid_wl)`

Do we need to change also Or, Ok,

[2019-07-12 22:18] TEtourneau commented on #662
Some clarifications (from desi hackday discussions):
The idea is to have omega_matter stored somewhere in a file. We will see later how we encrypt the blinded value.
Then we would have an option `--unblind` which, if not specified, would prevent from using the default or given value of `--fit-Om`. So if you want to run an unblinded analysis, you must provide the `--unblind` option.

If `--unblind`

[2019-07-22 14:20] londumas commented on #560
@vserret, thanks for looking into this. Could you tell me why did you close that?

[2019-07-22 17:34] vserret commented on #560
I am working on it

[2019-07-22 17:35] londumas commented on #560
@vserret, very good, thanks. Then let's close the ticket once the code is merged.

[2019-07-25 08:51] vserret commented on #553
Should I do that or this is ok now ?

[2019-07-25 22:04] londumas commented on #553
@vserret, to me they are good, but you were not that happy with them at some point, so you can decide to change it if you want.

[2019-08-27 20:02] londumas opened #667 "(bias_eta, beta) are very correlated"
Currently we fit for `(bias_eta, beta)` for each tracer. These parameters are very correlated. The following plot shows the first ~50 mocks, and the correlation is `~ -0.97`. This impacts the time performances of the fitter, and thus also of our ability to draw enough fastMC and get the likelihood on a fine enough grid. picca devs have to think of reverting to the previous definition of `bias*(1+b

[2019-10-09 09:16] londumas opened #672 "sub-sampling covariance is overestimated for picca_co"
When computing the correlations involving two objects, e.g. auto correlation of DLA or of quasars, or their cross-correlation, the sub-sampling covariance is overestimated at small rt,
when comparing to the mock-to-mock covariance.

The following plots are done using london mocks v9.9, with ~36 DLA auto-correlation.
The autoc-orrelation of quasars has the same behavior

![coDLA_4](https://user-ima

[2019-10-09 09:39] londumas commented on #672
On a side note, the agreement is very good for the auto, cross, autoLyb and crossLyb.
The following two plots present the auto and the cross.

![auto_compare_var](https://user-images.githubusercontent.com/3166436/66470159-58a2e380-ea89-11e9-9eca-da2f769ea18d.png)
![cross_var](https://user-images.githubusercontent.com/3166436/66470158-58a2e380-ea89-11e9-8871-63917d932864.png)

[2019-10-10 14:06] londumas opened #673 "DR11 mocks are not currently supported"
To run the DR11 mocks, two lines of code have to be modified. Here they are.
[code]

Here are the following lines to send picca_deltas.py
[code]

[2019-10-10 14:06] #673 closed

[2019-10-31 22:18] andreufont commented on #634
This is still an issue when I run Picca at NERSC (my screen gets polluted by tones of warnings)

[2020-01-02 20:35] londumas opened #676 "Using None with carfullness"
I learned few weeks ago that the following code is very bad practice in Python.
It is used everywhere in picca. We test if a value is None simply by asking `if variable_name:`.
This is bad because if we have a boolean that is set to None, then the user or the code
can set it to False or True at some point, then the behavior would depend on the value of the now set variable.
The solution is simply

[2020-01-03 11:52] andreufont commented on #676
Thanks Helion, I'll take a look at it.

[2020-01-07 21:03] WTSHDY opened #677 "Mistakes in py/picca/dla.py line 46/47"
1) I think there is a mistake in py/picca/dla.py line 46/47 (https://github.com/igmhub/picca/blob/master/py/picca/dla.py): gamma = 0.079  f = 1.897e8 for LyBeta should be replaced by gamma = 1.897e8  f = 0.079 .

2) By the way, gamma and f value maybe different from the website below:
According to
https://physics.nist.gov/PhysRefData/ASD/lines_form.html
Atomic information for Lyman-alpha :
https:/

[2020-01-07 21:30] WTSHDY commented on #584
I think the dimension in picca/py/picca/dla.py
Line 24 :  b = 30000  <--  m/s
Line 31 :  b/=1000  <-- km/s
At redshift ~3 observations show the Doppler parameters b to be distributed according to a Gaussian with a mean b between 25 and 30 km/s.

[2020-01-09 06:27] londumas commented on #677
@WTSHDY, thank you for the message. However, I know that @echaussidon and @julienguy worked a lot on being sure that the DLA models were ok, and they concluded that it was. They are even able to reproduce perfectly the absorption added in mocks.

[2020-01-31 08:44] andreufont opened #679 "Add example config for FastMC"
@alxogm pointed out that the instructions for running FastMC can be more clear. We could add a specific notebook showing how to run it, and use it also to show how to use the forecast option.

[2020-02-19 09:08] londumas opened #680 "DeprecationWarning for scipy"
Looking at the latest Travis run (https://travis-ci.org/igmhub/picca/jobs/647506891?utm_medium=notification&utm_source=github_status),
there are a lot of depreciation warning.
It would be good to tackle them before it is too late.
This can be fixed in a few grep.

[code]

[2020-02-27 22:34] londumas commented on #680
Fixed in PR https://github.com/igmhub/picca/pull/681

[2020-03-24 10:56] andreufont opened #683 "Update function calls from SciPy to silence warnings"
On a fresh new installation of Picca at NERSC, [following the instructions here](https://desi.lbl.gov/trac/wiki/LymanAlphaWG/Picca_at_NERSC), I get several warnings from scipy (see below for full message).

We should go through the code and update the calls to scipy and use numpy instead. @ngbusca , @londumas, is there any reason not to do that and stick to the scipy calls, even when there are war

[2020-03-24 11:20] andreufont opened #684 "Lots of Numba warnings when measuring correlations"
On a fresh new installation of Picca at NERSC, following the instructions here, I get several warnings from numba (see below for full message).

I don't know much (anything) about numba, so it would be great to have some help here.
[code]

[2020-03-24 11:29] andreufont opened #685 "Fix warning in forecast of fitter2"
When I run fitter2 I get the following warning:

[code]

It's seems trivial to fix, but since I know that @andreicuceu is working on this, I thought it was better to leave it for now.

[2020-03-24 11:59] londumas commented on #685
Indeed this line has little sense. `!=` would be better.
https://github.com/igmhub/picca/blob/58ab96090a2ca90b851276ad1fbacc3622c82f2b/py/picca/fitter2/chi2.py#L51

[2020-03-24 12:02] londumas commented on #684
Is it related to issue https://github.com/igmhub/picca/issues/634 ?

[2020-03-24 12:03] londumas commented on #683
@andreufont, you can safely update the different functions to numpy. We just used scipy as default before.

[2020-03-24 17:03] andreufont commented on #685
Definitely, but I'll leave @andreicuceu implement the change.

[2020-03-24 17:04] andreufont commented on #684
It might be. That was an actual error, and it was "fixed" by specifying a particular version of numba, but clearly it didn't solve all the issues.

[2020-03-27 12:26] andreufont opened #688 "Drop support for python2?"
Now that python2 is officially abandoned by python, we should stop supporting it in Picca. Do we know of anyone still using Picca from python2?

It is just annoying to keep using "future" functions instead of going full-on python3.

[2020-03-27 12:58] iprafols commented on #688
I agree that we should go full-on python 3

[2020-04-12 22:00] londumas opened #691 "scripts in bin should be executable"
`picca_fitter2_control_mpi.py` and `picca_fitter2_control.py` are not executable, is that by choice? or was it forgoten? you need to `chmod u+x them`

[2020-04-13 10:25] iprafols opened #692 "mean_snr in forest always uses Lya line"
in file data.py, at the end of __init__ and __add__ functions the mean redshfit of the forest is computed using Lyman alpha line. The usage of Lya is hard-coded so it might produce unexpected measurements for the mean redshift if other absorption lines are used

[2020-04-13 11:31] londumas commented on #692
@iprafols, could you give the reference to the line? Are you talking about that one?
https://github.com/igmhub/picca/blob/bd2b51b27957da687ab4d27cfcae6bca7a2d674c/py/picca/data.py#L200
If it is the case, then this is only used by the Pk1D people, I think.
But you are rigth this is unstable programming.

[2020-04-13 11:36] londumas opened #693 "standardization"
@iprafols, I leave you explain your project to improve picca with more standardization. Let's discuss things here, before doing anything to the code.

[2020-04-13 11:58] iprafols commented on #692
Yes, that one and also a similar occurence at line 243.

[2020-04-13 12:23] iprafols commented on #693
A while ago I was checking some possible issues regarding the computation of deltas and the distortion matrix, and I found it very hard to understand the flow of picca. This was mostly due to the fact that the names of variables are not very self-explanatory, and the lack of doctrsings.

After looking at it more carefully and I these are the issues that I found:
- [ ] We don't have the workflow of

[2020-04-13 12:28] iprafols opened #697 "bug found in bin.picca_deltas"
On line 177
`print("ERROR : invalid value for order, must be eqal to 0 or 1. Here order = %i"%(order))`
order should be `args.order`

[2020-04-13 12:35] londumas commented on #693
@iprafols, all of that makes a lot of sens but here is the big issue, we do not have full covarage of the unittest. Some of the codes are not tested with unittest. I tis true that the more important ones are thought. So the first step has to build full caverage through unitest.

[2020-04-13 12:38] iprafols commented on #693
I wasn't aware of that. I'll add this to the list of things to do

[2020-04-13 12:40] londumas commented on #693
If this is not done we risk to introduce a ot of bugs throught for example misspelling variables.
I think the first thing to do is:
 - write the doc strings, this is pretty safe, since it does not change the code
 - write a proper tutorial, thing I started for desi on the wiki
 - create a web-hook with a package like codacy, that tells when some standard are not respected.
What do you think @ipraf

[2020-04-13 12:48] iprafols commented on #693
This was my initial approach plan, but I am finding it way easier to understand the code after I'm changing the names of the variables. How about this:
- I keep making the changes in my fork, and once I have the docstrings ready I can merge just the docstrings to start with this, and once we are satisfied with the tests, then merge the rest.
- I'll look into setting up codacy or something like thi

[2020-04-13 12:50] londumas commented on #693
@iprafols, sounds perfect. Note that codacy is already hooked, but more tests can be added for standardization. Codacy was the first step by Nicolas.

[2020-04-13 12:51] iprafols commented on #693
cool, so I'll add to add more tests both in codacy and unittest once I understand the code better

[2020-04-13 17:18] londumas commented on #591
Fixed in PR https://github.com/igmhub/picca/pull/698.
This was a very tough one to fix, the clue was in the following depreciation warning.
[code]

The solution was to replace `python setup.py test` with `pytest py/picca/test/test_cor.py -s`.

[2020-04-13 17:29] #591 closed

[2020-04-15 13:13] londumas commented on #697
Could you do a PR? Thanks for catching that.

[2020-04-15 13:44] corentinravoux opened #699 "adding of a desiminisv mode to compute deltas on miniSV DESI data"
Change of the io.py routine : adding of a desiminisv mode which gets "coadd-*" spectra sorted by tile and spectrograph number. This is used to generate deltas with the minisv data release.
Change of the picca_deltas.py routine : adding of an argument which controls the minimal cut in SNR when the mode --use-constant-weight is used.

[2020-04-15 13:53] andreufont commented on #699
I think this would be very useful @corentinravoux - do you know if the rest of SV will have the same format?

[2020-04-15 13:59] andreufont commented on #685
@andreicuceu - we can close this issue, right?

Are there other branches / issues that we can also remove? It would be good to do a bit of tidying up.

[2020-04-15 14:02] andreufont commented on #688
@londumas - any reason to keep support for python2?

Otherwise, after the DR16 paper is accepted, we can drop support for python2. We will have to do it sooner or later!

[2020-04-15 14:05] andreufont commented on #679
We might be able to close this one already, or wait until we add a bit more on the tutorial for the fitter.

[2020-04-15 14:07] londumas commented on #688
@andreufont, is there a way to just remove the `future` imports and have the code still be both python 2 and python 3 compatible ?

[2020-04-15 14:08] andreufont opened #700 "Update Picca for DESI: modify use of PLATE in many pieces of code"
Picca can now work with simulated DESI data, and @corentinravoux  has added a branch to work with DESI mini-sv. However, we can only do that by hacking code, since Picca requires us to create a fake value of PLATE, and probably other SDSS-based concepts that should only be optional.

Now that the eBOSS analysis is finished, we should reconsider how to allow for a more natural way of working with b

[2020-04-15 14:08] londumas commented on #699
@corentinravoux, sound a very good idea.
However, I think a SNR cut is more appropriate at the catalog level, I would rather limit the addition to yet another option to picca_deltas. It is not a lot of work to do this cut in the catalog, or is it?

[2020-04-15 14:09] andreufont commented on #688
I don't think so... But also, why do we want to keep that compatibility? Do we know of anyone using Picca with python2?

[2020-04-16 17:48] andreufont commented on #699
Hi @corentinravoux , @londumas - I thought I had replied to this, but now I don't see the message?

My comment was that in my opinion in depends on what catalog are we now using for DESI data. Are you using an "official" DESI project, something provided by the pipeline team with a standard format? Basically, the equivalent to spAll in SDSS. If so, I think it is valuable to keep the code working wi

[2020-04-17 13:39] corentinravoux commented on #699
Hi all, I removed the SNR cut argument in the picca_deltas.py file. Only the io.py changes are staying.

[2020-04-17 13:42] corentinravoux commented on #699
However, a quick comment, the SNR cut is automatically done in the picca_deltas.py routine to a value of 1.0 which is hardcoded. I wanted more low SNR data, that is why I changed this parameter. If the SNR cut is done on the QSO catalog, is it not appropriate to remove this hardcoded cut ?

[2020-04-17 13:44] londumas commented on #699
Could you point us to that piece of code? This should not be the case for BAO extraction. maybe for Pk1d, where things differ by a lot of hardcoded parameters.

[2020-04-17 13:49] andreufont commented on #699
Hi @corentinravoux - I believe that code (the one that does not use any weighting) is only used by those using P1D, so I'd encourage you to discuss this with them (Michael / Christophe / Nathalie, I guess).

I believe that in the short term it might be better to have an option than a hard-coded value, but in the long term the solution might be to have parallel codes to use when ignoring the weight

[2020-04-17 15:41] corentinravoux commented on #699
Yes it is for the Pk1D analysis Hélion. Yes, ok I will see it with them. For now we can keep it without adding any new option.

[2020-05-01 10:12] iprafols commented on #697
Done. Sorry I didn't see it until now

[2020-05-05 20:26] aferte opened #704 "chi2 table combined_stdFit.ap.at.scan.dat - not recovering readme plot."
Hello,

I am adding the eboss dr14 likelihoods to cosmosis, using the chi2 table combined_stdFit.ap.at.scan.dat in data/Blomqvistetal2019/combined_stdFit. If I understood correctly, first column is alpha_perp, the second is alpha_parallel. As a check I am plotting the chi2 contours from this table and get a plot (see below) with axis switched compared to the plot shown in data/readme.md. Are the a

[2020-05-06 17:51] aferte commented on #704
Or I mis-interpreted the column's labels?

[2020-05-08 13:30] iprafols opened #705 "bug found in picca.io.read_from_spcframe"
The function accepts as parameters both single_exp and best_obs.  The code complains if best_obs is not set to True, but it is not used anywhere else in the function except for the initial check.

Also, the parser help in picca_deltas.py reads: 'If mode == spcframe, then use only one of the available exposures. If best-obs then choose it among those contributing to the best obs'
The second sentenc

[2020-05-11 11:56] iprafols opened #706 "bug found in io.read_objects"
keep_bal flag is ignored since it is passed to function read_drq always as True (line 863 of picca.io)

[2020-05-12 08:28] andreufont commented on #704
Hi @andreicuceu , could you take a look at this?

@aferte - note that we also have CosmoMC and MontePython modules with the DR14 results, in case that is useful.

[2020-05-12 08:29] andreufont commented on #699
Hi @corentinravoux , what is the status of this? Where you able to implement the changes to read mini-sv?

[2020-05-12 08:30] andreufont commented on #685
Hi @andreicuceu - this was fixed, right?

[2020-05-12 09:32] andreicuceu commented on #704
Hi @aferte, looking at the numbers it looks like the first column is indeed alpha parallel (ap) and the second column is alpha transverse (at). So I think everything should work fine.

[2020-05-14 01:18] aferte commented on #704
OK, that makes more sense. Thanks!

[2020-05-14 01:18] #704 closed

[2020-05-25 11:40] londumas commented on #691
fixed

[2020-05-25 11:40] #691 closed

[2020-06-02 13:28] Waelthus commented on #699
Added some changes to make this branch Andes compatible, necessary due to switch from coadds between all arms in the files (minisv) compared to not coadding between arms and storing them individually (andes)

[2020-06-02 15:08] andreufont commented on #699
That's great, thanks @Waelthus - Do you think we are ready for a pull request? I believe Corentin already started a PR, but it was stoped at some point. If there are problems, we could discuss it at the telecon next week.

[2020-06-02 16:34] Waelthus commented on #699
There's now the option of running directly on a list of zbest files instead of a drq (at least for the sake of deltas, not sure if parts of the non-Pk1d analysis still need one). Assuming one wants to only run on ZWARN==0 QSOs currently.
Both features are announced on picca, lets see if somebody encounters problems before a merge.

[2020-06-23 12:36] julianbautista opened #709 "h5py error when exporting fitter2 results"
I was following the [DESI HackDR14 tutorial ](https://desi.lbl.gov/trac/wiki/LymanAlphaWG/ReproduceSDSS/HackDR14) at NERSC.

The continuum fitting and correlation function were successful.
However when fitting the cross-correlation with
`picca_fitter2.py Fits/xcf_lya_kaiser/chi2.ini`

I obtain the following error message:

[code]

Ideas? I have version 2.10 of h5py

[2020-06-23 14:08] julianbautista opened #710 "Components of correlation function model"
Following a request by Jim Rich, we would like to be able to adapt the fitter so the user is able to study the different components of the model when possible (metals, distortion matrix, etc).

This could be an
- option in picca_fitter2 that would write these components to the h5 file, or
- a modification of fitter2 such that users could use it interactively, and producing plots.

[2020-06-23 22:11] julianbautista opened #711 "Improving speed when reading spAll file"
In picca.io the spAll is used to obtain the metadata multiple exposures of a file. This is currently quite slow for eBOSS analyses and will potentially be when reading DESI summary files.

I suggest changing lines such as
https://github.com/igmhub/picca/blob/master/py/picca/io.py#L297
from
`spAll = fitsio.FITS(fi[0])`
to
`spAll = fitsio.read(fin, columns=['THING_ID', 'PLATE', 'MJD', 'FIBERID', 'PL

[2020-06-25 08:36] julianbautista opened #712 "Fiducial cosmology parameters missing in correlation function files"
The correlation function code uses values for Omega_m and Omega_r to convert log_lambda into comoving distances. These values need to be written in the headers of the cf_*.fits files.

This should apply for the auto, cross, distortion matrices and metal matrices.

[2020-07-01 08:37] iprafols commented on #693
I have finished updating the docstrings and adding comments. I also changed the name of the variables since I found it very difficult to understand what the code was doing. A report on all the changes I made can be found here: http://openaccess.uoc.edu/webapps/o2/bitstream/10609/118127/1/iprafolsTFC0620.pdf

[2020-07-02 09:06] ngbusca commented on #693
I think this is a great initiative, thanks a lot @iprafols

At many instances, picca development was mainly driven by goal-oriented pragmatism and certainly grew "too fast" at times... I'm sure your effort will have a very positive impact on the pacakge.

[2020-07-02 17:56] andreufont opened #715 "Turn the pre-release v4.alpha into a formal release v4.dr16"
Right now we only have a pre-release for the code used in DR16. Should we wait for the paper to be accepted, before we make it a final release? What would be the benefit of waiting?
I guess if we were asked to do changes in the paper, and these included re-running something, would we modify v4.alpha instead of working with the master branch, and that's why we don't want to make that a final releas

[2020-07-02 17:57] andreufont commented on #715
Hi @londumas , what are your thoughts here? Was your plan to wait for the paper to be accepted, before making it an official release?

[2020-07-02 18:00] andreufont opened #716 "Create a new release for the branch that reproduces (fairly closely) the DR12 results"
The DR12 results were not computed with Picca, but with their predecessors.

However, for the DR16 paper we started a branch that added a couple of modifications so that we could reproduce fairly closely the results presented in the DR12 analyses.

These changes were never merged into master, because we do not expect most users will need these, but on the other hand it would be good to have the op

[2020-07-18 12:27] andreufont commented on #716
This is done now, see https://github.com/igmhub/picca/releases/tag/redo_boss_dr12

[2020-07-18 12:27] #716 closed

[2020-07-18 12:30] andreufont commented on #715
More on this discussion, from a conversation with Helion.

In July 2019, Helion created a tag for Picca, Theodebert-DR16-alpha (also known as v4.alpha), that was supposed to be the stable version of Picca to reproduce the DR16 results. However, this was a "pre-release", not a full release (not sure what the differences are). And more importantly, the README and the data to use the DR16 results are

[2020-07-18 12:33] andreufont commented on #715
@julianbautista , @iprafols - Note the discussion above. Helion has added the DR16 files to Picca, with a README to reproduce some of the plots. I accepted the PR and merged to master, and I think we are now ready to make the master branch the official DR16 release.

There are a couple of remaining PRs that could be addressed and merged before making the DR16 release, but I don't think that's nece

[2020-07-18 13:12] londumas commented on #715
I had no big plan in mind, I think we can do the release. Do you want me to take care of it ? It is very simple for me to do it.

[2020-07-18 13:20] andreufont commented on #715
Yes, it would be great if you could take care of making the DR16 official release from the master branch.

However, do you mind if we wait a couple of days, to see if there is any comment from the others?

[2020-07-18 13:34] londumas commented on #715
@andreufont , no problem. I will wait.

[2020-07-22 10:42] iprafols commented on #715
We can make a release now with the DR16 and also use it as the tag before standardisation

[2020-07-22 11:49] andreufont commented on #715
Great. @londumas , please go ahead and tag the master branch as the final DR16 release. Feel free to choose a French king if you wanted :-p

[2020-07-22 17:23] andreufont opened #719 "Can we simplify the metal matrix?"
The computation of the metal matrices are one of the slowest parts of the analysis.

I was always surprised that we needed to be so careful with the metal contaminants, since I would have thought that a much simpler approach would be valid.

The description of the metal contaminants was described in section 5 of Font-Ribera & Miralda-Escudé (2012, arxiv.org/abs/1205.2018). My understanding is that

[2020-07-24 06:52] londumas commented on #715
Done: https://github.com/igmhub/picca/releases

[2020-07-24 06:52] #715 closed

[2020-08-31 08:42] iprafols commented on #693
merged into master

[2020-08-31 08:42] #693 closed

[2020-08-31 08:44] iprafols commented on #706
fixed with merge in standardisation

[2020-08-31 08:44] #706 closed

[2020-08-31 08:45] #697 closed

[2020-08-31 08:45] iprafols commented on #705
fixed in standardisation merge

[2020-08-31 08:45] #705 closed

[2020-08-31 11:49] Waelthus opened #725 "Travis tests passing, but still having tracebacks in some parts"
This is copied over from slack.
@iprafols @julianbautista
I just tried to merge master (post-standardization now) into one of my branches (minisv_deltas) and while Travis tells me things are fine, there are some tracebacks in the travis output. I double checked the output for master itself (https://travis-ci.org/github/igmhub/picca/builds/722140282 line numbers below are from here) and they are th

[2020-09-02 12:23] #725 closed

[2020-09-02 14:47] #688 closed

[2020-09-02 14:49] andreufont opened #727 "Update README file"
The README file is quite outdated, it still says that it requires python 2.7

[2020-09-02 15:34] iprafols commented on #680
Fitter and fitter2 still have scipy dependencies

[2020-09-08 07:34] andreicuceu commented on #685
This was fixed

[2020-09-08 07:34] #685 closed

[2020-09-08 07:40] andreicuceu commented on #679
There is an example chi2 file with FastMC here: https://github.com/igmhub/picca/blob/master/tutorials/fitter2/chi2_example.ini. Also, the fitter2 tutorial (https://github.com/andreicuceu/fitter2_tutorial) contains some example runs with FastMC. More will be added once fitter3 is ready.

[2020-09-08 07:40] #679 closed

[2020-09-08 07:44] andreufont commented on #683
@iprafols - we can probably close this issue, right?

[2020-09-08 07:46] iprafols commented on #683
Yes, it is fixed now

[2020-09-08 07:46] #683 closed

[2020-09-08 07:46] andreicuceu commented on #709
Hi @julianbautista, this error usually appears when you don't have write permissions for either the output folder (and it's trying to create a new file in it) or the output file which already exists. I've also seen this before at NERSC when trying to run with MPI and h5py doesn't like it for some reason, but I haven't figured out why yet.

[2020-09-08 14:27] julianbautista commented on #711
This was implemented in the standardisation branch which is now merged to master.

[2020-09-08 14:27] #711 closed

[2020-09-08 14:34] julianbautista commented on #657
I guess this was solved by @TEtourneau ?

[2020-09-08 14:36] julianbautista commented on #635
This is the same as https://github.com/igmhub/picca/issues/727. Closing it.

[2020-09-08 14:36] #635 closed

[2020-09-08 14:37] julianbautista commented on #680
@iprafols this is solved now right? Can we close this?

[2020-09-08 14:38] TEtourneau commented on #657
Yes, it was solved in the branch correct_gauss_smoothing

[2020-09-08 14:56] julianbautista commented on #657
Cool, closing this.

[2020-09-08 14:56] #657 closed

[2020-09-08 17:21] iprafols commented on #680
Yes, we can close it

[2020-09-08 17:21] #680 closed

[2020-09-09 08:51] julianbautista opened #730 "Replace __add__() in data.Forest and data.Delta with explicit function name"
This makes the code very hard to read.
For instance, in many locations we see:
`d += d1`
and has to guess this is actually co-adding two delta fields.
I suggest to make this function explicit as in :
`d.coadd(d1)`

[2020-09-09 11:19] julianbautista commented on #684
These errors are happening because the functions under @jit cannot be compiled in nopython mode.
See more details here: http://numba.pydata.org/numba-doc/latest/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit

I tried to modify the code to make it work in nopython mode but I failed.
So I go with the easy solution for now.
As recommended I've added:
`@jit(fo

[2020-09-09 12:22] iprafols commented on #684
I'm not sure about the performance being the same. The Travis test on the PR #731 failed due to the tests being too long so we need to find a different solution

[2020-09-09 12:41] julianbautista commented on #684
Ok.. so it's more complicated than I thought. I'm reverting it back.

[2020-09-09 15:25] julianbautista commented on #730
This is solved

[2020-09-09 15:25] #730 closed

[2020-09-10 09:21] julianbautista commented on #727
I've updated it. I removed the requirements list because it is under requirements.txt and the installation instructions are clear.
I've added some description as well.

[2020-09-10 09:24] iprafols commented on #727
We should merge this to master then

[2020-09-10 09:25] julianbautista commented on #727
I modified master directly

[2020-09-10 09:26] iprafols commented on #727
ah, ok

[2020-09-10 09:26] #727 closed

[2020-09-10 10:07] julianbautista commented on #710
hi @andreicuceu ! If I understood correctly, this will be part of fitter3 right?

Do we still want this for fitter2 @iprafols @andreufont ?
If fitter3 is coming with this feature, I would rather not spend time with this in fitter2.

[2020-09-10 10:09] iprafols commented on #710
I guess that depends on how close we are to releasing the fitter3. If we won't have it until a year or so, it might be useful to work on this now. But if we will have it only in a few weeks/months, then I'm not sure it's worth it

[2020-09-12 07:49] andreicuceu commented on #710
Fitter3 is a few weeks away max (and can do this already), so I don't think it's worth doing it in fitter2.

[2020-09-12 09:49] julianbautista opened #737 "picca not compatible with python3.8 in MacOS"
After updating my python version in my mac, picca stopped working.
The reason is that Python 3.8 on MacOS by default now uses "spawn" instead of "fork" as start method for new processes in multiprocessing.
Adding `multiprocessing.set_start_method("fork")` in the first line below each `if __name__ == "__main__"` makes it work.
I don't think we need to solve this for MacOS users because most people

[2020-09-14 07:52] iprafols commented on #710
I'd  then say we don't include this in fitter 2

[2020-09-14 07:54] iprafols commented on #737
Does this fix work also for unix? If so, then I would add these changes to master

[2020-09-14 08:56] julianbautista commented on #737
unix doesn't need this fix because multiprocessing is implemented differently. But I haven't tested though.

[2020-09-14 22:48] julianbautista commented on #684
I found a way to code the correlation function with the nopython=True option.
Not only this removes the warning messages but it also improves the performance of the auto-correlation (cf.py) by a factor of ~**3**!
I created the branch faster_cf. In cf.py, for example, I added `compute_xi_forest_pairs_fast` to be compared with `compute_xi_forest_pairs`.
I will apply similar changes to the other func

[2020-09-15 05:43] andreufont commented on #737
Hi @julianbautista - Some might use picca on a laptop to debug stuff, or run small tests. If it is easy to fix, and it doesn't have any bad side effect, it might still be worth it. Maybe we can ask at the picca telecon, or in an email, whether anyone is using Picca on MacOS.

[2020-09-15 05:45] andreufont commented on #709
Hi @julianbautista - is this still not working? If not, it might be worth asking NERSC support, they are usually good at this.

[2020-09-15 05:58] andreufont commented on #684
Not bad! Have you checked that you reproduce exactly the same results? If so, that's a great improvement!

[2020-09-15 07:58] iprafols commented on #684
That's great! If we get exactly the same results I would go ahead and make it the only branch!

[2020-09-15 08:42] julianbautista commented on #684
Yes, well, travis is checking that for me !

On Tue, 15 Sep 2020 at 08:58, Ignasi Pérez-Ràfols <notifications@github.com>
wrote:

[2020-09-15 08:48] andreufont commented on #684
Would the changes affect the other parts of the code, like the computation of the distortion matrix, metal matrices or wick covariances? Those are the slowest parts of the code, I believe.

It might be worth re-running DR16 before making this the new master, what do you think?

Cheers,
Andreu

________________________________
From: Julian Bautista <notifications@github.com>
Sent: Tuesday, Septembe

[2020-09-15 08:51] julianbautista commented on #684
That's what I'm working on. There are similar changes that need to be done
to
- distortion matrix
- metal distortion matrix
- all above for the cross correlation

Ok, I could re-run DR16 before merging.

On Tue, 15 Sep 2020 at 09:49, Andreu Font-Ribera <notifications@github.com>
wrote:

[2020-09-15 09:47] iprafols commented on #684
I agree that rerunning DR16 would be nice to make sure the improvement in time escalates properly. We can also use this excuse to finally sort a folder with all the tests together

[2020-09-16 10:20] julianbautista commented on #684
I've updated the distortion matrix of the auto. The improvement in time is not as great.
Here are the times I get running on DR16 Stripe 82 (the tutorial).

Master
Time spent in picca_cf = 3.3926934679349263 minutes
Time spent in picca_dmat = 1.587285614013672 minutes

Branch faster_cf
Time spent in picca_cf = 0.9995701789855957 minutes
Time spent in picca_dmat = 1.0419551571210226 minutes

The me

[2020-09-16 10:37] julianbautista commented on #634
I will close this since everything is working and the warning messages are reported in #684

[2020-09-16 10:37] #634 closed

[2020-09-16 10:37] julianbautista commented on #712
They are now in the headers of the correlation files.

[2020-09-16 10:37] #712 closed

[2020-09-16 14:54] andreufont opened #738 "Rename THING_ID from the DLA catalogue format"
When we run picca_deltas, we can provide a DLA catalog to mask them. This file is read in io.read_dlas, and it requires the existance of THING_ID to identify the quasar containing DLAs.

THING_ID was the SDSS name used to identify quasars, but DESI will use TARGET_ID. We could have our own naming, say PICCA_ID, or QSO_ID, and use that in our input catalogs. An alternative is to have try / except s

[2020-09-16 15:08] andreufont opened #739 "Update format of input quasar catalog to be able to work with DESI and SDSS data"
The input quasar catalog is read in io.read_drq, and is currently expected to have THING_ID, PLATE, MJD, and other SDSS-based keywords.

We should modify the code to be able to work with SDSS catalogs (like DR16Q) but also DESI catalogs, that will have different keywords.

[2020-09-16 15:20] andreufont commented on #700
One option here is to use "observation" and "spectrograph" instead of "plate" and "fiberid", since this is really what we care about in Picca. We were only storing "plate" and "fiberid" in order to figure out later on whether two pixels belonged to the same "half-plate", i.e., the same spectrograph in the same observation. This is important to make study correlated noise in the spectra, coming fro

[2020-09-23 15:02] julianbautista opened #742 "New iminuit version 1.5 makes Travis fail"
I will update the requirements.txt accordingly and py/picca/test/data/result_fitter2.h5
This should make everything work again

[2020-09-23 16:16] #699 closed

[2020-09-23 16:55] andreufont commented on #739
Hi @iprafols - could you summarise how this was solved? What are the key changes in input data model?

[2020-09-23 17:10] iprafols commented on #739
Hi @andreufont ,
Basically the reading function was modified to have an if statement by which we can read using targetid instead of thing_id. However in the data model we are still using thingid. We have not changed that yet. @Waelthus can correct me if this is not accurate enough

[2020-09-23 18:48] #742 closed

[2020-09-24 07:12] #739 closed

[2020-09-24 09:22] julianbautista commented on #738
I'm doing some changes to picca to be less SDSS dependent.
Do you want to be able to use, say, and SDSS DLA catalog to mask DESI data? I think the answer is yes for now but not in the future (when we have DLA detectors ran on DESI spectra). Is this right?

[2020-09-24 09:23] julianbautista commented on #710
This issue has been addressed by Vega : https://github.com/andreicuceu/Vega
Thanks Andrei!

[2020-09-24 09:23] #710 closed

[2020-09-24 11:53] andreufont commented on #738
I don't think we want to mix SDSS and DESI data, at least at this point. It would be confusing in terms of THING_ID / TEMPLATE_ID, and probably others.

For now, I'd assume that users will be either doing SDSS analyses, or DESI analyses.

We can have different functions to read DLA catalogs from SDSS, and functions to read DLA catalogs from DESI (if needed), but after reading the catalog the code

[2020-09-30 11:19] julianbautista opened #747 "Clarify separation between continuum fitting from correlation function"
The current situation:
- In the continuum fitting process, spectra are read from different type of files, creates Forest objects which are extensions of the QSO class. Only the metadata in QSO is barely used and none of its functions.
- In the correlation function process, deltas are read with the Delta class, which extend the Forest class and the QSO class. The metadata and the function get_angle

[2020-09-30 11:32] iprafols commented on #747
I agree we can have the class Forest not extending QSO. I would, however, create also an independent Mask class. Classes inheriting from Mask would have a function `apply_mask`. I would also create another class called ForestCorrection with a method `apply_correction` to implement the different corrections.

I would also create a class Data and have the different reading modes load and format the

[2020-09-30 15:16] julianbautista commented on #700
This is my idea I started implementing on #745

1) Quasar catalog: read it with astropy.table.Table.read(), keeping the columns that are useful for us (easy to change), and pass it to the functions that read the spectra. Each of these functions will pick the metadata they need from the catalog, e.g., a read_from_desi will search for TARGETID, TILEID, PETAL_LOC, etc.

2) Saving this metadata as a d

[2020-09-30 15:19] julianbautista commented on #684
This is now solved in master with #740

[2020-09-30 15:19] #684 closed

[2020-09-30 15:30] andreufont commented on #700
Thanks @julianbautista, I think this is very helpful.

I like the idea of hiding survey-specific information (fiber, plate, mjd...) in a metadata dictionary, specially if these are quantities that are not required for the main analyses.

If there are quantities that are required by most analyses (like RA, DEC or Z_QSO), it might make more sense for these to be passed explicitly in the constructor,

[2020-09-30 15:34] julianbautista commented on #700
Yes for the Delta class used in the correlation function.

For the continuum fitting we only need Z_QSO to cut the forests in the good ranges and to compute rest-frame wavelengths. We can pass it directly.

[2020-09-30 15:36] andreufont commented on #700
For the Forest object, we also need always RA, Dec because we always need to write this in the Delta files.

[2020-09-30 15:37] julianbautista commented on #700
Yes, but we will write everything in metadata anyway :)

On Wed, 30 Sep 2020 at 16:36, Andreu Font-Ribera <notifications@github.com>
wrote:

[2020-09-30 15:38] andreufont commented on #700
DESI might have TARGET_RA while SDSS has RA or similar, so if there is a key piece of information that we need to have, by passing it as metadata we make it harder to access later on. If we pass it in the constructor of Forest, then we can store Forest.RA and it would work for all surveys.

[2020-09-30 15:40] julianbautista commented on #700
Yes, in my branch I modify the column TARGET_RA and TARGET_DEC to be simply RA and DEC.

[2020-09-30 16:06] andreufont commented on #700
You mean you do not pass the metadata from the original quasar catalog, but create your own version of the metadata?

I think it would be cleaner to either store the original metadata (using SDSS names or DESI names), or to move it from metadata to a standard member variable, like Forest.RA. Otherwise we would have to document our own metadata.

[2020-09-30 16:13] julianbautista commented on #700
I keep all columns names from the catalogs for now, literally only changing the names of RA and DEC. Of course this is easy to change at any point.

[2020-09-30 16:18] andreufont commented on #700
I think the fact that you had to change it for RA,Dec is telling you that this should not be some optional meta-data, but key variables that need to be always declared. I could open a new issue about this if you preferred.

[2020-09-30 16:22] julianbautista commented on #700
It's fine, I'm happy with any implementation of this.

[2020-10-14 09:24] iprafols commented on #737
Note that this is also happening in NERSC with the new version of python

[2020-10-14 10:47] iprafols commented on #737
The fix proposed by Julian doesn't seem to work. When running the tests, the subprocess module is used to run the different codes. For the first code, the fix works perfectly. However, for the second code, the system thinks the multiprocessing.set_start_method has already been called, and the code crashes as this function can only be called once. However, if a try/except block is used, then the se

[2020-10-14 11:27] iprafols commented on #737
I fixed the problem by requiring a specific context for the multiprocessing in each of the files. This should work irrespective of the default context in the different OS.

[2020-10-16 01:46] Andrea-MG opened #750 "Keyword name problem in continuum fitting (picca_deltas.py)"
I am trying to run picca_deltas.py on a mock with this instruction:

`picca_deltas.py --drq Catalog/zcat_desi_drq.fits --in-dir /global/cfs/projectdirs/desi/mocks/lya_forest/develop/london/qq_desi/v9.0_Y1/monthly_delay0_v0/desiY1-0.2-metals/spectra-16/ --out-dir Delta_LYA/Delta/ --mode desi --iter-out-prefix Delta_LYA/Log/delta_attributes --log Delta_LYA/Log/input.log`

And after reading the data

[2020-10-16 06:41] iprafols commented on #750
Hi @Andrea-MG,
What version of python are you using?  And of iminuit?
This error seems familiar to me and if I recall it correctly it was related to not having the correct versions of the libraries
Cheers,
I.

[2020-10-16 10:25] iprafols commented on #750
I believe the problem is that in the DESI environment in NERSC, the iminuit version is 1.4.2. This issue is solved using version 1.5.2.

[2020-10-22 04:57] WTSHDY opened #751 "Misplaced values between "eta" and "var_lss" (eta should be 1, var_lss should be 0)"
https://github.com/igmhub/picca/blob/3f7707db362fdc1878fe7a6f534dde4ee5dde38d/bin/picca_deltas.py#L681-L682

[2020-10-22 04:58] #751 closed

[2020-10-22 05:00] WTSHDY commented on #751
sorry, my bad.  I forgot it's the third case situation for constant weights.

[2020-10-27 15:16] Waelthus opened #752 "Picca automatic testing"
Currently automatic testing requires a run of all tests.
We should spilit this up into subtests to allow for easier debugging and eventually simpler addition of tests and thus better test coverage.
This requires tests to be independent from previous outputs which are mostly already saved in the repo anyway.

[2020-10-30 17:18] iprafols opened #753 "bug found when computing Lya(Lya) x Lya(Lyb)"
I found a bug when computing the autocorrelation between two different forests with the same absorption line. It seems that picca is ignoring the second set of deltas. I've identified the bit of code that is responsible for this bug and I will create a PR as soon as I fix it

[2020-11-02 13:24] iprafols commented on #753
After fixing the initial bug, there seems to be something else hidden as I do not recover the exact same correlation function as in the DR16 results computed by Andreu back when we published the results
![cf_LYA_in_LYA_LYA_in_LYB_z_0_10-exp](https://user-images.githubusercontent.com/9192975/97872786-e7c70d00-1d16-11eb-96a2-bb6d79058e93.png)

[2020-11-02 13:25] iprafols commented on #753
I don't think that the problem is with the deltas since I can reproduce the following correlation functions: Lya x Lya, Lya x QSO, Lya(Lyb) x QSO

[2020-11-02 14:46] iprafols commented on #753
This is now fixed with the last commit on PR #754

[2020-11-02 18:01] #753 closed

[2020-11-27 12:30] jfarr03 opened #758 "picca_export and picca_export_coadd_zint give different results"
As far as I understand, running either `picca_export.py` or `picca_export_coadd_zint.py` on the same input data should yield the same exported correlation functions. However, when running these two scripts on the eBOSS DR16 analysis from mocks, using `picca_export` seems to work ok, whereas `picca_export_coadd_zint` gives a non-positive definite covariance warning. Using v4 of picca (as was used f

[2020-11-27 12:40] jfarr03 opened #759 "picca_export_coadd_zint potential issue with finding dmat"
Currently, `picca_export_coadd_zint` finds the distortion matrix for a given input correlation by simply replacing the sub-string "cf" in the path to the correlation with "dmat" (line 51):

https://github.com/igmhub/picca/blob/53828dc007b580c91504be22b922cc3dcabfabf7/bin/picca_export_coadd_zint.py#L51

This has worked well in the past, but runs into issues when using absolute paths with the new-is

[2020-11-27 14:46] jfarr03 opened #760 "Data loading can easily be parallelised"
When running any picca script which loads in large quantities of data, performance is slow as data is all read in series rather than in parallel. For example, when measuring some correlation functions, the loading of delta files or catalogues can take at least as long as the calculation of the correlation itself. In most cases, the data loading process is trivially parallelisable as it can easily

[2020-11-27 15:57] jfarr03 commented on #758
This turned out to be an easier fix than expected: the normalisation of the variables `r_par`, `r_trans` and `z` needed to come before calculating the covariance.

With the current setup, they were set to very large values as they had not yet been normalised by dividing by the weights:

`r_par: [2.46492228e+09 6.02158914e+09 9.31071704e+09 ... 1.11968696e+13 1.14253858e+13 1.16889439e+13]`
`r_tran

[2020-12-01 10:03] iprafols commented on #760
I totally agree that this could be parallelized. I think the different reading of data should be treated separately. For the reading of deltas, I think we can go ahead and introduce parallelisation. Since delta files are structured in different healpixs, then I guess the best solution will be to use the same Pool solution used for the computation.

For the reading of raw data to compute the deltas

[2020-12-04 20:13] Andrea-MG opened #762 "Incompatibility of picca_compute_fvoigt.py with DLA catalogs"
Hi everyone,

While running picca_compute_fvoigt.py with a DLA catalog with the format used by the DLA finder team I get ths error (that doesn't appear while running with other catalogs, as I discussed previously with Thomas):

`picca_compute_fvoigt.py --dla-catalog /global/cfs/projectdirs/desi/mocks/lya_forest/develop/london/qq_desi/v9.0_Y1/monthly_delay0_v0/desiY1-0.2-DLA/DLA_cat.fits --drq-cata

[2020-12-07 13:32] Waelthus commented on #762
Ok, the immediate issue is that your DLA_CAT contains THING_ID/ Z while the code expects MOCKID/ Z_DLA_RSD, for the CAT from the drq file it expects THING_ID which is available, so that should be ok. So the quick workaround would be either renaming columns or modifying lines 181 and 198 of the script to the different column names.

It would definitely make sense to have a mode setting here, if I s

[2020-12-10 15:45] jfarr03 opened #764 "Weights when coadding distortion matrices"
When coadding correlations and associated distortion matrices from several redshift bins, the distortion matrices are combined in a weighted sum where the weights are taken from the associated correlation:

https://github.com/igmhub/picca/blob/53828dc007b580c91504be22b922cc3dcabfabf7/bin/picca_export_coadd_zint.py#L93

Is there a particular reason for doing this rather than using the weights from

[2020-12-10 16:03] iprafols commented on #764
They should be the same, shouldn't they? If they are the same, then doing it this way optimizes the code. That said, since this is a very fast bit of the code, I guess you can change it to using the dmat weights for more readability

[2020-12-17 10:45] jfarr03 commented on #764
Statistically yes I guess they should but I don't know if they'd be literally identical? I noticed that there's a comment a few lines below this which seems to be to do with weights (though I'm not sure _exactly_ what it means or where it came from):

https://github.com/igmhub/picca/blob/53828dc007b580c91504be22b922cc3dcabfabf7/bin/picca_export_coadd_zint.py#L95

At any rate, we need to open up bo

[2020-12-17 10:58] iprafols commented on #764
In that case I'd say to change it to improve readability (but I'd double check that the speed difference is indeed negligible)

[2020-12-17 11:08] jfarr03 commented on #764
Sure I'm just writing the changes into a branch now and will run some tests to check both that the output is the same and that the speed difference is negligible

[2020-12-20 15:34] SamYoules opened #769 "Change default value for downsampling_nb in picca_convert_zcat.py to None"
In tutorials/desi/picca_convert_zcat.py the default value for downsampling_nb is 700000, but if there are fewer objects than this in zcat.fits, it crashes. The default value should be None.

[2021-01-11 20:08] #758 closed

[2021-01-12 09:03] #764 closed

[2021-01-19 15:18] #769 closed

[2021-02-21 12:04] andreufont opened #778 "Covariance of bins not measured should be infinity (not zero)"
I was looking at how Picca does the sub-sampling, and it looks like it assumes a zero variance for bins not measured.

https://github.com/igmhub/picca/blob/02496df79e088332344e2f9322b681d71117ecbf/py/picca/utils.py#L56

I'm not sure this is used anywhere relevant, but I thought I'd flag it here just in case.

[2021-03-31 14:37] andreicuceu opened #781 "Add a readme with documentation on the scripts in the bin folder"
As a lot of the work in picca gets done by scripts in the bin folder, it would be nice to have a readme explaining what each of them does, and maybe guiding people on what is best practice for certain use cases. Also some description of the input parameters (I know there is --help, but a centralized documentation is definitely better) and examples would probably be good.

[2021-04-07 10:08] iprafols commented on #752
This will soon be fixed for the continuum fitting part of the code when the delta_extraction branch is merged

[2021-04-07 10:09] iprafols commented on #747
This issue is being addressed by the new continuum fitting version in branch delta_extraction

[2021-04-07 10:11] iprafols commented on #692
This issue will be fixed in the new version of the continuum fitting on branch delta_extraction

[2021-05-03 05:42] ngbusca commented on #778
I agree, but bins that aren't measured aren't used in the fit. Isn't it equivalent? In other words, isn't the inverse covariance of the *measured* bins equal to the inverse of the covariance where you delete rows and columns of unmeasured separations?

[2021-05-13 09:06] andreufont commented on #778
Hi Nico, welcome back to Picca!

Yes, what you are saying is correct, and I believe this "issue" is not really an issue in our standard analysis. I just wrote it here as a warning, not as something that needs to be fixed soon.

[2021-06-16 15:19] Waelthus opened #787 "Travis"
Note that since yesterday, travis-ci.org is read-only, so until we fix this we won't have CI tests!

[2021-06-16 17:51] Waelthus commented on #787
I started replacing travis by github actions in the change_to_github_actions branch, the tests run, but they seem to fail at the picca_xcf with a too large error on DA, we'll need to see why this is.

[2021-06-25 09:06] #787 closed

[2021-09-11 06:10] andreufont opened #795 "picca_export broken when not providing a distortion matrix"
When running on mocks (either raw mocks or boring mocks) we often want to export the correlation function (combine HEALPix pixels and compute covariance) without providing a distortion matrix.

This was possible until recently, when it was broken when adapting picca_export to work with the minimal blinding strategy. The code now experts a string (dmat_name) that is not set when a matrix is not pro

[2021-09-16 13:07] andreufont commented on #760
@iprafols , @Waelthus - I thought that this branch had been merged a long time ago, but now that I'm playing with the boring mocks I realise that we are still waiting a lot of time reading the deltas without parallelisation.

Should we find a volunteer to take care of this?

[2021-09-16 13:59] andreufont commented on #760
For the record, it takes 10 minutes to read the deltas from a full DESI mock realisation.

[2021-09-16 15:57] iprafols commented on #760
Hi @andreufont , yes I think we should ask for a volunteer. If I fail to do so on the next telecon, can you remind me?

[2021-09-29 05:58] andreufont commented on #795
This was solved in PR #796

[2021-09-29 05:58] #795 closed

[2021-09-29 06:36] andreufont opened #801 "Add option to decouple continuum fitting from global functions setting weights"
When we run our standard analysis on data, we often do several continuum fitting iterations while we self-calibrate several global functions (noise correction "eta", intrinsic variance "var_lss", or the fudge factor).

However, we not always want to to this. For instance, when dealing with mocks, we know that the noise is correct (eta=1), and when working with no-transmission mocks (boring mocks)

[2021-09-29 09:51] andreufont opened #802 "Skip blinding when working with MgII and CIV forests"
Right now the blinding strategy is applied to any deltas coming from main-survey data. However, we shouldn't need to blind non-Lya absorption, and I guess soon we might start to look at metal cross-correlations.

I'd suggest to only blind in picca_deltas (in the sense of triggering the blind='minimal' or blind='corr_yshift' labels) when io.read_data returns a non-zero blinding *AND* (lambda_rest_m

[2021-10-01 09:55] andreufont opened #805 "Swap order of read_objects and read_deltas in picca_xcf"
In the DR16 analysis we would first read the deltas, and used (zmin,zmax) from the deltas and (rpmax,rpmin) to set the relevant redshift range for quasars.

However, for some reason the current master branch has swapped these calls, and now we first read the objects.

Probably related to this, now the default values of z-min-obj and z-max-obj are set to (0, 10) while they were used to be None (to

[2021-10-01 10:09] iprafols commented on #805
Nope, no idea when/why this was changed

[2021-10-04 11:05] andreufont opened #807 "Update continuum fitting and fitter2 to support newer versions of iminuit"
We are currently forced to use a fairly old version of iminuit (1.49), but there are much newer versions available.

[2021-10-04 12:57] andreufont opened #808 "make sure that fitter2 can run on raw analyses"
Recent changes in picca_export.py (including the renaming of DM to DM_EMPTY) might have broken this.

[2021-10-05 17:22] julienguy opened #810 "iminuit issue"
Hi I get the following error when running picca_deltas.py  with picca master.

[code]

It's certainly due to incompatible versions of iminuit.
I'm able to run simply by commenting out the line `name=("eta", "var_lss", "fudge"),` in the iminuit.Minuit call in `picca/py/picca/prep_del.py`:

[code]

I checked the code still gets the correct outputs with this line commented out:
[code]

[2021-10-08 20:09] andreufont opened #812 "Parallelise code to read DESI data"
Right now it takes over 40 minutes to read the spectra in Everest (100k quasars), but it should be very easy to parallelise the function to read data (read_desi_data in io.py).

[2021-10-08 22:12] julienguy commented on #810
I have installed iminuit 1.4.2

[2021-10-11 09:12] Waelthus commented on #810
It might be that `name` was only introduced with 1.4.3 (from their changelog: Deprecated    keyword forced_parameters in Minuit.__init__ is deprecated, use name), but only introducing the keyword when the old way becomes deprecated sounds weird (especially for a bugfix release).
On 1.4.9 this should definitely work, 1.5.x were withdrawn from iminuit people due to bugs, and 2.x need picca code chan

[2021-10-11 09:20] andreufont commented on #810
Will we have a task force telecon on Wednesday? If so, we could discuss. We could create an Everest tag with the current master (requiring iminuit 1.4.9), and then try to do all the changes that we have been pausing for a while (new continuum code, move iminuit to 2.x, and so on).

[2021-10-16 15:37] andreufont commented on #719
@iprafols , @Waelthus - could we ask for a volunteer at the next Picca task force? The metal matrices from all DESI mocks are just ridiculously slow, we should really speed this up.

[2021-10-20 14:54] Waelthus commented on #812
Will be dealt with in PR #799

[2021-10-20 15:02] Waelthus opened #815 "Make sure that DLA/BAL Catalogs are supported and work as expected"
For the BAL side there has been work by @LaurEnnesser.
For the DLA side ideally the DLA finder group should try to implement a similar approach to the cats.

We do want to be able to run the full analysis with the everest tag, so this needs to be done before.

[2021-10-21 03:07] zoujiaqi99 commented on #815
Hi, which column names of the current DLA catalog do I need to change?  What do you mean about 'a similar approach'?

[2021-10-21 07:10] Waelthus commented on #815
For the BAL catalog the current idea is to add BAL information to the QSO catalog as additional columns to the main ZCATALOG extension. If that's feasible for DLAs, one could do the same for those to unify the treatment of "contaminants".

The other part is to ensure that whichever catalog format we will use for DLAs, picca needs to be able to read it. I'm not sure this is currently the case, but

[2021-10-21 07:13] Waelthus opened #816 "Port Pk1d changes to current picca versions"
We'll need to port changes in the Pk1d analysis for resolution matrix treatment to current versions of picca.

[2021-10-21 10:05] andreufont commented on #815
I agree with @iprafols , we should probably use a different catalog for DLAs than for BALs.

Thank you @zoujiaqi99 for providing the catalog! Regarding column names in your catalog, this is the current list:
[code]

Some of these are common with other DESI files (TARGET_RA, TARGET_DEC, TARGETID). These are great.

The function in Picca that reads DLA positions (read_dlas in io.py) currently expect

[2021-10-22 14:50] alxogm opened #819 "continuum fitting struggling with really noiseless mocks"
picca_deltas.py breaks at the first iteration of continuum fitting for noiseless mocks (exptime~1e10), with the following error:

[code]
This is traced back to this line,
https://github.com/igmhub/picca/blob/bbada92ee03376b1dae7adb1054d0d10dd6d93a4/py/picca/prep_del.py#L118

since the var_pipe calculated is below this limit, and therefore no bins are retained. A simple fix is to lower down this mi

[2021-10-22 17:25] alxogm opened #820 "Check if we are cross-correlating a quasar with its own forest or not."
Recently saw this warning appearing, when running picca_xcf.py on mocks,

[code]

the specific case was resolved in https://github.com/igmhub/picca/pull/813, but it rises the question of whether we are cross-correlating a quasar with its own forest or not, so we should check.

[2021-11-04 15:58] moonlovist opened #821 "Latest picca version fails to run on eboss mocks"
The latest version of picca_delta.py fails to run on eboss mocks, for both desi mode and desi_mocks mode. The following error message appears when running picca_delta.py:

Reading /global/project/projectdirs/desi/mocks/lya_forest/develop/saclay/v4.7/v4.7.01/eboss-0.2/spectra-16//30/3071/spectra-16-3071.fits
determining nside
nside = 4 -- mean #obj per pixel = 1328.3157894736842
INFO: Adding DLAs
R

[2021-11-05 18:07] alxogm commented on #821
OK,  I think we should decide here if we want to have an eboss_mock  mode or treat all quickquasars mocks under the `desi_mock`. If the second case, then my previous PR was not fully backwards compatible clearly... I think soon others might face the same issue so I can fix it. I just need to know if @iprafols @Waelthus agrees with all quickquasar mocks falls into the `desi_mocks` umbrella, probabl

[2021-11-10 14:31] andreufont commented on #760
@iprafols - the pull request merged only addresses the reading of deltas, but not reading spectra

[2021-11-10 14:32] iprafols commented on #760
I guess this was closed automatically with the PR

[2021-12-06 17:46] andreufont opened #826 "Clarify the rejection of spectra in continuum fitting (new delta extraction)"
There are printed warnings about "rejected forest" that are caused by "forest too short", and these cause the spectra to be dropped from the list of forests.

Others happen later, like those with "negative continuum", but these are not dropped from the list of forest. It looks like they are their continuum are not fitted (see populate_los_ids function in py/picca/delta_extraction/expected_fluxes/d

[2021-12-06 18:43] andreufont opened #827 "from_image should be None, not False"
In read_delta_file of the master branch, line 1416.

[2021-12-06 18:50] andreufont opened #828 "delta_extraction branch is blinding sv data"
I see column names = DELTA_BLIND even though I'm just using SV data.

[2021-12-07 10:44] andreufont opened #830 "zmin, zmax in delta_extraction not being used?"
The defaults are supposed to be zmin=2.1, zmax=3.5 (based on tutorial), but in the output file I read:
[PROGRESS]: and z >= 2.0        : nb object in cat = 265328
[PROGRESS]: and z < 4.288461538461538         : nb object in cat = 265328

It would be good to clarify what is going on.

[2021-12-07 10:44] andreufont commented on #827
Addressed in #829

[2021-12-09 11:16] iprafols commented on #826
Hi @andreufont ,

These are identified in the continuum fitting procedure and after this the list of forests is no longer used. I figured there was no need to remove them from the list, we simply skip them in the saving. But then, I could modify the filtering function (`fitler_forests` from `data.py`) and have it run also after the continuum fitting is run. Do you think this is necessary?

[2021-12-09 11:17] #827 closed

[2021-12-09 11:57] iprafols commented on #830
Hi @andreufont,
The behavior on the master branch is to compute the `zmin` and `zmax` based on the limits of the specified wavelenght ranges. See lines 464-469 in `picca_deltas.py` for this:
[code]
This was a bit confusing when I first started the branch delta_extraction as the defaults in `read_data` from `io.py` are 2.1 and 3.5. So I started with these default values but later updated to computi

[2021-12-09 11:59] iprafols commented on #830
Fixed with commit 1515a9926fcf63613db1ddcfde9ffa9149ca4cf0

[2021-12-09 11:59] #830 closed

[2021-12-09 12:06] iprafols commented on #821
Hi @moonlovist, @alxogm,

Is the problem still open? If so we should address this on the next picca task force telecon. It is not clear not me how to proceed. While it makes sense to have a `desisim_mocks` mode maybe it still makes sense to still have an `eboss_mock` mode for future bookkeeping reference. Also, this way we could freeze the 'eBOSS mocks' so that they are still readable even if we m

[2021-12-09 12:06] #815 closed

[2021-12-09 12:08] iprafols commented on #810
After PR #825 abd te everest tag, we moved to using iminuit 2

[2021-12-09 12:08] #810 closed

[2021-12-09 12:09] iprafols commented on #807
After PR #825 and the everest tag we moved to iminuit 2

[2021-12-09 12:09] #807 closed

[2021-12-09 13:24] andreufont commented on #826
I'm not sure we need to do any changes to the code itself, at least not yet. However, I'd try to add a bit of documentation / clarification in the code, and maybe also in the print messages.

[2021-12-09 13:26] andreufont commented on #830
Sounds good.

[2021-12-09 13:48] iprafols commented on #826
What do you mean? What would you like to be added to the print messages?

A small correction to my message above: they are not skipped in saving but are saved with an array of 0 for delta (or delta_blind), weights and continuum. I guess this could be easily fixed using what I described above and would make the code simpler to follow

[2021-12-09 13:57] andreufont commented on #826
One way or the other, it should be easy to follow which quasars were not included and why. I found confusing that some "rejected" quasars were dropped, but others were not. Dropping the latter (and not write empty files) might be enough. Long term, writing specific files with information about the objects drop, with extra information, would be quite useful. For instance, what is the redshift distr

[2021-12-09 14:24] Waelthus commented on #826
Additionally, in case of issues also info like what TILE/NIGHT/PETAL/FIBER dropped QSOs have been on might be useful and could potentially be used to find problems further upstream.

[2021-12-09 17:50] andreufont commented on #826
Agreed!

[2021-12-10 16:16] iprafols commented on #828
@andreufont This should have been addressed in the latest commits on branch delta extraction. Commits starting from b9d06af3879b9526383d23ccfd6c1503d6895d2b should have this fixed.

[2021-12-10 16:57] andreufont commented on #828
I've been trying to browse the long list of commits, but I couldn't find it. Could you specify exactly where this was fixed?

[2021-12-10 17:28] iprafols commented on #828
This was updated on 35eda96a071e2a6d433aa41941a1355f25ae378a, but there were also some bugs there. The first one I think works is the one I posted above

[2021-12-10 17:46] andreufont commented on #828
Thanks. I won't be able to take a look at it until late next week, unfortunately. By the way, why are the DESI catalogs (from real data) used ZtruthCatalogue?

[2021-12-10 17:49] iprafols commented on #828
No particular reason, it's just that I was using z_truth catalogues when I first coded it. I should probably rename it to DesiQuasarCatalogue

[2021-12-10 18:07] andreufont opened #835 "rename DESI quasar catalog in new delta_extraction branch"
The current name is ZtruthCatalogue, probably because we used it in mocks, but it is a very confusing name.

Even when working on mocks, the catalog we use in Picca is not the truth, since we might add redshift errors or others.

I'd just call this quasar_catalog or qso_catalog, I don't think we need to add "desi" in the name since it will be a varible of a class that will have DESI on its name.

[2021-12-10 18:11] andreufont commented on #835
Sounds good!

[2021-12-10 18:11] #835 closed

[2021-12-16 14:07] jamesrichdesi opened #836 "picca_cf1d failure"
picca_cf1d crashes on Andreu redo of dr16

[2022-01-05 15:40] moonlovist commented on #821
Hi @iprafols @alxogm ,

The issue still exists. I try to run the following command to create the delta fields for a Saclay mock:

picca_deltas.py --in-dir /global/project/projectdirs/desi/mocks/lya_forest/develop/saclay/v4.7/v4.7.10/eboss-0.2/spectra-16/ --drq /global/project/projectdirs/desi/mocks/lya_forest/develop/saclay/v4.7/v4.7.10/eboss-0.2/zcat_desi_drq.fits --dla-vac /global/project/projec

[2022-01-17 14:36] alxogm commented on #821
Hi @moonlovist,sorry for the delay, just catching up with a lot of things. I'm taking a look.

[2022-01-26 15:57] calumgordon opened #842 "'loglam' output of picca_delta_extraction.py"
The wavelength output of the delta attributes are still called 'loglam' when using linear binning. I guess we could either store the information in log form or change the name to lambda when using linear bins.

[2022-01-26 16:55] iprafols commented on #842
Ok, so this should not happen. As you can see in method `get_data` from forest, the name should be LAMBDA when using linear binning. Here is the piece of code (lines 389 to 400 from forest.py)
[code]

Not sure why this is happening. Can you give me more details? e.g. the configuration used, the commit used (saved in the .config.ini file in your output directory)

[2022-01-26 16:58] iprafols commented on #842
Ok so ignore bit of code on my previous message, this was for the delta files. However the issue still stands. In the `save_iteration_step` method from Dr16ExpectedFlux, lines 1182 to 1125 we have
[code]

[2022-01-27 10:41] calumgordon commented on #842
Hi Ignasi, having just re-run it I can see that you're right, everything worked as expected. Not sure why I got loglam the first time I ran the deltas. Was this a recent commit?

[2022-01-27 11:27] iprafols commented on #842
Maybe, I don't remember exactly when I fixed this

[2022-01-27 11:27] #842 closed

[2022-02-03 12:41] iprafols commented on #828
Hi @andreufont I think this was already fixed. Maybe @calumgordon  can confirm it. If so we can close this issue

[2022-02-03 14:03] andreufont commented on #828
@calumgordon - it would be great if you could confirm that when you are running analysis on *SV* data alone (no main survey data) the output delta files are not being blinded.

[2022-02-03 15:31] calumgordon commented on #828
@andreufont @iprafols I can confirm that the sv deltas aren't being blinded, whether you chose blinding or not in the config

[2022-02-03 16:27] iprafols commented on #828
Let's close this issue then

[2022-02-03 16:28] #828 closed

[2022-02-04 14:24] iprafols commented on #826
Hi @andreufont , @Waelthus

I have added a rejections log where the objects are listed. In this log there is the information from the forest header, i.e. RA, DEC, Z (quasar redshift),  and also TILE ,NIGHT, ... or THING_ID, PLATE, ... if they are available. It also contains the number of pixels in the forest and the rejection status (accepted, shortforest, ...)

Check the commit 2d90c8f8db152e00fb

[2022-02-04 15:29] andreufont commented on #826
This sounds useful for debugging cases like the one we have now with the new / old branch.

[2022-02-04 15:31] iprafols commented on #826
My reasoning exactly, that's why I did it now

[2022-02-09 16:22] calumgordon opened #844 "Failure of metal matrix compression with smaller binnings"
Compressing the output of picca_metal_dmat and picca_metal_xdmat to fits.gz when using a binning of 1Mpch^-1 in r-parallel and r-transverse results in a failure to open the metal files. This is resolved when not using compression (.fits) but the file size is very large, ~6GB for full Everest.

[2022-02-17 16:06] andreufont opened #847 "true continuum branch should use mean flux measured from transmission skewers"
Right now it uses a 2nd order polinomial in effective optical depth, but we should be using the actual <F>(z) measured from the skewers. This should be stored in the same files containing var_lss, so it should be easy to implement.

@andreicuceu , @iprafols , @alxogm , @cramirezpe

[2022-02-17 17:44] alxogm opened #848 "Include metadata to var_lss files"
Add metadata to files used for interpolating var_lss obtained from raw mocks.

https://github.com/igmhub/picca/tree/delta_extraction_true_continuum/py/picca/delta_extraction/expected_fluxes/var_lss

Also figure out if regions other than Lya will be included in the same files, different hdu's maybe...

[2022-03-04 16:04] andreufont commented on #847
addressed in #860

[2022-03-04 16:04] #847 closed

[2022-03-08 11:15] andreufont commented on #812
@Waelthus , @iprafols - should we ask for volunteers for this type of tasks?

[2022-03-08 11:16] andreufont commented on #719
@calumgordon - just pointing you to this issue in Picca, in case you wanted to tackle this.

[2022-03-08 11:22] andreufont commented on #700
@Waelthus , @iprafols - this is probably one of the next big things we should tackle in Picca. There is still left-over SDSS terminology spread all over. Maybe we should ask a volunteer to tackle this?

[2022-03-08 11:32] iprafols commented on #812
Yes, we should ask for some vounteers in the next picca telecon

[2022-03-08 11:37] iprafols commented on #700
This requires quite a bit of thought. From my point of view, it means doing something similar to the delta_extraction branch but for the computation of the correlation functions. There is currently much code repeated between the cf.py and xcf.py files that makes maintaining and updating the code troublesome. It would be great to find a volunteer to start thinking about how to do this and once we h

[2022-03-08 13:18] andreufont commented on #700
We could try to do a major reshuffling of the correlation measurements, but I was hoping that we can do something about the SDSS variables in a much shorter timescale. Let's talk about this at a Picca call.

[2022-03-08 13:30] Waelthus commented on #700
We could try adding the new names (eg los_id) everywhere relevant in the shared backbone (e.g. io.py/data.py...) without removing the old names (e.g. thingid which is currently used at >200 positions in >20 files) just yet. That would allow us to still use all routines, but also enable us to change things gradually.
Naively, I'd assume that a major rewrite of cf related business might take too lon

[2022-03-08 13:32] andreufont commented on #700
@Waelthus, I like this approach. We can progressively clean up and move towards the new naming convention without breaking the existing code.

[2022-03-25 15:48] #816 closed

[2022-04-06 09:53] andreufont opened #876 "Change forest.continuum to forest.expected_flux"
Once we are happy with the many ongoing PRs, we should address this confusing naming. We currently use forest.continuum to mean "continuum * mean flux*, but other continuum fitting codes will not want to use this, an will want to clearly separate these. Renaming the variable to continuum.expected_flux would at least make this clear and avoid confusion.

[2022-04-25 22:43] p-slash opened #881 "Resomat clipping produces warnings"
While running picca_delta_extraction, the following warning pops up:
/global/u1/n/naimgk/picca/py/picca/delta_extraction/utils_pk1d.py:248: RuntimeWarning: divide by zero encountered in true_divide
  np.sqrt(4.0 / 2.0 / np.log(
/global/u1/n/naimgk/picca/py/picca/delta_extraction/utils_pk1d.py:242: RuntimeWarning: invalid value encountered in sqrt
  (np.sqrt(1.0 / 2.0 / np.log(
which is here:
https

[2022-04-26 07:32] Waelthus commented on #881
I'm not sure if this would help, currently we're not using these rough resolution estimates within the analysis anyway.
But agreed that the warnings are annoying.

Note that if we're ever actually impacted by these estimates becoming nan/inf (i.e. if we have the reso matrix diagonal match the first/second off-diagonal in a pixel after clipping resulting in division by zero ) we should be getting a

[2022-04-26 14:47] p-slash commented on #881
There are also surprising amounts of negative elements in resolution matrix, so this is probably quite common.
Yeah, the final results are numerical, so I don't think this is a crucial bug. But some pixels might be spuriously masked by np.isnan checks or something down the line.

[2022-05-04 09:49] iprafols opened #885 "possible inconsistency of healpix values"
Right now both `AstronomicalObject` and `DesiQuasarCatalogue` compute the HEALPix of each line-of-sight but not necessarily using the same `in_nside`.

Some details:
- The HEALPix in `AstronomicalObject` is used to save the data in "HEALPix files", i.e. all the deltas within the same HEALPix are saved on the same file. Here `in_nside=16`
- The HEALPix in `DesiQuasarCatalogue` is used to read the d

[2022-05-04 09:51] iprafols commented on #737
@julianbautista I belive this is not an issue anymore. Unless you complain shortly, I will close the issue

[2022-05-04 09:53] iprafols commented on #738
This is no longer an issue in the new `picca_delta_extraction.py`. @andreufont unless you complain I will close this issue shortly

[2022-05-04 09:55] iprafols commented on #747
Update: The delta extraction code has been merged in master for a while now. Before we can fully close this issue, we should refactorize the correlation function computation

[2022-05-04 09:59] iprafols commented on #750
This is outdated as both DESI environment and PICCA has moved to iminuit 2.x.

[2022-05-04 09:59] #750 closed

[2022-05-04 10:01] iprafols commented on #752
PR #878  partially solved this for the continuum fitting. Corrections and Masks testing still needs to be improved

[2022-05-04 10:03] iprafols commented on #759
This was addressed some time ago (too lazy to look for the commit, sorry), but now we don't have the script `picca_export_coadd_zint` anymore.

[2022-05-04 10:03] #759 closed

[2022-05-04 10:07] iprafols commented on #760
Reading of spectra is now parallelized for DesiHealpix and DesiSim (see PR #875 ). Not sure it makes sense to parallelize data reading for SdssData, but we should probably implement it for DesiTile before closing this issue

[2022-05-04 10:17] iprafols opened #886 "Vega is missing from picca"
We are now using Vega as our main fitter, and fitter2 is deprecated. However, Vega is still not included as part of the package.
@andreicuceu has some ideas on how to properly add it so that Vega is also automatically installed when installing picca

[2022-05-04 12:31] iprafols commented on #885
Edit: The HEALPix value in `AstronomicalObject` is overwritten by method `find_nside` from `Data` which is run at the end of `Survey.read_data`

[2022-05-04 15:17] Waelthus commented on #885
I don't think that this is a bug except for maybe that it isn't done for DRQ, but it might just not be needed there as files are not stored in healpix order anyway (at least from my limited (e)BOSS understanding). The DESI files are just stored in some way that has been decided on at some point, so I guess we should probably just stick to that.

But for the outputs it can be useful to have coarser

[2022-06-17 14:40] andreufont commented on #886
@andreicuceu , if this turned out to be a pain, we could also leave Vega outside of Picca. It would be nice to have them together, but I'm not sure this is a requirement.

[2022-06-18 17:18] andreicuceu commented on #886
@andreufont, I'm still considering the different options. I recently realized that picca is in PyPI (https://pypi.org/project/picca/), so one of the easier approaches would be to also add vega to PyPI, so you can just do "pip install vega". In that case, we could just make vega a dependency of picca, and it would be automatically installed.

There are other options I'm considering, but those would

[2022-06-21 16:36] Waelthus opened #901 "Perlmutter"
need to test picca on Perlmutter...

[2022-06-28 23:07] p-slash opened #909 "Questions for BAL masking"
velocity_list (list of strings) seems to be modified inside the for loop (to a catalog). Also match_index does not seem to be an array -- does it have to be?
I was looking into ways to speed up this code, so we can possibly rework some of it in one go.
https://github.com/igmhub/picca/blob/c2e7c2646d5cb8d55c863ec7c12a66e698c11ede/py/picca/delta_extraction/masks/bal_mask.py#L160-L186

[2022-07-01 15:58] p-slash commented on #909
fixed in pr #910

[2022-07-02 16:17] p-slash commented on #881
Branch `resomat-nan-fix` addresses this issue. It changes MEAN_RESO values slightly. Need to test on data to check against crashing behaviors.

[2022-07-11 09:50] Waelthus commented on #901
this has been done during the collaboration meeting and no issues were found.

[2022-07-11 09:50] #901 closed

[2022-07-20 16:00] cramirezpe opened #912 "stack of deltas normalisation in delta extraction"
Moving here the discussion started in slack.

Naim wanted to discuss why we are using the following correction for the mean expected flux:
https://github.com/igmhub/picca/blob/78871269790a55627b6bd69e60d006de3cac075d/py/picca/delta_extraction/expected_fluxes/dr16_expected_flux.py#L961
just before saving the deltas.

In principle, this correction should be close to one if the calibration is working

[2022-07-25 12:33] iprafols commented on #912
addresse by #913

[2022-07-27 09:29] iprafols opened #917 "AbsorberMask does not seem to work"
Adding or not the AbsorberMaks seems not to have any change on the deltas. This is not the expected behavior and should be fixed

[2022-08-03 08:04] cramirezpe opened #920 "deltas data format"
Moving here the discussion started in yesterday's telecon.

Now that we are going to release a delta catalog for early-3d data, it might be a good time to think about changes in how deltas are stored.

The current format stores deltas creating one HDU card for each of the forests. This might not be optimal for efficiently reading deltas.

The option that seems more reasonable (as pointed out by Ju

[2022-08-04 18:41] p-slash commented on #920
I want to push back against these changes. I do not think we are limited by io at this point. We have 5yr DESI with no problem in reading data.

If we were to change how spectra are stored (with empty pixels) within picca, that will create a lot changes throughout the code. It is a lot of work (see PR #919 ). Also we then break some assumptions in correlation function estimators and p1d estimators

[2022-08-05 09:25] Waelthus commented on #920
I agree that it wouldn't be great to change the internal data formats for the analysis at the present time as it might lead to side effects for people's EDR or early DR1 analyses. The post-processing script to re-organize the format for the public release sounds like a good compromise. It's definitely good to have potential data format changes on our radar.
A good time for an actual change in how

[2022-08-05 09:34] Waelthus commented on #917
Is this generally the case? Or might the mask file just not have any entries that would lead to masking in the specified redshift/lambda_rest range?
Also: can you clarify what the difference between the absorber and lines mask is exactly? Or do we just have both to allow e.g. different mask width?
Is it only AbsorberMask that is affected or might one of the other masks face the same issues?

[2022-08-17 09:15] Waelthus opened #924 "Master -> Main?"
Now that desihub renamed the master repos to main, should we just piggyback on their experience (and use their instructions) and do the same here?

[2022-08-31 15:27] iprafols commented on #924
Sure, I don't see why not

[2022-08-31 15:30] iprafols commented on #516
I believe this was solved in Vega. @andreicuceu any comments? @andreufont do you agree?  If you do, maybe we should close the issue

[2022-08-31 15:32] iprafols commented on #560
@vserret , was this ever merged?

[2022-08-31 15:34] iprafols commented on #575
This was addressed in the delta_extraction module

[2022-08-31 15:34] #575 closed

[2022-09-03 12:16] andreicuceu commented on #516
Hi @iprafols, this is indeed addressed by Vega and was also implemented in fitter2 by https://github.com/igmhub/picca/pull/686. So we can close this issue.

[2022-09-06 22:35] p-slash opened #927 "Recalculation of var_lss in true continuum problem"
True continuum analysis recalculates `var_lss` from pixel statistics in the following lines. It is a necessary step in the current framework. However, it is also problematic when the statistics are low. Example below for negative var_lss in true continuum analysis.
Maybe we can introduce a fail-safe such as replace only if `estimated var_lss is within 50% of given var_lss`. Thoughts? @iprafols @Wa

[2022-09-12 20:40] HiramHerrera opened #929 "picca_delta_extraction does not have an option to save QSOs metadata."
Back then, `picca_deltas.py` used to have an option `--metadata` to store QSOs metadata such as the fitted continuum parameters (p0 and p1). Searching for an equivalent option in `picca_delta_extraction.py` I found that option is missing.

[2022-10-17 13:48] iprafols commented on #676
We have addressed this in the delta_extraction branch, but this still needs to be checked for the cross-correlation

[2022-10-17 13:54] #692 closed

[2022-10-17 13:58] iprafols commented on #192
The fitting is no longer developed here. We moved to using the Vega package https://github.com/andreicuceu/vega

[2022-10-17 13:58] #192 closed

[2022-10-17 14:02] iprafols commented on #487
This might be a bit obsolete given the bookkeeper by @cramirezpe. Then again, we should either update this script (also to using Perlmutter) or else remove it

[2022-10-17 14:03] iprafols commented on #487
The bookkepper apparently not yet public so maybe we can just fix the script

[2022-10-17 14:04] iprafols commented on #463
@andreicuceu maybe this is something that Vega still does? If so, maybe we can transfer the issue? Otherwise I'd say we close it

[2022-10-17 14:05] #503 closed

[2022-10-17 14:10] iprafols commented on #819
I think this was addressed by the introduction of the classes Dr16ExpectedFluxFixedEta and similar. @alxogm do you agree? If so, we can close this issue

[2022-10-17 14:16] iprafols commented on #927
seems reasonable to me

[2022-10-17 14:22] andreicuceu commented on #463
Yes, we still do this, so we should transfer the issue. I was planning to mention this exact thing at today's meeting haha, so quite a coincidence.

[2022-11-29 16:00] andreicuceu opened #937 "Checking output folder in picca_delta_extraction"
When running picca_delta_extraction this code is used to initialize output folders and check for previous runs (L609-631 of config.py).
[code]

However, this doesn't actually check for previous runs. It just checks if the output folder exists or not, and if it already exists it throws an error even if the folder is empty (unless the overwrite flag is passed). We should change this to check if ther